/* --------------------------------------------
			4.1 Change currency & language
	-------------------------------------------- */

.site_settings{
    font-size:13px;
    cursor: pointer;
    margin-left:15px;
    color:#333;
    position: relative;
    z-index: 122;
}

.site_settings img{
    vertical-align: middle;
    margin-right:6px;
    margin-top:-2px;
}

.site_settings .current{ position: relative; }

.active_option::after,
.site_settings .current::after,
.open_categories::after,
.open_categories_sticky::after,
#open_shopping_cart .title::after{
    font-family: 'fontello';
    display: inline-block;
    margin-left:8px;
    content: '\e8c8';
    font-size:10px;
}

.site_setting_list{
    position: absolute;
    top:100%;
    right:0;
    text-align: left;
}

.site_setting_list.language{ width:100px; }

.site_setting_list > li:not(:first-child) > a{ border-top: none; }

.site_setting_list > li:first-child > a{ border-radius:3px 3px 0 0; }

.site_setting_list a{
    display: block;
    padding:3px 10px;
    background:#fff;
    border:1px solid #eaeaea;
}

.site_setting_list > li:last-child > a{ border-radius: 0 0 3px 3px; }

.site_setting_list a:hover{
    background: #0000b4;
    color: #fff;
    border-color: #0000b4;
}