/* --------------------------------------------
			4.3 Main navigation
	-------------------------------------------- */

#main_navigation_wrap{
    width: inherit;
    position: relative;
    background-color: #fff;
    z-index: 115;
}

#main_navigation_wrap::after,
#main_navigation_wrap::before{
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    border-top: 1px solid #eaeaea;
}

#main_navigation_wrap::after{ top: 0px; }

#main_navigation_wrap::before{ bottom :0px; }

.sticky_inner,
.full_width_nav{
    display: table;
    width: 100%;
    position: relative;
    z-index: 102;
}

.sticky_inner{ table-layout: fixed; }

.full_width_nav > ul{ display: table-row; }

.sticky_inner > .nav_item,
.full_width_nav > ul > li{
    display: table-cell;
    border: 1px solid #eaeaea;
    position: relative;
    background-clip: padding-box;

    -webkit-transition: border-color .7s ease, background-color .7s ease;
    transition: border-color .7s ease, background-color .7s ease;
}

.main_navigation > ul > li > a{
    display: block;
    font-size: 16px;
    padding: 16px 30px 17px 17px;
    position: relative;
}

.main_navigation:not(.full_width_nav) > ul > li{ float: left; }

.main_navigation > ul li{ position: relative; }

.main_navigation:not(.full_width_nav) > ul > li > a{
    border: 1px solid #eaeaea;
    background-color: #fff;
    padding: 16px 18px 17px;
}

/* main theme submenu */

.theme_menu > li{ position: relative; }

.theme_menu > li > a{
    position: relative;
    display: block;
    background: #fff;
    border: 1px solid #eaeaea;
    padding: 11px 40px 10px 19px;
}

.theme_menu > li:not(:first-child) > a{ border-top-width: 0px; }

.theme_menu > li:first-child > a{ border-radius: 3px 3px 0 0; }
.theme_menu > li:last-child > a{ border-radius: 0 0 3px 3px; }

.theme_menu > li > a::before{
    display: block;
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    border-width: 1px 0 0 0;
    border-color: #0000b2;
    border-style: solid;
    opacity: 0;

    -webkit-transition: opacity .7s ease;
    transition: opacity .7s ease;
}

.theme_menu > li:not(:first-child) > a::before{ content: ""; }

.theme_menu > li:hover > a,
.theme_menu > .current > a,
.theme_menu > .tablet_active > a,
.theme_menu > .mobile_active > a{
    color: #fff;
    background: #0000b2;
    border-color: #0000b2;
}

.theme_menu > li:hover > a::before,
.theme_menu > .current > a::before,
.theme_menu > .tablet_active > a::before,
.theme_menu > .mobile_active > a::before{
    opacity: 1;

    -webkit-transition: opacity .1s ease;
    transition: opacity .1s ease;
}

.theme_menu > li:hover > a::after,
.theme_menu > .current > a::after,
.theme_menu > .active > a::after,
.theme_menu > .tablet_active > a::after,
.theme_menu > .mobile_active > a::after{
    color: #fff;
}

/* submenu */

.submenu{
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 240px;
}

.submenu .submenu{
    top: -1px;
    left: 100%;
    min-width: 200px;
    margin-left: -1px;
}

.submenu > .has_submenu:not(:first-child) > .submenu > li:first-child > a{ padding-top: 12px; }
.submenu > .has_submenu:first-child > .submenu { top: 0; }

.submenu .submenu > li:first-child > a{ border-radius: 0 3px 0 0; }

.has_submenu > a::after,
.has_megamenu > a::after{
    content: "\eda4";
    right: 18px;
    font-family: 'fontello';
    position: absolute;
    top: 50%;
    color: #b2b2b2;
    margin-top: -10px;
}

.has_submenu .has_submenu > a{ padding-right: 40px; }

/* submenu in main navigation */

.main_navigation > ul > .has_submenu > a{ padding-right: 30px !important; }

.main_navigation > ul > .has_submenu > .submenu > li:first-child > a,
.main_navigation > ul > .has_submenu > .submenu > li:first-child .submenu > li:first-child > a{
    border-top-width: 0px;
    border-radius: 0px;
}

.topbar > .has_submenu > a::after,
.main_navigation > ul > .has_submenu > a::after,
.main_navigation > ul > .has_megamenu > a::after{
    content: '\e8c8';
    font-size: 11px;
    right: 15px;
}

.topbar > .has_submenu:hover > a::after,
.main_navigation > ul > .has_submenu:hover > a::after,
.main_navigation > ul > .has_megamenu:hover > a::after,
.topbar > .current > a::after,
.main_navigation > ul > .current > a::after,
.topbar > .tablet_active > a::after,
.main_navigation > ul > .tablet_active > a::after,
.topbar > .mobile_active > a::after,
.main_navigation > ul > .mobile_active > a::after{
    color: #fff;
}

.main_navigation > ul > li .has_submenu:not(:first-child) > .submenu > li:first-child > a{
    border-top-width: 1px;
    padding-bottom: 9px;
    border-radius: 0 3px 0 0;
}

/* submenu in tobar */

.topbar .has_submenu .has_submenu > a::after{ right: 7px; }

.topbar > .has_submenu:hover > a,
.topbar > .has_submenu:hover > a::after,
.topbar > .tablet_active > a,
.topbar > .tablet_active > a::after,
.topbar > .mobile_active > a,
.topbar > .mobile_active > a::after{ color: #0000b2; }

.topbar > li > .submenu{ left: -7px; }
.topbar .submenu{ min-width: 175px !important; }

.topbar > li .submenu a{ padding: 4px 7px 3px !important; }

.topbar .submenu > li:hover > a,
.topbar .submenu > .current > a,
.topbar .submenu > .tablet_active > a,
.topbar .submenu > .mobile_active > a{
    background-color: #0000b4 !important;
    border-color: #0000b4 !important;
}

.topbar .submenu > li > a::before{ border-color: #0000b4; }

.topbar > .has_submenu > a{
    position: relative;
    padding-right: 12px;
}
.topbar > .has_submenu > a::after{ right: 0px; }

.topbar .submenu > .has_submenu:first-child > .submenu{ top: 0px; }

.main_navigation > ul > .current > a,
.main_navigation .mobile_active > a,
.main_navigation .tablet_active > a,
.main_navigation:not(.full_width_nav) > ul > li:hover > a{
    color: #fff !important;
    background: #0000b2 !important;
    border-color: #0000b2 !important;
}

.full_width_nav > ul > li > .submenu{ margin-top: 1px; }

.full_width_nav > ul > li:hover,
.full_width_nav > ul > .current,
.full_width_nav > ul > li.tablet_active,
.full_width_nav > ul > li.mobile_active{
    border-color:#0000b2;
    background: #0000b2;

    -webkit-transition: border-color .1s ease, background-color .1s ease;
    transition: border-color .1s ease, background-color .1s ease;
}


.full_width_nav > ul > li:hover > a,
.full_width_nav > ul > .current > a,
.full_width_nav > ul > li.tablet_active > a,
.full_width_nav > ul > li.mobile_active > a{
    color: #fff;

    -webkit-transition-duration: .1s;
    transition-duration: .1s;
}

.sticky_inner > .nav_item:not(:first-child),
.full_width_nav > ul > li:not(:first-child),
.main_navigation:not(.full_width_nav) > ul > li:not(:first-child) > a,
.nav_item + .nav_item .main_navigation > ul > li:first-child > a{ border-left-width: 0px; }

.full_width_nav > ul > li:last-child{
    width:1%;
    white-space: nowrap;
}

.mega_menu,
.topbar .submenu,
.main_navigation .submenu{
    opacity: 0;
    visibility: hidden;

    -webkit-transition: -webkit-transform .4s ease, opacity .4s ease, visibility .4s ease;
    transition: transform .4s ease, opacity .4s ease, visibility .4s ease;

    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
}

.cats .mega_menu{
    top: -1px;
    left: 100%;
    margin-left: -1px;
    border-radius:0 3px 3px 3px;

    -webkit-backface-visibility: hidden;
}

.main_navigation .mega_menu{
    top: 100%;
    left: 0px;
    border-radius: 0 0 3px 3px;

    -webkit-backface-visibility: hidden;
}

.md_no-touch .has_megamenu:hover > .mega_menu,
.md_touch .tablet_active > .mega_menu,
.md_no-touch .has_submenu:hover > .submenu,
.md_touch .tablet_active > .submenu{
    opacity: 1;
    visibility: visible;

    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
}