/* --------------------------------------------
				4.3.1 Mega menu
		-------------------------------------------- */

.mega_menu{
    border: 1px solid #eaeaea;
    background: #fff;
    position: absolute;
    padding: 14px 20px;
    z-index: 101;
    white-space: nowrap;
}

.main_navigation > ul > .has_megamenu{ position: static; }

.full_width_nav .mega_menu{
    width: 100% !important;
    border-top-width: 0px;
}

.mega_menu.type_2,
.mega_menu.type_3{
    width:810px;
    padding:23px 20px 13px;
}

.mega_menu.type_3{
    overflow: hidden;
    padding:23px 20px;
}

.mega_menu.type_4{ padding:23px 20px 30px;	}

.mega_menu.type_2 img{ margin-top:5px; }

.mega_menu.type_2 h1,
.mega_menu.type_2 h2,
.mega_menu.type_2 h3,
.mega_menu.type_2 h4,
.mega_menu.type_2 h5,
.mega_menu.type_2 h6,
.mega_menu.type_4 h1,
.mega_menu.type_4 h2,
.mega_menu.type_4 h3,
.mega_menu.type_4 h4,
.mega_menu.type_4 h5,
.mega_menu.type_4 h6{
    padding-left:10px;
    padding-right:10px;
    margin-bottom:8px;
}

.mega_menu .mega_menu_item{
    display: inline-block;
    white-space: normal;
}

.mega_menu_item hr{ margin:18px 0 15px; }

.mega_menu .mega_menu_item .list_of_links{ width: 190px; }

.mega_menu .mega_menu_item:not(:first-child){ margin-left:5px; }

.mega_menu .list_of_links > li > a{
    border:none;
    padding:5px 10px;
}

.mega_menu .list_of_links > li > a:hover{ background-color: #f8f8f8; }

.mega_menu.type_3 .mega_menu_item{
    display: block;
    margin-left:0px !important;
}

.mega_menu.type_3 .mega_menu_item:first-child{
    float: left;
    margin-top:-8px;
}

.mega_menu.type_3 .mega_menu_item:first-child + .mega_menu_item{
    overflow: hidden;
    padding-left:15px;
}

.products_in_mega_menu .product_item{
    padding:0;
    border:none;
}

.products_in_mega_menu .product_item .image_wrap{
    margin:0;
    padding:8px 0;
}

.products_in_mega_menu .product_item [class*="label_"]{
    top:7px;
    left:5px;
}

.mega_menu_banner{ margin: 20px 0 0; }

.full_width_nav .mega_menu.type_4{ padding-bottom: 20px; }

.full_width_nav .mega_menu.type_4 .mega_menu_item{
    display: block;
    float: left;
}
.full_width_nav .mega_menu.type_4 .mega_menu_banner{
    overflow: hidden;
    padding-left: 10px;
    margin-top: 10px;
}