/* --------------------------------------------
				4.3.2 Sticky menu
		-------------------------------------------- */

#main_navigation_wrap.sticky{
    position: fixed;
    top: 0;
    z-index: 110;
}

.nav_item{
    border-top-width: 0px !important;
    border-bottom-width: 0px !important;
    height: 66px;
    position: relative;
}

.nav_item:not([class*="size"]){ z-index: 1; }

.sticky_inner.type_2 .nav_item{ height: 56px; }

.nav_item.size_1{ width: 68px; }
.nav_item.size_2{ width: 168px; }
.nav_item.size_3{ width: 155px; }
.nav_item.size_4{ width: 55px; }

.nav_item.inner_offset{ padding: 11px 20px; }

.nav_item:not(.inner_offset) > button,
.nav_item:not(.inner_offset) > .login_box,
.nav_item:not(.inner_offset) > [class*="button"]{
    width: inherit;
    height: inherit;
    border-left: none !important;
    border-right: none !important;
    border-radius: 0px !important;
}

.nav_item .toggle_menu{
    width: 100% !important;
}

/* --------------------------------------------
				4.3.3 Sticky header
		-------------------------------------------- */

.sticky_part{
    width: inherit;
    background-color: #fff;
    z-index: 115;
}

.sticky_part.sticky{
    position: fixed;
    top: 0;
}

.sticky_part.sticky .topbar,
.sticky_part.sticky .call_us,
.sticky_part.sticky .shop_links,
.sticky_part.sticky .site_settings{
    display: none !important;
}

.sticky_part.sticky .main_header_row{
    display: table;
    width: 100%;
}

.sticky_part.sticky .main_header_row > *{
    float: none;
    display: table-cell;
    vertical-align: middle;
}

.sticky_part .logo > img{
    -webkit-transition: -webkit-transform .3s ease;
    transition: 		transform .3s ease;
}

.sticky_part.sticky .logo > img{
    -webkit-transform: scale(.7);
    -ms-transform: scale(.7);
    transform: scale(.7);
}