<%= render partial: 'shared/breadcrumbs' %>

<div class="row">

  <aside class="col-md-3 col-sm-4 has_mega_menu">

    <!-- - - - - - - - - - - - - - Categories - - - - - - - - - - - - - - - - -->
    <section class="section_offset">
      <h3>Категории товаров</h3>
      <%= render partial: 'shared/categories_menu',
                 locals: {is_dropdown: false} %>
    </section>

    <!-- - - - - - - - - - - - - - Filters - - - - - - - - - - - - - - - - -->
    <section class="section_offset">
      <h3>Фильтры</h3>
      <%= render partial: 'shared/filters' %>
    </section>

    <!-- - - - - - - - - - - - - - Banner - - - - - - - - - - - - - - - - -->
    <div class="section_offset">
      <a href="#" class="banner">
        <img src="/static/images/banner_img_3.jpg" alt="">
      </a>
    </div>

    <!-- - - - - - - - - - - - - - Already viewed products - - - - - - - - - - - - - - - - -->
    <section class="section_offset">
      <h3>Вы ранее смотрели</h3>

      <ul class="products_list_widget">
        <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->
        <li>

          <a href="#" class="product_thumb">
            <img src="/static/images/product_thumb_4.jpg" alt="">
          </a>

          <div class="wrapper">
            <a href="#" class="product_title">Aenean auctor wisi et urna...</a>

            <div class="clearfix product_info">
              <p class="product_price alignleft"><b>5.99</b></p>

              <!-- - - - - - - - - - - - - - Product rating - - - - - - - - - - - - - - - - -->
              <ul class="rating alignright">
                <li class="active"></li>
                <li class="active"></li>
                <li class="active"></li>
                <li class="active"></li>
                <li></li>
              </ul>

            </div>

          </div>

        </li>
        <!-- - - - - - - - - - - - - - End of product - - - - - - - - - - - - - - - - -->
      </ul>
      <!--/ .list_of_products-->
    </section>


    <!-- - - - - - - - - - - - - - Compare products - - - - - - - - - - - - - - - - -->
    <section class="section_offset">

      <h3>Сравнение товаров</h3>

      <ul class="products_list_widget">

        <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->
        <li>
          <a href="#" class="product_thumb">
            <img src="/static/images/product_thumb_10.jpg" alt="">
          </a>

          <div class="wrapper">
            <a href="#" class="product_title">Integer rutrum ante eu lacus...</a>

            <div class="clearfix product_info">
              <p class="product_price alignleft"><s>29.99</s> <b>21.99</b></p>
            </div>
          </div>
        </li>

        <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->
        <li>
          <a href="#" class="product_thumb">
            <img src="/static/images/product_thumb_11.jpg" alt="">
          </a>

          <div class="wrapper">
            <a href="#" class="product_title">Vestibulum ante ipsum primis in...</a>

            <div class="clearfix product_info">
              <p class="product_price alignleft"><b>13.99</b></p>
            </div>
          </div>
        </li>

      </ul>
      <!--/ .list_of_products-->

      <footer class="bottom_box">
        <a href="#" class="button_grey middle_btn">Перейти к сравнению</a>
      </footer>

    </section>

    <!-- - - - - - - - - - - - - - Banner - - - - - - - - - - - - - - - - -->
    <div class="section_offset">
      <a href="#" class="banner">
        <img src="/static/images/banner_img_5.jpg" alt="">
      </a>
    </div>


  </aside>

  <main class="col-md-9 col-sm-8">

    <!-- - - - - - - - - - - - - - Today's deals - - - - - - - - - - - - - - - - -->
    <section class="section_offset">
      <h3 class="widget_title offset_title">Акция Дня</h3>

      <div class="owl_carousel widgets_carousel">
        <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->
        <div class="theme_box clearfix">

          <div class="single_product">

            <div class="image_preview_container">

              <img src="/static/images/qv_img_1.jpg" alt="">

              <!-- - - - - - - - - - - - - - Label - - - - - - - - - - - - - - - - -->

              <div class="label_offer percentage">

                <div>30%</div>
                СКИДКА

              </div>

              <!-- - - - - - - - - - - - - - End label - - - - - - - - - - - - - - - - -->

            </div>
            <!--/ .image_preview_container-->

            <!-- - - - - - - - - - - - - - Countdown - - - - - - - - - - - - - - - - -->
            <div class="countdown" data-year="2016" data-month="1" data-day="6" data-hours="15" data-minutes="0" data-seconds="0"></div>
          </div>


          <div class="single_product_description">

            <h3 class="offset_title"><a href="#">Vestibulum ante, Original 24 fl oz</a></h3>

            <div class="description_section v_centered">

              <%= render partial: 'shared/rating' %>

              <ul class="topbar">
                <li><a href="#">3 отзыва</a></li>
                <li><a href="#">Оставить отзыв</a></li>
              </ul>
            </div>

            <div class="description_section">
              <table class="product_info">
                <tbody>
                <tr>
                  <td>Производитель:</td>
                  <td><a href="#">Bayer Consumer Care</a></td>
                </tr>

                <tr>
                  <td>В наличии:</td>
                  <td><span class="in_stock">5 едениц</span> на складе</td>
                </tr>

                <tr>
                  <td>Код товара:</td>
                  <td>PS06</td>
                </tr>
                </tbody>
              </table>

            </div>

            <hr>

            <div class="description_section">
              <p>Mauris fermentum dictum magna. Sed laoreet aliquam leo.
                Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit.
                Aenean auctor wisi et urna. Aliquam erat volutpat. Duis
                ac turpis.</p>
            </div>

            <div class="description_section">
              <div class="table_wrap product_price_table">
                <table>
                  <tbody>
                  <tr>
                    <td class="special_price">
                      Акция:
                      <div class="price">5.99</div>
                    </td>
                    <td class="old_price">
                      Старая цена:
                      <div class="price">9.99</div>
                    </td>
                    <td class="save">
                      Вы экономите:
                      <div class="price">4.00</div>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>

              <p class="hurry_message"><span>Поспешите!</span> Осталось всего 20 едениц!</p>

            </div>

            <!-- - - - - - - - - - - - - - Product actions - - - - - - - - - - - - - - - - -->

            <div class="buttons_row">
              <button class="button_blue middle_btn">В корзину</button>

              <button class="button_dark_grey def_icon_btn middle_btn add_to_wishlist tooltip_container">
                <span class="tooltip top">Отложить товар</span>
              </button>

              <button class="button_dark_grey def_icon_btn middle_btn add_to_compare tooltip_container">
                <span class="tooltip top">Сравнить</span>
              </button>
            </div>


          </div>

          <!-- - - - - - - - - - - - - - End of product description column - - - - - - - - - - - - - - - - -->

        </div>

        <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->
        <div class="theme_box clearfix">

          <div class="single_product">

            <div class="image_preview_container">

              <img src="/static/images/qv_img_2.jpg" alt="">

              <!-- - - - - - - - - - - - - - Label - - - - - - - - - - - - - - - - -->

              <div class="label_offer percentage">

                <div>20%</div>
                СКИДКА

              </div>

              <!-- - - - - - - - - - - - - - End label - - - - - - - - - - - - - - - - -->

            </div>
            <!--/ .image_preview_container-->

            <!-- - - - - - - - - - - - - - Countdown - - - - - - - - - - - - - - - - -->
            <div class="countdown" data-year="2016" data-month="1" data-day="6" data-hours="15" data-minutes="0" data-seconds="0"></div>
          </div>


          <div class="single_product_description">

            <h3 class="offset_title"><a href="#">Vestibulum ante, Original 24 fl oz</a></h3>

            <div class="description_section v_centered">

              <%= render partial: 'shared/rating' %>

              <ul class="topbar">
                <li><a href="#">3 отзыва</a></li>
                <li><a href="#">Оставить отзыв</a></li>
              </ul>
            </div>

            <div class="description_section">
              <table class="product_info">
                <tbody>
                <tr>
                  <td>Производитель:</td>
                  <td><a href="#">Bayer Consumer Care</a></td>
                </tr>

                <tr>
                  <td>В наличии:</td>
                  <td><span class="in_stock">5 едениц</span> на складе</td>
                </tr>

                <tr>
                  <td>Код товара:</td>
                  <td>PS06</td>
                </tr>
                </tbody>
              </table>

            </div>

            <hr>

            <div class="description_section">
              <p>Mauris fermentum dictum magna. Sed laoreet aliquam leo.
                Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit.
                Aenean auctor wisi et urna. Aliquam erat volutpat. Duis
                ac turpis.</p>
            </div>

            <div class="description_section">
              <div class="table_wrap product_price_table">
                <table>
                  <tbody>
                  <tr>
                    <td class="special_price">
                      Акция:
                      <div class="price">5.99</div>
                    </td>
                    <td class="old_price">
                      Старая цена:
                      <div class="price">9.99</div>
                    </td>
                    <td class="save">
                      Вы экономите:
                      <div class="price">4.00</div>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>

              <p class="hurry_message"><span>Поспешите!</span> Осталось всего 20 едениц!</p>

            </div>

            <!-- - - - - - - - - - - - - - Product actions - - - - - - - - - - - - - - - - -->
            <div class="buttons_row">
              <button class="button_blue middle_btn">В корзину</button>

              <button class="button_dark_grey def_icon_btn middle_btn add_to_wishlist tooltip_container">
                <span class="tooltip top">Отложить товар</span>
              </button>

              <button class="button_dark_grey def_icon_btn middle_btn add_to_compare tooltip_container">
                <span class="tooltip top">Сравнить</span>
              </button>
            </div>


          </div>

          <!-- - - - - - - - - - - - - - End of product description column - - - - - - - - - - - - - - - - -->

        </div>
      </div>

      <footer class="bottom_box">
        <a href="#" class="button_grey middle_btn">Другие Акционные Товары</a>
      </footer>
    </section>


    <section class="section_offset">

      <h1>Красота и Здоровье</h1>

      <p>Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula. Aliquam dapibus tincidunt metus.
        Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. Vestibulum sed ante. Donec sagittis euismod purus. Sed ut perspiciatis sit voluptatem accusantim doloremque
        laudantim.</p>

    </section>

    <!-- - - - - - - - - - - - - - Products - - - - - - - - - - - - - - - - -->
    <div class="section_offset">

      <%= render partial: 'shared/products_table_controls' %>

      <div class="table_layout list_view list_view_products" id="products_container">

        <% 5.times do %>
            <div class="table_row">
              <% 3.times do %>
                  <div class="table_cell">
                    <% item = [
                            ['label_offer percentage', '<div>20%</div> СКИДКА'],
                            ['label_new', 'Новинка'],
                            ['label_new', 'Рекомендовано'],
                            ['label_bestseller', 'Бестселлер'],
                            ['label_soldout', 'Закончился'],
                            ['', '']
                    ].sample
                    %>
                    <%= render partial: 'shared/product_item',
                               locals: {
                                       label_class: item[0],
                                       label_text: item[1],
                                       with_countdown: false,
                                       with_full_description: true
                               } %>
                  </div>
              <% end %>
            </div>
        <% end %>

      </div>
      <!--/ .table_layout -->

      <footer class="bottom_box on_the_sides">
        <div class="left_side">
          <p>Показано с 1 по 12 из 45 (3 страницы)</p>
        </div>
        <div class="right_side">
          <ul class="pags">
            <li><a href="#"></a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#"></a></li>
          </ul>
        </div>
      </footer>

    </div>
    <!-- - - - - - - - - - - End of products - - - - - - - - - - - - - - - - -->

  </main>

</div>
<!--/ .row -->

<% content_for :stylesheets do %>
    <link rel="stylesheet" href="/static/css/jquery-ui.min.css">
<% end %>

<% content_for :javascripts do %>
    <script src="/static/js/jquery-ui.min.js"></script>
<% end %>

<% content_for :footer do %>
    <%= render partial: 'shared/features_block' %>
<% end %>