<!-- - - - - - - - - - - - - - Breadcrumbs - - - - - - - - - - - - - - - - -->
<ul class="breadcrumbs">
  <li><a href="/">Главная</a></li>
  <li>Красота и Здоровье</li>
</ul>

<div class="row">

  <main class="col-md-9 col-sm-8">

    <section class="section_offset">

      <h1>Красота и Здоровье</h1>

      <a href="#" class="banner">
        <img src="/static/images/banner_img_14.jpg" alt="">
      </a>

      <p>Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula. Aliquam dapibus tincidunt metus.
        Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. Vestibulum sed ante. Donec sagittis euismod purus. Sed ut perspiciatis sit voluptatem accusantim doloremque
        laudantim.</p>

      <!-- - - - - - - - - - - - - - Subcategories - - - - - - - - - - - - - - - - -->
      <div class="table_layout subcategories">
        <div class="table_row">

          <!-- - - - - - - - - - - - - - Subcategory - - - - - - - - - - - - - - - - -->
          <div class="table_cell">
            <figure class="subcategory">
              <a href="#" class="thumbnail">
                <img src="/static/images/subcategory_img_1.jpg" alt="">
              </a>
              <figcaption>
                <a href="#">Уход за телом (830)</a>
              </figcaption>
            </figure>
          </div>

          <!-- - - - - - - - - - - - - - Subcategory - - - - - - - - - - - - - - - - -->
          <div class="table_cell">
            <figure class="subcategory">
              <a href="#" class="thumbnail">
                <img src="/static/images/subcategory_img_2.jpg" alt="">
              </a>

              <figcaption>
                <a href="#">Уход за волосами (91)</a>
              </figcaption>

            </figure>

          </div>

          <!-- - - - - - - - - - - - - - Subcategory - - - - - - - - - - - - - - - - -->
          <div class="table_cell">
            <figure class="subcategory">
              <a href="#" class="thumbnail">
                <img src="/static/images/subcategory_img_3.jpg" alt="">
              </a>
              <figcaption>
                <a href="#">Уход за лицом (178)</a>
              </figcaption>
            </figure>
          </div>

          <!-- - - - - - - - - - - - - - Subcategory - - - - - - - - - - - - - - - - -->
          <div class="table_cell">
            <figure class="subcategory">
              <a href="#" class="thumbnail">
                <img src="/static/images/subcategory_img_4.jpg" alt="">
              </a>
              <figcaption>
                <a href="#">Женская гигиена (491)</a>
              </figcaption>
            </figure>
          </div>

          <!-- - - - - - - - - - - - - - Subcategory - - - - - - - - - - - - - - - - -->
          <div class="table_cell">
            <figure class="subcategory">
              <a href="#" class="thumbnail">
                <img src="/static/images/subcategory_img_5.jpg" alt="">
              </a>
              <figcaption>
                <a href="#">Косметика для лица (226)</a>
              </figcaption>

            </figure>

          </div>

          <!-- - - - - - - - - - - - - - End of subcategory - - - - - - - - - - - - - - - - -->

        </div>
      </div>
      <!-- - - - - - - - - - - - - - End of subcategories - - - - - - - - - - - - - - - - -->

    </section>

    <!-- - - - - - - - - - - - - - Products - - - - - - - - - - - - - - - - -->
    <div class="section_offset">

      <%= render partial: 'shared/products_table_controls' %>

      <div class="table_layout list_view list_view_products" id="products_container">

        <% 3.times do %>
            <div class="table_row">
              <% 3.times do %>
                  <div class="table_cell">
                    <% item = [
                            ['label_offer percentage', '<div>20%</div> СКИДКА'],
                            ['label_new', 'Новинка'],
                            ['label_new', 'Рекомендовано'],
                            ['label_bestseller', 'Бестселлер'],
                            ['label_soldout', 'Закончился'],
                            ['', '']
                    ].sample
                    %>
                    <%= render partial: 'shared/product_item',
                               locals: {
                                       label_class: item[0],
                                       label_text: item[1],
                                       with_countdown: false,
                                       with_full_description: true
                               } %>
                  </div>
              <% end %>
            </div>
        <% end %>

      </div>
      <!--/ .table_layout -->

      <footer class="bottom_box on_the_sides">
        <div class="left_side">
          <p>Показано с 1 по 12 из 45 (3 страницы)</p>
        </div>
        <div class="right_side">
          <ul class="pags">
            <li><a href="#"></a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#"></a></li>
          </ul>
        </div>
      </footer>

    </div>

  </main>

  <aside class="col-md-3 col-sm-4">

    <!-- - - - - - - - - - - - - - Today's deals - - - - - - - - - - - - - - - - -->
    <section class="section_offset">

      <h3 class="widget_title">Акция Дня</h3>

      <!-- - - - - - - - - - - - - - Carousel of today's deals - - - - - - - - - - - - - - - - -->
      <div class="owl_carousel widgets_carousel">

        <% 5.times do %>
            <%= render partial: 'shared/product_item',
                       locals: {
                               label_text: '<div>20%</div> СКИДКА',
                               label_class: 'label_offer percentage',
                               with_countdown: true,
                               with_full_description: false
                       } %>
        <% end %>

      </div>
      <!--/ .widgets_carousel-->

      <!-- - - - - - - - - - - - - - View all deals of the day - - - - - - - - - - - - - - - - -->
      <footer class="bottom_box">
        <a href="#" class="button_grey middle_btn">Другие акции</a>
      </footer>

    </section>
    <!--/ .section_offset.animated.transparent-->

    <!-- - - - - - - - - - - - - - Filter - - - - - - - - - - - - - - - - -->
    <section class="section_offset">
      <h3>Фильтры</h3>
      <%= render partial: 'shared/filters' %>
    </section>

    <!-- - - - - - - - - - - - - - Banner - - - - - - - - - - - - - - - - -->
    <div class="section_offset">
      <a href="#" class="banner">
        <img src="/static/images/banner_img_3.jpg" alt="">
      </a>
    </div>

    <!-- - - - - - - - - - - - - - Already viewed products - - - - - - - - - - - - - - - - -->
    <section class="section_offset">
      <h3>Вы ранее смотрели</h3>

      <ul class="products_list_widget">
        <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->
        <li>

          <a href="#" class="product_thumb">
            <img src="/static/images/product_thumb_4.jpg" alt="">
          </a>

          <div class="wrapper">
            <a href="#" class="product_title">Aenean auctor wisi et urna...</a>

            <div class="clearfix product_info">
              <p class="product_price alignleft"><b>5.99</b></p>

              <!-- - - - - - - - - - - - - - Product rating - - - - - - - - - - - - - - - - -->
              <ul class="rating alignright">
                <li class="active"></li>
                <li class="active"></li>
                <li class="active"></li>
                <li class="active"></li>
                <li></li>
              </ul>

            </div>

          </div>

        </li>
        <!-- - - - - - - - - - - - - - End of product - - - - - - - - - - - - - - - - -->
      </ul>
      <!--/ .list_of_products-->
    </section>

    <!-- - - - - - - - - - - - - - Compare products - - - - - - - - - - - - - - - - -->
    <section class="section_offset">
      <h3>Сравнение товаров</h3>

      <div class="theme_box">
        Вы еще не добавили товары для сравнения.
      </div>
    </section>

    <!-- - - - - - - - - - - - - - Banner - - - - - - - - - - - - - - - - -->
    <div class="section_offset">
      <a href="#" class="banner">
        <img src="/static/images/banner_img_5.jpg" alt="">
      </a>
    </div>

    <!-- - - - - - - - - - - - - - Bestseller Products - - - - - - - - - - - - - - - - -->
    <section class="section_offset">

      <h3>Лидеры продаж</h3>

      <ul class="products_list_widget">

        <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->
        <li>
          <a href="#" class="product_thumb">
            <img src="/static/images/product_thumb_4.jpg" alt="">
          </a>

          <div class="wrapper">
            <a href="#" class="product_title">Suspendisse sollicitudin velit...</a>

            <div class="clearfix product_info">
              <p class="product_price alignleft"><b>5.99</b></p>

              <!-- - - - - - - - - - - - - - Product rating - - - - - - - - - - - - - - - - -->
              <ul class="rating alignright">
                <li class="active"></li>
                <li class="active"></li>
                <li class="active"></li>
                <li class="active"></li>
                <li></li>
              </ul>

            </div>
          </div>

        </li>

        <!-- - - - - - - - - - - - - - End of product - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->

        <li>
          <a href="#" class="product_thumb">
            <img src="/static/images/product_thumb_5.jpg" alt="">
          </a>

          <div class="wrapper">
            <a href="#" class="product_title">Donec sagittis euismod purus...</a>

            <div class="clearfix product_info">
              <p class="product_price alignleft"><b>8.99</b></p>
              <!-- - - - - - - - - - - - - - Product rating - - - - - - - - - - - - - - - - -->
              <ul class="rating alignright">
                <li class="active"></li>
                <li class="active"></li>
                <li class="active"></li>
                <li class="active"></li>
                <li class="active"></li>
              </ul>
              <!-- - - - - - - - - - - - - - End of product rating - - - - - - - - - - - - - - - - -->
            </div>
          </div>
        </li>

        <!-- - - - - - - - - - - - - - End of product - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->

        <li>
          <a href="#" class="product_thumb">
            <img src="/static/images/product_thumb_6.jpg" alt="">
          </a>

          <div class="wrapper">
            <a href="#" class="product_title">Sed ut perspiciatis unde, 2mg, White...</a>

            <div class="clearfix product_info">
              <p class="product_price alignleft"><b>76.99</b></p>
              <!-- - - - - - - - - - - - - - Product rating - - - - - - - - - - - - - - - - -->
              <ul class="rating alignright">
                <li class="active"></li>
                <li class="active"></li>
                <li class="active"></li>
                <li class="active"></li>
                <li class="active"></li>
              </ul>
              <!-- - - - - - - - - - - - - - End of product rating - - - - - - - - - - - - - - - - -->
            </div>

          </div>
        </li>

        <!-- - - - - - - - - - - - - - End of product - - - - - - - - - - - - - - - - -->

      </ul>
      <!--/ .list_of_products-->

      <footer class="bottom_box">
        <a href="#" class="button_grey middle_btn">Смотреть все</a>
      </footer>

    </section>

    <!-- - - - - - - - - - - - - - Sign Up to Our Newsletter - - - - - - - - - - - - - - - - -->
    <section class="section_offset">
      <h3>Акции и Новинки</h3>
      <%= render partial: 'shared/newsletter' %>
    </section>

    <!-- - - - - - - - - - - - - - Testimonials - - - - - - - - - - - - - - - - -->
    <section class="section_offset">
      <h3>Клиенты о нас</h3>
      <%= render partial: 'shared/testimonials' %>
    </section>
    <!--/ .section_offset.animated.transparent-->

  </aside>

</div>
<!--/ .row -->


<% content_for :stylesheets do %>
    <link rel="stylesheet" href="/static/css/jquery-ui.min.css">
<% end %>

<% content_for :javascripts do %>
    <script src="/static/js/jquery-ui.min.js"></script>
<% end %>

<% content_for :footer do %>
    <%= render partial: 'shared/features_block' %>
<% end %>