<section class="col-sm-4">

  <h3>Ваучеры и купоны</h3>

  <div class="theme_box">

    <p class="form_caption">Введите код ваучера или купона.</p>

    <form id="discount_code">
      <ul>
        <li class="row">
          <div class="col-xs-12">
            <input type="text" name="">
          </div>
        </li>
      </ul>
    </form>

  </div>
  <!--/ .theme_box -->
  <footer class="bottom_box">
    <button type="submit" form="discount_code" class="button_grey middle_btn">Применить</button>
  </footer>
</section>
<!--/ [col] -->