<section class="col-sm-4">

  <h3>Расчет доставки</h3>

  <div class="theme_box">

    <p class="form_caption">Выберите путь следования доставки.</p>

    <form id="estimate_shipping" class="type_2">

      <ul>

        <li class="row">

          <div class="col-xs-12">

            <label>Страна</label>

            <div class="custom_select">

              <select>
                <option value="Australia">Australia</option>
                <option value="Austria">Austria</option>
                <option value="Argentina">Argentina</option>
                <option value="Canada">Canada</option>
                <option selected value="USA">USA</option>
              </select>

            </div>

          </div>

        </li>

        <li class="row">

          <div class="col-lg-7 col-md-6">

            <label>Область</label>

            <div class="custom_select">

              <select>

                <option value="Alabama">Alabama</option>
                <option value="Illinois">Illinois</option>
                <option value="Kansas">Kansas</option>

              </select>

            </div>

          </div>
          <!--/ [col] -->

          <div class="col-lg-5 col-md-6">

            <label for="postal_code">Zip/Postal Code</label>
            <input type="text" name="" id="postal_code">

          </div>
          <!--/ [col] -->

        </li>

      </ul>

    </form>

  </div>
  <!--/ .theme_box -->

  <footer class="bottom_box">
    <button type="submit" form="estimate_shipping" class="button_grey middle_btn">Get a Quote</button>
  </footer>
  <!--/ .bottom_box -->

</section>
<!--/ [col] -->