<section class="section_offset">

  <h1>Корзина</h1>

  <!-- - - - - - - - - - - - - - Shopping cart table - - - - - - - - - - - - - - - - -->

  <div class="table_wrap">

    <table class="table_type_1 shopping_cart_table">

      <thead>

      <tr>
        <th class="product_image_col">Фото товара</th>
        <th class="product_title_col">Наименование</th>
        <th>Код товара</th>
        <th>Цена</th>
        <th class="product_qty_col">Количество</th>
        <th>Итого</th>
        <th class="product_actions_col">Действия</th>
      </tr>

      </thead>

      <tbody>

      <tr>

        <!-- - - - - - - - - - - - - - Фото товара - - - - - - - - - - - - - - - - -->

        <td class="product_image_col" data-title="Фото товара">

          <a href="#"><img src="/static/images/shopping_cart_img_3.jpg" alt=""></a>

        </td>

        <!-- - - - - - - - - - - - - - End of product Image - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Product name - - - - - - - - - - - - - - - - -->

        <td data-title="Наименование">

          <a href="#" class="product_title">Adipiscing aliquet sed in lacus, Liqui-gels 24</a>

          <ul class="sc_product_info">

            <li>Форма выпуска: Сироп</li>
            <li>Количество в упаковке: 100 мл.</li>

          </ul>

        </td>

        <!-- - - - - - - - - - - - - - End of product name - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Код товара - - - - - - - - - - - - - - - - -->

        <td data-title="Код товара">

          PS01

        </td>

        <!-- - - - - - - - - - - - - - End of Код товара - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Цена - - - - - - - - - - - - - - - - -->

        <td class="subtotal" data-title="Цена">

          5.99

        </td>

        <!-- - - - - - - - - - - - - - End of Цена - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Количество - - - - - - - - - - - - - - - - -->

        <td data-title="Количество">

          <div class="qty min clearfix">

            <button class="theme_button" data-direction="minus">&#45;</button>
            <input type="text" name="" value="1">
            <button class="theme_button" data-direction="plus">&#43;</button>

          </div>
          <!--/ .qty.min.clearfix-->

        </td>

        <!-- - - - - - - - - - - - - - End of quantity - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Итого - - - - - - - - - - - - - - - - -->

        <td class="total" data-title="Итого">

          5.99

        </td>

        <!-- - - - - - - - - - - - - - End of total - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Действия - - - - - - - - - - - - - - - - -->

        <td data-title="Действия">

          <a href="#" class="button_dark_grey icon_btn edit_product"><i class="icon-pencil"></i></a>

          <a href="#" class="button_dark_grey icon_btn remove_product"><i class="icon-cancel-2"></i></a>

        </td>

        <!-- - - - - - - - - - - - - - End of action - - - - - - - - - - - - - - - - -->

      </tr>

      <tr>

        <!-- - - - - - - - - - - - - - Фото товара - - - - - - - - - - - - - - - - -->

        <td class="product_image_col" data-title="Фото товара">

          <a href="#"><img src="/static/images/shopping_cart_img_2.jpg" alt=""></a>

        </td>

        <!-- - - - - - - - - - - - - - End of product Image - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Product name - - - - - - - - - - - - - - - - -->

        <td data-title="Наименование">

          <a href="#" class="product_title">Sed in lacus ut enim adipiscing dictum elementum velit Relief 4.25 fl oz (126ml)</a>

          <ul class="sc_product_info">

            <li>Форма выпуска: Сироп</li>
            <li>Количество в упаковке: 100 мл.</li>

          </ul>

        </td>

        <!-- - - - - - - - - - - - - - End of product name - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Код товара - - - - - - - - - - - - - - - - -->

        <td data-title="Код товара">

          PS02

        </td>

        <!-- - - - - - - - - - - - - - End of Код товара - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Цена - - - - - - - - - - - - - - - - -->

        <td class="subtotal" data-title="Цена">

          8.99

        </td>

        <!-- - - - - - - - - - - - - - End of Цена - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Количество - - - - - - - - - - - - - - - - -->

        <td data-title="Количество">

          <div class="qty min clearfix">

            <button class="theme_button" data-direction="minus">&#45;</button>
            <input type="text" name="" value="1">
            <button class="theme_button" data-direction="plus">&#43;</button>

          </div>
          <!--/ .qty.min.clearfix-->

        </td>

        <!-- - - - - - - - - - - - - - End of quantity - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Итого - - - - - - - - - - - - - - - - -->

        <td class="total" data-title="Итого">

          8.99

        </td>

        <!-- - - - - - - - - - - - - - End of total - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Действия - - - - - - - - - - - - - - - - -->

        <td data-title="Действия">

          <a href="#" class="button_dark_grey icon_btn edit_product"><i class="icon-pencil"></i></a>

          <a href="#" class="button_dark_grey icon_btn remove_product"><i class="icon-cancel-2"></i></a>

        </td>

        <!-- - - - - - - - - - - - - - End of action - - - - - - - - - - - - - - - - -->

      </tr>

      <tr>

        <!-- - - - - - - - - - - - - - Фото товара - - - - - - - - - - - - - - - - -->

        <td class="product_image_col" data-title="Фото товара">

          <a href="#"><img src="/static/images/shopping_cart_img_1.jpg" alt=""></a>

        </td>

        <!-- - - - - - - - - - - - - - End of product Image - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Product name - - - - - - - - - - - - - - - - -->

        <td data-title="Наименование">

          <a href="#" class="product_title">Donec porta diam eu massa quisque Mint 160 ea</a>

          <ul class="sc_product_info">

            <li>Форма выпуска: Сироп</li>
            <li>Количество в упаковке: 100 мл.</li>

          </ul>

        </td>

        <!-- - - - - - - - - - - - - - End of product name - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Код товара - - - - - - - - - - - - - - - - -->

        <td data-title="Код товара">

          PS03

        </td>

        <!-- - - - - - - - - - - - - - End of Код товара - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Цена - - - - - - - - - - - - - - - - -->

        <td class="subtotal" data-title="Цена">

          76.99

        </td>

        <!-- - - - - - - - - - - - - - End of Цена - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Количество - - - - - - - - - - - - - - - - -->

        <td data-title="Количество">

          <div class="qty min clearfix">

            <button class="theme_button" data-direction="minus">&#45;</button>
            <input type="text" name="" value="1">
            <button class="theme_button" data-direction="plus">&#43;</button>

          </div>
          <!--/ .qty.min.clearfix-->

        </td>

        <!-- - - - - - - - - - - - - - End of quantity - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Итого - - - - - - - - - - - - - - - - -->

        <td class="total" data-title="Итого">

          76.99

        </td>

        <!-- - - - - - - - - - - - - - End of total - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Действия - - - - - - - - - - - - - - - - -->

        <td data-title="Действия">
          <a href="#" class="button_dark_grey icon_btn edit_product"><i class="icon-pencil"></i></a>
          <a href="#" class="button_dark_grey icon_btn remove_product"><i class="icon-cancel-2"></i></a>
        </td>

        <!-- - - - - - - - - - - - - - End of action - - - - - - - - - - - - - - - - -->

      </tr>

      </tbody>

    </table>

  </div>
  <!--/ .table_wrap -->

  <footer class="bottom_box on_the_sides">

    <div class="left_side">
      <%= link_to 'Продолжить покупки', categories_path, class: "button_blue middle_btn" %>
    </div>

    <div class="right_side">
      <a href="#" class="button_grey middle_btn">Очистить корзину</a>
    </div>

  </footer>
  <!--/ .bottom_box -->

  <!-- - - - - - - - - - - - - - End of shopping cart table - - - - - - - - - - - - - - - - -->

</section><!--/ .section_offset -->

<div class="section_offset">

  <div class="row">



    <div class="col-sm-4"></div>
    <div class="col-sm-4"></div>
    <section class="col-sm-4">

      <h3>Сумма заказа</h3>

      <div class="table_wrap">

        <table class="zebra">

          <tfoot>
          <!--<tr>-->
            <!--<td>Предварительный итог</td>-->
            <!--<td>146.78</td>-->
          <!--</tr>-->
          <tr class="total">

            <td>Итого</td>
            <td>146.78</td>

          </tr>

          </tfoot>

        </table>

      </div>

      <footer class="bottom_box">
        <%= link_to 'Оформить заказ', checkout_path, class: "button_blue middle_btn"  %>
        <div class="single_link_wrap">
          <a href="#">Подробнее о сроках оплаты заказов</a>
        </div>
      </footer>

    </section>
    <!-- / [col] -->

  </div>
  <!--/ .row -->

</div><!--/ .section_offset -->

<section class="section_offset">

  <h3 class="offset_title">Обратите внимание </h3>

  <!-- - - - - - - - - - - - - - Carousel of you might also like - - - - - - - - - - - - - - - - -->

  <div class="owl_carousel six_items">

    <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->

    <div class="product_item">

      <!-- - - - - - - - - - - - - - Thumbnail - - - - - - - - - - - - - - - - -->

      <div class="image_wrap">

        <img src="/static/images/product_img_18.jpg" alt="">

        <!-- - - - - - - - - - - - - - Product actions - - - - - - - - - - - - - - - - -->

        <div class="actions_wrap">

          <div class="centered_buttons">

            <%= link_to 'Подробно', product_view_path, class: 'button_dark_grey quick_view', 'data-modal-url': product_view_path %>
            <%= link_to 'В корзину', cart_path, class: 'button_blue add_to_cart' %>

          </div>
          <!--/ .centered_buttons -->

          <a href="#" class="button_dark_grey def_icon_btn add_to_wishlist tooltip_container"><span class="tooltip right">Отложить</span></a>
          <a href="#" class="button_dark_grey def_icon_btn add_to_compare tooltip_container"><span class="tooltip left">К сравнению</span></a>

        </div>
        <!--/ .actions_wrap-->

        <!-- - - - - - - - - - - - - - End of product actions - - - - - - - - - - - - - - - - -->

      </div>
      <!--/. image_wrap-->

      <!-- - - - - - - - - - - - - - End thumbnail - - - - - - - - - - - - - - - - -->

      <!-- - - - - - - - - - - - - - Label - - - - - - - - - - - - - - - - -->

      <div class="label_offer percentage">

        <div>30%</div>
        СКИДКА

      </div>

      <!-- - - - - - - - - - - - - - End label - - - - - - - - - - - - - - - - -->

      <!-- - - - - - - - - - - - - - Countdown - - - - - - - - - - - - - - - - -->

      <div class="countdown" data-year="2016" data-month="11" data-day="6" data-hours="15" data-minutes="0" data-seconds="0"></div>

      <!-- - - - - - - - - - - - - - End countdown - - - - - - - - - - - - - - - - -->

      <!-- - - - - - - - - - - - - - Product description - - - - - - - - - - - - - - - - -->

      <div class="description">

        <p><a href="#">Metus nulla facilisi, Original 24 fl oz</a></p>

        <div class="clearfix product_info">

          <p class="product_price"><s>9.99</s> <b>5.99</b></p>

          <!-- - - - - - - - - - - - - - Product rating - - - - - - - - - - - - - - - - -->

          <ul class="rating">

            <li class="active"></li>
            <li class="active"></li>
            <li class="active"></li>
            <li class="active"></li>
            <li></li>

          </ul>

          <!-- - - - - - - - - - - - - - End product rating - - - - - - - - - - - - - - - - -->

        </div>
        <!--/ .clearfix.product_info-->

      </div>

      <!-- - - - - - - - - - - - - - End of product description - - - - - - - - - - - - - - - - -->

    </div>
    <!--/ .product_item-->

    <!-- - - - - - - - - - - - - - End product - - - - - - - - - - - - - - - - -->

    <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->

    <div class="product_item">

      <!-- - - - - - - - - - - - - - Thumbnail - - - - - - - - - - - - - - - - -->

      <div class="image_wrap">

        <img src="/static/images/product_img_19.jpg" alt="">

        <!-- - - - - - - - - - - - - - Product actions - - - - - - - - - - - - - - - - -->

        <div class="actions_wrap">

          <div class="centered_buttons">

            <%= link_to 'Подробно', product_view_path, class: 'button_dark_grey quick_view', 'data-modal-url': product_view_path %>
            <%= link_to 'В корзину', cart_path, class: "button_blue add_to_cart" %>

          </div>
          <!--/ .centered_buttons -->

          <a href="#" class="button_dark_grey def_icon_btn add_to_wishlist tooltip_container"><span class="tooltip right">Отложить</span></a>

          <a href="#" class="button_dark_grey def_icon_btn add_to_compare tooltip_container"><span class="tooltip left">К сравнению</span></a>

        </div>
        <!--/ .actions_wrap-->

        <!-- - - - - - - - - - - - - - End of product actions - - - - - - - - - - - - - - - - -->

      </div>
      <!--/. image_wrap-->

      <!-- - - - - - - - - - - - - - End thumbnail - - - - - - - - - - - - - - - - -->

      <!-- - - - - - - - - - - - - - Product description - - - - - - - - - - - - - - - - -->

      <div class="description">

        <p><a href="#">Tincidunt ac viverra nam elit agna endrerit 29 ea</a></p>

        <div class="clearfix product_info">

          <p class="product_price"><b>14.99</b></p>

          <!-- - - - - - - - - - - - - - Product rating - - - - - - - - - - - - - - - - -->

          <ul class="rating">

            <li class="active"></li>
            <li class="active"></li>
            <li class="active"></li>
            <li class="active"></li>
            <li class="active"></li>

          </ul>

          <!-- - - - - - - - - - - - - - End product rating - - - - - - - - - - - - - - - - -->

        </div>
        <!--/ .clearfix.product_info-->

      </div>

      <!-- - - - - - - - - - - - - - End of product description - - - - - - - - - - - - - - - - -->

    </div>
    <!--/ .product_item-->

    <!-- - - - - - - - - - - - - - End of product - - - - - - - - - - - - - - - - -->

    <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->

    <div class="product_item">

      <!-- - - - - - - - - - - - - - Thumbnail - - - - - - - - - - - - - - - - -->

      <div class="image_wrap">

        <img src="/static/images/product_img_20.jpg" alt="">

        <!-- - - - - - - - - - - - - - Product actions - - - - - - - - - - - - - - - - -->

        <div class="actions_wrap">

          <div class="centered_buttons">

            <%= link_to 'Подробно', product_view_path, class: 'button_dark_grey quick_view', 'data-modal-url': product_view_path %>

            <%= link_to 'В корзину', cart_path, class: "button_blue add_to_cart" %>

          </div>
          <!--/ .centered_buttons -->

          <a href="#" class="button_dark_grey def_icon_btn add_to_wishlist tooltip_container"><span class="tooltip right">Отложить</span></a>
          <a href="#" class="button_dark_grey def_icon_btn add_to_compare tooltip_container"><span class="tooltip left">К сравнению</span></a>

        </div>
        <!--/ .actions_wrap-->

        <!-- - - - - - - - - - - - - - End of product actions - - - - - - - - - - - - - - - - -->

      </div>
      <!--/. image_wrap-->

      <!-- - - - - - - - - - - - - - End thumbnail - - - - - - - - - - - - - - - - -->

      <!-- - - - - - - - - - - - - - Label - - - - - - - - - - - - - - - - -->

      <div class="label_new">Новинка</div>

      <!-- - - - - - - - - - - - - - End label - - - - - - - - - - - - - - - - -->

      <!-- - - - - - - - - - - - - - Product description - - - - - - - - - - - - - - - - -->

      <div class="description">

        <p><a href="#">Lorem ipsum dolor sit amet...</a></p>

        <div class="clearfix product_info">

          <p class="product_price"><b>73.99</b></p>

        </div>
        <!--/ .clearfix.product_info-->

      </div>

      <!-- - - - - - - - - - - - - - End of product description - - - - - - - - - - - - - - - - -->

    </div>
    <!--/ .product_item-->

    <!-- - - - - - - - - - - - - - End of product - - - - - - - - - - - - - - - - -->

    <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->

    <div class="product_item">

      <!-- - - - - - - - - - - - - - Thumbnail - - - - - - - - - - - - - - - - -->

      <div class="image_wrap">

        <img src="/static/images/product_img_21.jpg" alt="">

        <!-- - - - - - - - - - - - - - Product actions - - - - - - - - - - - - - - - - -->

        <div class="actions_wrap">

          <div class="centered_buttons">

            <%= link_to 'Подробно', product_view_path, class: 'button_dark_grey quick_view', 'data-modal-url': product_view_path %>

            <%= link_to 'В корзину', cart_path, class: "button_blue add_to_cart" %>

          </div>
          <!--/ .centered_buttons -->

          <a href="#" class="button_dark_grey def_icon_btn add_to_wishlist tooltip_container"><span class="tooltip right">Отложить</span></a>

          <a href="#" class="button_dark_grey def_icon_btn add_to_compare tooltip_container"><span class="tooltip left">К сравнению</span></a>

        </div>
        <!--/ .actions_wrap-->

        <!-- - - - - - - - - - - - - - End of product actions - - - - - - - - - - - - - - - - -->

      </div>
      <!--/. image_wrap-->

      <!-- - - - - - - - - - - - - - End thumbnail - - - - - - - - - - - - - - - - -->

      <!-- - - - - - - - - - - - - - Label - - - - - - - - - - - - - - - - -->

      <div class="label_offer percentage">

        <div>15%</div>
        СКИДКА

      </div>

      <!-- - - - - - - - - - - - - - End label - - - - - - - - - - - - - - - - -->

      <!-- - - - - - - - - - - - - - Countdown - - - - - - - - - - - - - - - - -->

      <div class="countdown" data-year="2016" data-month="1" data-day="31" data-hours="18" data-minutes="40" data-seconds="40"></div>

      <!-- - - - - - - - - - - - - - End countdown - - - - - - - - - - - - - - - - -->

      <!-- - - - - - - - - - - - - - Product description - - - - - - - - - - - - - - - - -->

      <div class="description">

        <p><a href="#">Etiam cursus leo vel metus nulla facilisi...</a></p>

        <div class="clearfix product_info">

          <p class="product_price"><s>5.99</s> <b>2.99</b></p>

          <!-- - - - - - - - - - - - - - Product rating - - - - - - - - - - - - - - - - -->

          <ul class="rating">

            <li class="active"></li>
            <li class="active"></li>
            <li class="active"></li>
            <li></li>
            <li></li>

          </ul>

          <!-- - - - - - - - - - - - - - End product rating - - - - - - - - - - - - - - - - -->

        </div>
        <!--/ .clearfix.product_info-->

      </div>

      <!-- - - - - - - - - - - - - - End of product description - - - - - - - - - - - - - - - - -->

    </div>
    <!--/ .product_item-->

    <!-- - - - - - - - - - - - - - End of product - - - - - - - - - - - - - - - - -->

    <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->

    <div class="product_item">

      <!-- - - - - - - - - - - - - - Thumbnail - - - - - - - - - - - - - - - - -->

      <div class="image_wrap">

        <img src="/static/images/product_img_22.jpg" alt="">

        <!-- - - - - - - - - - - - - - Product actions - - - - - - - - - - - - - - - - -->

        <div class="actions_wrap">

          <div class="centered_buttons">

            <%= link_to 'Подробно', product_view_path, class: 'button_dark_grey quick_view', 'data-modal-url': product_view_path %>

            <%= link_to 'В корзину', cart_path, class: "button_blue add_to_cart" %>

          </div>
          <!--/ .centered_buttons -->

          <a href="#" class="button_dark_grey def_icon_btn add_to_wishlist tooltip_container"><span class="tooltip right">Отложить</span></a>

          <a href="#" class="button_dark_grey def_icon_btn add_to_compare tooltip_container"><span class="tooltip left">К сравнению</span></a>

        </div>
        <!--/ .actions_wrap-->

        <!-- - - - - - - - - - - - - - End of product actions - - - - - - - - - - - - - - - - -->

      </div>
      <!--/. image_wrap-->

      <!-- - - - - - - - - - - - - - End thumbnail - - - - - - - - - - - - - - - - -->

      <!-- - - - - - - - - - - - - - Product description - - - - - - - - - - - - - - - - -->

      <div class="description">

        <p><a href="#">Ut pharetra augue nec augue...</a></p>

        <div class="clearfix product_info">

          <p class="product_price alignleft"><b>13.99</b></p>

        </div>
        <!--/ .clearfix.product_info-->

      </div>

      <!-- - - - - - - - - - - - - - End of product description - - - - - - - - - - - - - - - - -->

    </div>
    <!--/ .product_item-->

    <!-- - - - - - - - - - - - - - End of product - - - - - - - - - - - - - - - - -->

    <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->

    <div class="product_item">

      <!-- - - - - - - - - - - - - - Thumbnail - - - - - - - - - - - - - - - - -->

      <div class="image_wrap">

        <img src="/static/images/product_img_23.jpg" alt="">

        <!-- - - - - - - - - - - - - - Product actions - - - - - - - - - - - - - - - - -->

        <div class="actions_wrap">

          <div class="centered_buttons">

            <%= link_to 'Подробно', product_view_path, class: 'button_dark_grey quick_view', 'data-modal-url': product_view_path %>

            <%= link_to 'В корзину', cart_path, class: "button_blue add_to_cart" %>

          </div>
          <!--/ .centered_buttons -->

          <a href="#" class="button_dark_grey def_icon_btn add_to_wishlist tooltip_container"><span class="tooltip right">Отложить</span></a>

          <a href="#" class="button_dark_grey def_icon_btn add_to_compare tooltip_container"><span class="tooltip left">К сравнению</span></a>

        </div>
        <!--/ .actions_wrap-->

        <!-- - - - - - - - - - - - - - End of product actions - - - - - - - - - - - - - - - - -->

      </div>
      <!--/. image_wrap-->

      <!-- - - - - - - - - - - - - - End thumbnail - - - - - - - - - - - - - - - - -->

      <!-- - - - - - - - - - - - - - Label - - - - - - - - - - - - - - - - -->

      <div class="label_new">Акция</div>

      <!-- - - - - - - - - - - - - - End label - - - - - - - - - - - - - - - - -->

      <!-- - - - - - - - - - - - - - Product description - - - - - - - - - - - - - - - - -->

      <div class="description">

        <p><a href="#">Integer rutrum ante eu lacus vestibulum...</a></p>

        <div class="clearfix product_info">

          <p class="product_price"><b>21.99</b></p>

          <!-- - - - - - - - - - - - - - Product rating - - - - - - - - - - - - - - - - -->

          <ul class="rating">

            <li class="active"></li>
            <li class="active"></li>
            <li class="active"></li>
            <li class="active"></li>
            <li></li>

          </ul>

          <!-- - - - - - - - - - - - - - End product rating - - - - - - - - - - - - - - - - -->

        </div>
        <!--/ .clearfix.product_info-->

      </div>

      <!-- - - - - - - - - - - - - - End of product description - - - - - - - - - - - - - - - - -->

    </div>
    <!--/ .product_item-->

    <!-- - - - - - - - - - - - - - End of product - - - - - - - - - - - - - - - - -->

    <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->

    <div class="product_item">

      <!-- - - - - - - - - - - - - - Thumbnail - - - - - - - - - - - - - - - - -->

      <div class="image_wrap">

        <img src="/static/images/product_img_18.jpg" alt="">

        <!-- - - - - - - - - - - - - - Product actions - - - - - - - - - - - - - - - - -->

        <div class="actions_wrap">

          <div class="centered_buttons">

            <%= link_to 'Подробно', product_view_path, class: 'button_dark_grey quick_view', 'data-modal-url': product_view_path %>

            <%= link_to 'В корзину', cart_path, class: "button_blue add_to_cart" %>

          </div>
          <!--/ .centered_buttons -->

          <a href="#" class="button_dark_grey def_icon_btn add_to_wishlist tooltip_container"><span class="tooltip right">Отложить</span></a>

          <a href="#" class="button_dark_grey def_icon_btn add_to_compare tooltip_container"><span class="tooltip left">К сравнению</span></a>

        </div>
        <!--/ .actions_wrap-->

        <!-- - - - - - - - - - - - - - End of product actions - - - - - - - - - - - - - - - - -->

      </div>
      <!--/. image_wrap-->

      <!-- - - - - - - - - - - - - - End thumbnail - - - - - - - - - - - - - - - - -->

      <!-- - - - - - - - - - - - - - Label - - - - - - - - - - - - - - - - -->

      <div class="label_offer percentage">

        <div>30%</div>
        СКИДКА

      </div>

      <!-- - - - - - - - - - - - - - End label - - - - - - - - - - - - - - - - -->

      <!-- - - - - - - - - - - - - - Countdown - - - - - - - - - - - - - - - - -->

      <div class="countdown" data-year="2016" data-month="11" data-day="6" data-hours="15" data-minutes="0" data-seconds="0"></div>

      <!-- - - - - - - - - - - - - - End countdown - - - - - - - - - - - - - - - - -->

      <!-- - - - - - - - - - - - - - Product description - - - - - - - - - - - - - - - - -->

      <div class="description">

        <p><a href="#">Metus nulla facilisi, Original 24 fl oz</a></p>

        <div class="clearfix product_info">

          <p class="product_price"><s>9.99</s> <b>5.99</b></p>

          <!-- - - - - - - - - - - - - - Product rating - - - - - - - - - - - - - - - - -->

          <ul class="rating">

            <li class="active"></li>
            <li class="active"></li>
            <li class="active"></li>
            <li class="active"></li>
            <li></li>

          </ul>

          <!-- - - - - - - - - - - - - - End product rating - - - - - - - - - - - - - - - - -->

        </div>
        <!--/ .clearfix.product_info-->

      </div>

      <!-- - - - - - - - - - - - - - End of product description - - - - - - - - - - - - - - - - -->

    </div>
    <!--/ .product_item-->

    <!-- - - - - - - - - - - - - - End product - - - - - - - - - - - - - - - - -->

    <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->

    <div class="product_item">

      <!-- - - - - - - - - - - - - - Thumbnail - - - - - - - - - - - - - - - - -->

      <div class="image_wrap">

        <img src="/static/images/product_img_19.jpg" alt="">

        <!-- - - - - - - - - - - - - - Product actions - - - - - - - - - - - - - - - - -->

        <div class="actions_wrap">

          <div class="centered_buttons">

            <%= link_to 'Подробно', product_view_path, class: 'button_dark_grey quick_view', 'data-modal-url': product_view_path %>

            <%= link_to 'В корзину', cart_path, class: "button_blue add_to_cart" %>

          </div>
          <!--/ .centered_buttons -->

          <a href="#" class="button_dark_grey def_icon_btn add_to_wishlist tooltip_container"><span class="tooltip right">Отложить</span></a>

          <a href="#" class="button_dark_grey def_icon_btn add_to_compare tooltip_container"><span class="tooltip left">К сравнению</span></a>

        </div>
        <!--/ .actions_wrap-->

        <!-- - - - - - - - - - - - - - End of product actions - - - - - - - - - - - - - - - - -->

      </div>
      <!--/. image_wrap-->

      <!-- - - - - - - - - - - - - - End thumbnail - - - - - - - - - - - - - - - - -->

      <!-- - - - - - - - - - - - - - Product description - - - - - - - - - - - - - - - - -->

      <div class="description">

        <p><a href="#">Tincidunt ac viverra nam elit agna endrerit 29 ea</a></p>

        <div class="clearfix product_info">

          <p class="product_price"><b>14.99</b></p>

          <!-- - - - - - - - - - - - - - Product rating - - - - - - - - - - - - - - - - -->

          <ul class="rating">

            <li class="active"></li>
            <li class="active"></li>
            <li class="active"></li>
            <li class="active"></li>
            <li class="active"></li>

          </ul>

          <!-- - - - - - - - - - - - - - End product rating - - - - - - - - - - - - - - - - -->

        </div>
        <!--/ .clearfix.product_info-->

      </div>

      <!-- - - - - - - - - - - - - - End of product description - - - - - - - - - - - - - - - - -->

    </div>
    <!--/ .product_item-->

    <!-- - - - - - - - - - - - - - End of product - - - - - - - - - - - - - - - - -->

    <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->

    <div class="product_item">

      <!-- - - - - - - - - - - - - - Thumbnail - - - - - - - - - - - - - - - - -->

      <div class="image_wrap">

        <img src="/static/images/product_img_20.jpg" alt="">

        <!-- - - - - - - - - - - - - - Product actions - - - - - - - - - - - - - - - - -->

        <div class="actions_wrap">

          <div class="centered_buttons">

            <%= link_to 'Подробно', product_view_path, class: 'button_dark_grey quick_view', 'data-modal-url': product_view_path %>

            <%= link_to 'В корзину', cart_path, class: "button_blue add_to_cart" %>

          </div>
          <!--/ .centered_buttons -->

          <a href="#" class="button_dark_grey def_icon_btn add_to_wishlist tooltip_container"><span class="tooltip right">Отложить</span></a>

          <a href="#" class="button_dark_grey def_icon_btn add_to_compare tooltip_container"><span class="tooltip left">К сравнению</span></a>

        </div>
        <!--/ .actions_wrap-->

        <!-- - - - - - - - - - - - - - End of product actions - - - - - - - - - - - - - - - - -->

      </div>
      <!--/. image_wrap-->

      <!-- - - - - - - - - - - - - - End thumbnail - - - - - - - - - - - - - - - - -->

      <!-- - - - - - - - - - - - - - Label - - - - - - - - - - - - - - - - -->

      <div class="label_new">Новинка</div>

      <!-- - - - - - - - - - - - - - End label - - - - - - - - - - - - - - - - -->

      <!-- - - - - - - - - - - - - - Product description - - - - - - - - - - - - - - - - -->

      <div class="description">

        <p><a href="#">Lorem ipsum dolor sit amet...</a></p>

        <div class="clearfix product_info">

          <p class="product_price"><b>73.99</b></p>

        </div>
        <!--/ .clearfix.product_info-->

      </div>

      <!-- - - - - - - - - - - - - - End of product description - - - - - - - - - - - - - - - - -->

    </div>
    <!--/ .product_item-->

    <!-- - - - - - - - - - - - - - End of product - - - - - - - - - - - - - - - - -->

    <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->

    <div class="product_item">

      <!-- - - - - - - - - - - - - - Thumbnail - - - - - - - - - - - - - - - - -->

      <div class="image_wrap">

        <img src="/static/images/product_img_21.jpg" alt="">

        <!-- - - - - - - - - - - - - - Product actions - - - - - - - - - - - - - - - - -->

        <div class="actions_wrap">

          <div class="centered_buttons">

            <%= link_to 'Подробно', product_view_path, class: 'button_dark_grey quick_view', 'data-modal-url': product_view_path %>

            <%= link_to 'В корзину', cart_path, class: "button_blue add_to_cart" %>

          </div>
          <!--/ .centered_buttons -->

          <a href="#" class="button_dark_grey def_icon_btn add_to_wishlist tooltip_container"><span class="tooltip right">Отложить</span></a>

          <a href="#" class="button_dark_grey def_icon_btn add_to_compare tooltip_container"><span class="tooltip left">К сравнению</span></a>

        </div>
        <!--/ .actions_wrap-->

        <!-- - - - - - - - - - - - - - End of product actions - - - - - - - - - - - - - - - - -->

      </div>
      <!--/. image_wrap-->

      <!-- - - - - - - - - - - - - - End thumbnail - - - - - - - - - - - - - - - - -->

      <!-- - - - - - - - - - - - - - Label - - - - - - - - - - - - - - - - -->

      <div class="label_offer percentage">

        <div>15%</div>
        СКИДКА

      </div>

      <!-- - - - - - - - - - - - - - End label - - - - - - - - - - - - - - - - -->

      <!-- - - - - - - - - - - - - - Countdown - - - - - - - - - - - - - - - - -->

      <div class="countdown" data-year="2016" data-month="1" data-day="31" data-hours="18" data-minutes="40" data-seconds="40"></div>

      <!-- - - - - - - - - - - - - - End countdown - - - - - - - - - - - - - - - - -->

      <!-- - - - - - - - - - - - - - Product description - - - - - - - - - - - - - - - - -->

      <div class="description">

        <p><a href="#">Etiam cursus leo vel metus nulla facilisi...</a></p>

        <div class="clearfix product_info">

          <p class="product_price"><s>5.99</s> <b>2.99</b></p>

          <!-- - - - - - - - - - - - - - Product rating - - - - - - - - - - - - - - - - -->

          <ul class="rating">

            <li class="active"></li>
            <li class="active"></li>
            <li class="active"></li>
            <li></li>
            <li></li>

          </ul>

          <!-- - - - - - - - - - - - - - End product rating - - - - - - - - - - - - - - - - -->

        </div>
        <!--/ .clearfix.product_info-->

      </div>

      <!-- - - - - - - - - - - - - - End of product description - - - - - - - - - - - - - - - - -->

    </div>
    <!--/ .product_item-->

    <!-- - - - - - - - - - - - - - End of product - - - - - - - - - - - - - - - - -->

    <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->

    <div class="product_item">

      <!-- - - - - - - - - - - - - - Thumbnail - - - - - - - - - - - - - - - - -->

      <div class="image_wrap">

        <img src="/static/images/product_img_22.jpg" alt="">

        <!-- - - - - - - - - - - - - - Product actions - - - - - - - - - - - - - - - - -->

        <div class="actions_wrap">

          <div class="centered_buttons">

            <%= link_to 'Подробно', product_view_path, class: 'button_dark_grey quick_view', 'data-modal-url': product_view_path %>

            <%= link_to 'В корзину', cart_path, class: "button_blue add_to_cart" %>

          </div>
          <!--/ .centered_buttons -->

          <a href="#" class="button_dark_grey def_icon_btn add_to_wishlist tooltip_container"><span class="tooltip right">Отложить</span></a>

          <a href="#" class="button_dark_grey def_icon_btn add_to_compare tooltip_container"><span class="tooltip left">К сравнению</span></a>

        </div>
        <!--/ .actions_wrap-->

        <!-- - - - - - - - - - - - - - End of product actions - - - - - - - - - - - - - - - - -->

      </div>
      <!--/. image_wrap-->

      <!-- - - - - - - - - - - - - - End thumbnail - - - - - - - - - - - - - - - - -->

      <!-- - - - - - - - - - - - - - Product description - - - - - - - - - - - - - - - - -->

      <div class="description">

        <p><a href="#">Ut pharetra augue nec augue...</a></p>

        <div class="clearfix product_info">

          <p class="product_price alignleft"><b>13.99</b></p>

        </div>
        <!--/ .clearfix.product_info-->

      </div>

      <!-- - - - - - - - - - - - - - End of product description - - - - - - - - - - - - - - - - -->

    </div>
    <!--/ .product_item-->

    <!-- - - - - - - - - - - - - - End of product - - - - - - - - - - - - - - - - -->

    <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->

    <div class="product_item">

      <!-- - - - - - - - - - - - - - Thumbnail - - - - - - - - - - - - - - - - -->

      <div class="image_wrap">

        <img src="/static/images/product_img_23.jpg" alt="">

        <!-- - - - - - - - - - - - - - Product actions - - - - - - - - - - - - - - - - -->

        <div class="actions_wrap">

          <div class="centered_buttons">

            <%= link_to 'Подробно', product_view_path, class: 'button_dark_grey quick_view', 'data-modal-url': product_view_path %>

            <%= link_to 'В корзину', cart_path, class: "button_blue add_to_cart" %>

          </div>
          <!--/ .centered_buttons -->

          <a href="#" class="button_dark_grey def_icon_btn add_to_wishlist tooltip_container"><span class="tooltip right">Отложить</span></a>

          <a href="#" class="button_dark_grey def_icon_btn add_to_compare tooltip_container"><span class="tooltip left">К сравнению</span></a>

        </div>
        <!--/ .actions_wrap-->

        <!-- - - - - - - - - - - - - - End of product actions - - - - - - - - - - - - - - - - -->

      </div>
      <!--/. image_wrap-->

      <!-- - - - - - - - - - - - - - End thumbnail - - - - - - - - - - - - - - - - -->

      <!-- - - - - - - - - - - - - - Label - - - - - - - - - - - - - - - - -->

      <div class="label_new">Акция</div>

      <!-- - - - - - - - - - - - - - End label - - - - - - - - - - - - - - - - -->

      <!-- - - - - - - - - - - - - - Product description - - - - - - - - - - - - - - - - -->

      <div class="description">

        <p><a href="#">Integer rutrum ante eu lacus vestibulum...</a></p>

        <div class="clearfix product_info">

          <p class="product_price"><b>21.99</b></p>

          <!-- - - - - - - - - - - - - - Product rating - - - - - - - - - - - - - - - - -->

          <ul class="rating">

            <li class="active"></li>
            <li class="active"></li>
            <li class="active"></li>
            <li class="active"></li>
            <li></li>

          </ul>

          <!-- - - - - - - - - - - - - - End product rating - - - - - - - - - - - - - - - - -->

        </div>
        <!--/ .clearfix.product_info-->

      </div>

      <!-- - - - - - - - - - - - - - End of product description - - - - - - - - - - - - - - - - -->

    </div>
    <!--/ .product_item-->

    <!-- - - - - - - - - - - - - - End of product - - - - - - - - - - - - - - - - -->

  </div>
  <!--/ .owl_carousel-->

  <!-- - - - - - - - - - - - - - End of you might also like - - - - - - - - - - - - - - - - -->

</section>