<h1 class="page_title">Оформление заказа</h1>

<!-- - - - - - - - - - - - - - Checkout method - - - - - - - - - - - - - - - - -->

<section class="section_offset">

  <h3 class="offset_title">1. Как оформить заказ?</h3>

  <div class="relative">

    <a class="icon_btn button_dark_grey edit_button" href="#"><i class="icon-pencil"></i></a>


    <div class="table_layout">

      <div class="table_row">

        <div class="table_cell">

          <section>

            <h4>Гостевая покупка или регистрация</h4>

            <p class="subcaption">Я хочу:</p>

            <form>

              <ul>

                <li>

                  <input type="radio" checked name="radio_2" id="radio_button_1">
                  <label for="radio_button_1">Оформить заказ как гость</label>

                </li>

                <li>

                  <input type="radio" name="radio_2" id="radio_button_2">
                  <label for="radio_button_2">Зарегистрироваться</label>

                </li>

              </ul>

            </form>

            <h5 class="sub bold">Регистрация дает ряд преимуществ!</h5>

            <p class="subcaption">Зарегистрируйтесь и вы сможете:</p>

            <ul class="list_type_7">

              <li>Участвовать в акциях и получать скидки</li>
              <li>Отслеживать статус выполнения заказов и т.п.</li>

            </ul>

          </section>

        </div>
        <!--/ .table_cell -->

        <div class="table_cell">

          <section>

            <h4>Учетная запись</h4>

            <p class="subcaption">Заполните поля ниже</p>

            <form id="login_form" class="type_2">

              <ul>

                <li class="row">

                  <div class="col-xs-12">

                    <label for="login_email" class="required">Адрес Email</label>
                    <input type="email" name="" id="login_email">

                  </div>

                </li>

                <li class="row">

                  <div class="col-xs-12" id="password_input">

                    <label for="login_password">Пароль</label>
                    <input type="password" name="" id="login_password">

                  </div>

                </li>

                <li class="row">

                  <div class="col-xs-12">

                    <div class="on_the_sides">

                      <div class="left_side">

                        <a href="#" class="small_link">Забыли пароль?</a>

                      </div>

                      <div class="right_side">

                        <span class="prompt">Обязательные поля</span>

                      </div>

                    </div>

                  </div>

                </li>

              </ul>

            </form>

          </section>

        </div>
        <!--/ .table_cell -->

      </div>
      <!--/ .table_row -->

      <div class="table_row">

        <div class="table_cell">

          <a href="#" class="button_blue middle_btn">Далее</a>

        </div>
        <!--/ .table_cell -->

        <div class="table_cell">

          <div class="on_the_sides login_with">

            <div class="left_side">

              <button type="submit" form="login_form" class="button_blue middle_btn">Далее</button>

            </div>

            <div class="right_side v_centered">

              <h4>Войти через</h4>

              <ul class="horizontal_list social_btns">

                <li><a href="#" class="icon_btn middle_btn social_facebook tooltip_container"><i class="icon-facebook-1"></i><span class="tooltip top">Facebook</span></a></li>

                <li><a href="#" class="icon_btn middle_btn social_googleplus tooltip_container"><i class="icon-gplus-2"></i><span class="tooltip top">GooglePlus</span></a></li>

              </ul>
              <!--/ .horizontal_list.social_btns-->

            </div>

          </div>

        </div>
        <!--/ .table_cell -->

      </div>
      <!--/ .table_row -->

    </div>
    <!--/ .table_layout -->

  </div>
  <!--/ .relative -->

</section><!--/ .section_offset -->

<!-- - - - - - - - - - - - - - End of checkout method - - - - - - - - - - - - - - - - -->

<!-- - - - - - - - - - - - - - Shipping information - - - - - - - - - - - - - - - - -->

<section class="section_offset">

  <h3>2. Куда доставить заказ?</h3>

  <div class="theme_box">
    <section class="section_offset">

      <h1>Выберите аптеку</h1>

      <p>Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula. Aliquam dapibus tincidunt metus.
        Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. Vestibulum sed ante. Donec sagittis euismod purus. Sed ut perspiciatis sit voluptatem accusantim doloremque
        laudantim.</p>

    </section>

    <%= render partial: "shared/pharmacies_block" %>

  </div>

  <footer class="bottom_box on_the_sides">

    <div class="left_side buttons_row">

      <a href="#" class="button_grey middle_btn">Назад</a>

      <a href="#" class="button_blue middle_btn">Далее</a>

    </div>

    <div class="right_side">

      <span class="prompt">Нужно заполнить</span>

    </div>

  </footer>

</section><!--/ .section_offset -->


<section class="section_offset">

  <h3>3. Кто будет получать заказ?</h3>

  <div class="theme_box">

    <a class="icon_btn button_dark_grey edit_button" href="#"><i class="icon-pencil"></i></a>

    <div class="row">

      <div class="col-sm-4">

        <label for="first_name_1" class="required">Ваше Имя</label>
        <input type="text" name="" id="first_name_1">

      </div>
      <!--/ [col] -->

      <div class="col-sm-4">

        <label for="last_name_1" class="required">Ваша Фамилия</label>
        <input type="text" name="" id="last_name_1">

      </div>
      <!--/ [col] -->

      <div class="col-sm-4">

        <label for="cellphone" class="required">Мобильный телефон</label>
        <input type="text" name="" id="cellphone">
      </div>
      <!--/ [col] -->

    </div>
    <!--/ .row -->

  </div>

  <footer class="bottom_box on_the_sides">

    <div class="left_side buttons_row">

      <a href="#" class="button_grey middle_btn">Назад</a>

      <a href="#" class="button_blue middle_btn">Далее</a>

    </div>

    <div class="right_side">

      <span class="prompt">Нужно заполнить</span>

    </div>

  </footer>

</section>


<!-- - - - - - - - - - - - - - End of shipping method - - - - - - - - - - - - - - - - -->

<!-- - - - - - - - - - - - - - Payment information - - - - - - - - - - - - - - - - -->

<section class="section_offset">

  <h3>4. Метод оплаты</h3>

  <div class="theme_box">

    <a class="icon_btn button_dark_grey edit_button" href="#"><i class="icon-pencil"></i></a>

    <p class="subcaption bold">Зарезервируйте или оплатите картой и получите в любое время</p>

    <ul class="simple_vertical_list">

      <li>

        <input type="radio" checked name="radio_4" id="radio_button_5">
        <label for="radio_button_5">Наличными в аптеке <i>- резерв будет действителен до <u>15/02/2015 16:30</u></i> </label>

      </li>

      <li>

        <input type="radio" name="radio_4" id="radio_button_6">
        <label for="radio_button_6">Кредитной картой</label>

      </li>

    </ul>

  </div>

  <footer class="bottom_box">

    <a href="#" class="button_blue middle_btn">Далее</a>

  </footer>

</section>


<!-- - - - - - - - - - - - - - End of payment information - - - - - - - - - - - - - - - - -->

<!-- - - - - - - - - - - - - - Order review - - - - - - - - - - - - - - - - -->

<section class="section_offset">

  <h3>5. Итого </h3>

  <div class="table_wrap">

    <table class="table_type_1 order_review">

      <thead>

      <tr>

        <th class="product_title_col">Наименование</th>
        <th class="product_sku_col">Код товара</th>
        <th class="product_price_col">Цена</th>
        <th class="product_qty_col">Количество</th>
        <th class="product_total_col">Итого</th>

      </tr>

      </thead>

      <tbody>

      <tr>

        <td data-title="Наименование">

          <a href="#" class="product_title">Adipiscing aliquet sed in lacus, Liqui-gels 24</a>

          <ul class="sc_product_info">

            <li>Форма выпуска: Сироп</li>
            <li>Количество в упаковке: 100 мл.</li>

          </ul>

        </td>

        <td data-title="Код товара">PS01</td>

        <td data-title="Цена" class="subtotal">5.99</td>

        <td data-title="Количество">1</td>

        <td data-title="Итого" class="total">5.99</td>

      </tr>

      <tr>

        <td data-title="Наименование">

          <a href="#" class="product_title">Sed in lacus ut enim adipiscing dictum elementum velit<br>Relief 4.25 fl oz (126ml)</a>

          <ul class="sc_product_info">

            <li>Форма выпуска: Сироп</li>
            <li>Количество в упаковке: 100 мл.</li>

          </ul>

        </td>

        <td data-title="Код товара">PS02</td>

        <td data-title="Цена" class="subtotal">8.99</td>

        <td data-title="Количество">1</td>

        <td data-title="Итого" class="total">8.99</td>

      </tr>

      <tr>

        <td data-title="Наименование">

          <a href="#" class="product_title">Donec porta diam eu massa quisque Mint 160 ea</a>

          <ul class="sc_product_info">

            <li>Форма выпуска: Сироп</li>
            <li>Количество в упаковке: 100 мл.</li>

          </ul>

        </td>

        <td data-title="Код товара">PS03</td>

        <td data-title="Цена" class="subtotal">76.99</td>

        <td data-title="Количество">1</td>

        <td data-title="Итого" class="total">76.99</td>

      </tr>

      </tbody>

      <tfoot>

      <tr>

        <td colspan="4" class="grandtotal">К оплате</td>
        <td class="grandtotal">151.87</td>

      </tr>

      </tfoot>

    </table>

  </div>
  <!--/ .table_wrap -->

  <footer class="bottom_box on_the_sides">

    <div class="left_side v_centered">

      <span>Нужно что-то добавить?</span>

      <a href="#" class="button_grey middle_btn">Назад в Каталог</a>

    </div>

    <div class="right_side">

      <button class="button_blue middle_btn">Разместить заказ</button>

    </div>

  </footer>


</section>