/* --------------------------------------------
			3.2 Buttons
	-------------------------------------------- */

.icon_btn,
.theme_button,
.button_grey,
.button_blue,
.def_icon_btn,
.button_black,
.button_dark_grey,
.wishlist_button,
.compare_button{
    font-size: 14px;
    line-height: 21px !important;
    text-align: center;
    display: inline-block;
    border-radius:3px;
}

/* sizes */

.theme_button,
.button_grey,
.button_blue,
.button_black,
.button_dark_grey{
    padding:5px 15px 4px;
}

.mini_btn{
    font-size: 13px;
    padding:4px 10px 3px;
}

.middle_btn{
    padding:8px 20px 9px;
    font-size:16px;
}

.big_btn{
    padding:11px 20px;
    font-size:16px;
    font-weight: 600;
}

.huge_btn{
    font-size: 24px;
    font-weight: 600;
    padding: 16px 20px;
}

.icon_btn,
.def_icon_btn{
    width: 30px;
    height: 30px;
    padding: 0;
    font-size: 13px;
}

.icon_btn.middle_btn,
.def_icon_btn.middle_btn{
    width: 38px;
    height: 38px;
    font-size: 18px;
}

.icon_btn.big_btn,
.def_icon_btn.big_btn{
    width: 43px;
    height: 43px;
    font-size: 20px;
}

.icon_btn.huge_btn,
.def_icon_btn.huge_btn{
    width: 53px;
    height: 53px;
    font-size: 24px;
}

.icon_btn .icon-mail-8,
.icon_btn .icon-location-4{ font-size: 23px; }

.icon_btn .icon-vimeo-2{ font-size:15px; }

/* colors */

.theme_button{
    background: #fff;
    color:#333;
    border:1px solid #eaeaea;
}

.button_grey{
    color:#0000b2;
    background: #f8f8f8;
}

.button_grey_2{
    color: #333;
    background: #f8f8f8;
}

.button_blue,
.theme_button:hover,
.button_grey_2:hover{
    color:#fff;
    background: #0000b4;
    border-color: #0000b4;
}

.button_dark_grey,
.button_black:hover{
    background:#777;
    color:#fff;
}

.button_grey:hover,
.button_grey.active,
.button_blue:hover{
    color:#fff;
    background: #0000b2;
}

.button_black,
.button_dark_grey:hover{
    color:#fff;
    background:#333;
}

/* icon's in buttons */

.middle_btn i[class|="icon"]{ font-size: 18px; }
.big_btn i[class|="icon"]{ font-size: 20px; }

.icon_btn i[class|="icon"]{
    display: inline-block;
    height:inherit;
}

.def_icon_btn::after,
.def_icon_btn::before,
.icon_btn i[class|="icon"]::after,
.icon_btn i[class|="icon"]::before{
    display: inline-block;
    vertical-align: middle;
}

.def_icon_btn::before,
.icon_btn i[class|="icon"]::after{
    content:"";
    height:100%;
}

.theme_button:not(.icon_btn) > [class|="icon"],
.button_grey:not(.icon_btn) > [class|="icon"],
.button_blue:not(.icon_btn) > [class|="icon"],
.button_dark_grey:not(.icon_btn) > [class|="icon"]{
    display: inline-block;
    height: 1px;
    margin-right: 7px;
}

.def_icon_btn::after{ font-family: 'fontello'; }

.buttons_row > [class*="button"]{ float: left; }

.buttons_row > [class*="button"]:not(:last-child){ margin-right: 5px; }

.buttons_col > li:not(:first-child){ margin-top: 5px; }

form .def_icon_btn{ font-size: 24px; }

#open_shopping_cart{
    position: relative;
    padding:5px 10px 9px 65px;
    border:1px solid #eaeaea;
    margin-left:15px;
    line-height: 18px;
    text-align: left;
    border-radius: 3px;
}

#open_shopping_cart > *{ display: block; }

.shopping_cart .title,
#open_shopping_cart .title{
    font-size:13px;
    color:#b2b2b2;
}

#open_shopping_cart .title::after{ font-size:9px; }

#open_shopping_cart .total_price{
    font-size: 18px;
    color:#333;
}

#open_shopping_cart::before{
    font-family: 'fontello';
    content: '\eb77';
    color:#0000b4;
    font-size: 42px;
    line-height: 42px;
    position: absolute;
    left:18px;
    top: 50%;
    margin-top: -22px;
}

.compare_button[data-amount]::after,
.wishlist_button[data-amount]::after,
#open_shopping_cart[data-amount]::after{ content: attr(data-amount); }

.compare_button::after,
.wishlist_button::after,
#open_shopping_cart::after{
    display: block;
    width:20px;
    height:20px;
    text-align: center;
    position: absolute;
    top: 50%;
    left:41px;
    color:#333;
    font-size:13px;
    background:#fff;
    border-radius:50%;
}

#open_shopping_cart.active,
#open_shopping_cart.active::after{
    background-color: #0000b2;
    border-color:#0000b2;
}

#open_shopping_cart.active *,
#open_shopping_cart.active::after,
#open_shopping_cart.active::before{ color:#fff; }

.close{
    position: absolute;
    top:2px;
    right:0;
    cursor: pointer;
}

.close::before{
    content: '\ee3e';
    font-family: 'fontello';
    color:inherit;
    font-size:16px;

    -webkit-transition: color .4s ease;
    transition: color .4s ease;
}

.close:hover::before{ color: #333; }

/* social buttons */

.payments > li,
.social_btns > li,
.tw_actions > li{
    float:left;
    margin:0 4px 4px 0;
}

a[class*="social_"],button[class*="social_"]{ color:#fff; }

.social_facebook{ background-color: #39599f;}
.social_twitter{ background-color: #40bff5;}
.social_googleplus{ background-color: #eb5b4c;}
.social_pinterest{ background-color: #b8242a;}
.social_flickr{ background-color: #ff1981;}
.social_youtube{ background-color: #cd322c;}
.social_vimeo{ background-color: #44bbff;}
.social_instagram{ background-color: #a47a5e;}
.social_linkedin{ background-color: #328dd3;}
.social_contact{ background-color: #ff4557;}
.social_gmap{ background-color: #0000b4;}
.social_dribbble{ background-color: #e04d84; }
.social_behance{ background-color: #6197ce; }
.social_vk{ background-color: #4c75a3; }
.social_tumblr{ background-color: #364660; }
.social_rss{ background-color: #fb7629; }
.social_dropbox{ background-color: #2897ee; }
.social_github{ background-color: #000; }
.social_delicious{ background-color: #0049cd; }
.social_digg{ background-color: #1a5891; }
.social_deviantart{ background-color: #556b5f; }
.social_skype{ background-color: #00aff0; }
.social_yahoo{ background-color: #43058a; }
.social_reddit{ background-color: #b1d3f5; }
.social_stumbleupon{ background-color: #cd5530; }

/* product buttons */

.add_to_wishlist::after{ content: '\eb0c'; }
.add_to_compare::after{ content: '\e82d'; }
.add_to_cart.def_icon_btn::after{ content: '\eb77'; }
.quick_view_product::after{ content: '\f022'; }

#back_to_top{
    position: fixed;
    top:700px;
    right:15%;
    font-size:17px;
    z-index: 120;
}

#back_to_top::after{ content: "\eaba" ;}

.open_menu{
    color: #b2b2b2;
    font-size: 23px;
}

[class*="toggle_menu"]{
    display: none;
    border:1px solid #eaeaea;
    width: 100%;
    height: 50px;
    text-align: center;
    color: #b2b2b2;
    font-size: 23px;
    z-index: 2;
    border-radius: 0px;
}

.open_menu.active,
[class*="toggle_menu"].active,
.compare_button:hover,
.wishlist_button:hover,
.compare_button:hover::after,
.wishlist_button:hover::after{
    color: #fff;
    border-color: #0000b2;
    background-color: #0000b2;
}

.open_menu::before{
    content: '\eb1a';
    font-family: 'fontello';
}

[class*="toggle_menu"]::before{
    font-family: 'fontello';
    content: "\eed2";
}

.compare_button,
.wishlist_button{
    width: 44px;
    height: 44px;
    padding: 0;
    border: 1px solid #eaeaea;
    position: relative;
    color: #0000b4;
}

.compare_button::after,
.wishlist_button::after{
    left: 47%;

    -webkit-transition: inherit;
    transition: inherit;
}

.compare_button[data-amount]::before,
.wishlist_button[data-amount]::before{ margin-left: -2px; }

.compare_button::before,
.wishlist_button::before{
    font-family: 'fontello';
    position: absolute;
    left: 0;
    width: 100%;
    top: 50%;
    margin-top: -11px;
}

.compare_button::before{
    content: '\e82d';
    font-size: 23px;
}

.wishlist_button::before{
    content: '\ebaa';
    font-size: 26px;
}

.open_categories_sticky{
    text-align: left;
    padding: 10px 10px 10px 44px;
    position: relative;
    background-color: #0000b4;
    color: #fff;
    font-size: 16px;
}

.open_categories_sticky.active{ background-color:#0000b2; }

.open_categories_sticky::after{ font-size: 12px !important; }

.open_categories_sticky::before{
    content: '\eb1a';
    font-family: 'fontello';
    position: absolute;
    left: 19px;
    font-size: 15px;
}

/* Not required stylesheets (may be removed). Start*/

.buttons_example_row:first-child{ margin-top: -10px; }

.buttons_example_row:not(:last-child){ margin-bottom: 10px; }

.buttons_example_row > [class*="button"]{ margin-top: 10px; }

.buttons_example_row > [class*="button"]:not(:first-child){ margin-left: 2px; }

/* Not required stylesheets (may be removed). End */