/* --------------------------------------------
			3.3 Forms
	-------------------------------------------- */

form:not(:last-child){ margin-bottom: 20px; }

input:not([type="submit"]),
textarea, .active_option{
    color:#b2b2b2;
    border:1px solid #eaeaea;
    padding:8px 10px 8px 12px;
    height: 38px;
    width:100%;
    background-color: #fff;
    border-radius:3px;
}

textarea{
    resize: none;
    height: auto;
    display: block;
}

select{
    width:100%;
    cursor: pointer;
    padding:5px;
    border:1px solid #eaeaea;
    padding:7px 8px;
    background-color: #fff;
}

label{
    display: inline-block;
    cursor: pointer;
}

.required::after,
.prompt::before{
    content: "*";
    color: #ff0000;
    display: inline-block;
    margin-left: 4px;
}

input[type="radio"],
input[type="checkbox"]{ display: none; }

input[type="radio"] + label,
input[type="checkbox"] + label{
    position: relative;
    width: auto !important;
    margin:0 17px 0 0 !important;
    padding-left: 32px;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

input[type="radio"] + label::before,
input[type="checkbox"] + label::before{
    content: "";
    display: block;
    text-align: center;
    font-family: 'fontello';
    position: absolute;
    left: 0;
    top: -1px;
    width:22px;
    height:22px;
    color:inherit;
    background:#fff;
    border:1px solid #eaeaea;
    border-radius: 3px;
}

input[type="checkbox"] + label::before{ font-size: 12px; }

input[type="radio"] + label::before{ border-radius: 50%; }

input[type="radio"] + label:empty{
    width: 22px !important;
    padding-left: 0px;
    margin: 0px !important;
}

input[type="checkbox"]:checked + label::before{ content: '\ebb1'; }

input[type="radio"]:checked + label::before{ content: '\edb9'; }

form:not(.type_2) label{
    float: left;
    width: 136px;
}

form:not(.type_2) label[for]{ margin-top:7px; }

form:not(.type_2) .form_el{
    float:left;
    width: calc(100% - 136px);
}

form input:not([type="submit"]).warning{ border-color: #ff7b1a; }
form input:not([type="submit"]).error{ border-color: #ff0000; }
form input:not([type="submit"]).success{ border-color: #269300; }
form input:not([type="submit"]).info{ border-color: #0000b2; }

form:not(.type_2) input:not([type="submit"]).incorrect{
    width: 180px;
    margin-right: 5px;
}

form:not(.type_2) input:not([type="submit"]).incorrect,
form:not(.type_2) input:not([type="submit"]).incorrect + span{
    display: inline-block;
    vertical-align: middle;
}

form.type_2 input:not([type="submit"]).incorrect{ margin-bottom: 5px; }

form.type_2 label{
    margin-bottom: 5px;
}

.custom_select{
    min-width: 80px;
    position: relative;
    background-color: #fff;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.sort_select{
    width: 150px;
    margin-right: 10px;
}

.active_option{
    position: relative;
    cursor: pointer;
}

.active_option.active{ border-radius: 3px 3px 0 0; }

.active_option::after{
    position: absolute;
    right: 15px;
    font-size:13px !important;
    margin-top:1px;
}

.options_list{
    color:#b2b2b2;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    margin-top:-1px;
}

.open_select + .dropdown.active > li:first-child > a{ border-radius: 0px !important; }

.options_list > li:not(:first-child) > a{ border-top:none; }

.options_list > li > a{
    display: block;
    padding:8px 13px;
    background:#fff;
    border:1px solid #eaeaea;
}

.options_list > li > a:hover{
    color:#fff;
    background-color:#0000b4;
    border-color:#0000b4 !important;
}

.options_list > li:last-child > a{ border-radius: 0 0 3px 3px; }

.ui-slider{
    height: 7px;
    background: #f8f8f8;
    border:1px solid #eaeaea;
    max-width: 220px;
}

.ui-slider .ui-slider-handle{
    display: block;
    width: 19px;
    height: 19px;
    background: #fff;
    border: 1px solid #eaeaea;
    cursor: pointer;
    top: -7px;
}

.ui-slider .ui-slider-handle::before{
    content: "";
    display: block;
    width: 9px;
    height: 9px;
    background: #b2b2b2;
    position: absolute;
    top: 4px;
    left: 4px;
}

.ui-slider .ui-slider-handle,
.ui-slider .ui-slider-handle::before{ border-radius: 50%; }

.range{ margin-bottom: 15px; }

.range > *{ display: inline; }

.checkboxes_list{ color: #333; }

legend,
.checkboxes_list > li:not(:last-child),
form > ul > li:not(:last-child){ margin-bottom:10px; }

form li:last-child > [class|="col"] > [class*="button"]:only-child{ margin-top: 10px; }

.prompt{
    font-size: 13px;
    line-height: 21px;
}

.prompt::before{ margin:0 4px 0 0; }

.prompt:empty::before{ margin: 0; }

.min{ width:92px; }

.search{ text-align: left; }

.search, .login{ color:#b2b2b2;}

.search > * {
    height:44px !important;
    border-top:2px solid #0000b4 !important;
    border-bottom:2px solid #0000b4 !important;
}

.newsletter > input,
.search > *:first-child{ border-radius:3px 0 0 3px; }

.search > *:first-child{
    border-right:1px solid #0000b4;
    border-left:2px solid #0000b4;
}

.newsletter > button,
.search > *:last-child{ border-radius:0 3px 3px 0; }

.search > *:last-child{ border-right:2px solid #0000b4; }

.search .def_icon_btn{
    width:50px;
    height: 44px;
}

.search > button::after{ content: '\ee2e'; }

.search > button:hover{ border-color: #0000b2 !important; }

.search input{
    width:calc(100% - 235px);
    padding:9px 13px;
    font-size: 16px;
    border-radius:0px;
}

.newsletter > input[type="email"]{ width:calc(100% - 42px);}

.newsletter > input[type="email"]:first-child{ border-right:none; }

.newsletter > input[type="email"]:last-child{ border-left:none; }

.newsletter > button,
.newsletter > input[type="email"]{
    height:38px !important;
    float:left;
}

.newsletter button{ width:42px; }

.newsletter > button::after{ content: '\ee30'; }

.form_caption{ margin-bottom:15px; }

.form_caption_2{
    font-weight: 600;
    margin-bottom: 10px;
}

.qty > *{
    border:1px solid #eaeaea;
    float:left;
    height:38px;
    text-align: center;
}

.qty > *:first-child{ border-radius:3px 0 0 3px; }

.qty > *:last-child{ border-radius:0 3px 3px 0; }

.qty > input[type="text"]{
    width:calc(100% - 56px);
    border-left:none;
    border-right:none;
    padding-left: 5px;
    padding-right: 5px;
    border-radius:0px;
}

.qty button{
    width:28px;
    padding:0;
    color:inherit;
}

.color_btn{
    position: relative;
    padding-left: 32px;
}

.color_btn::before{
    content: "" !important;
    padding: 1px;
    background-clip: content-box !important;
    border: 1px solid #eaeaea;
    border-radius: 50% !important;

    -webkit-transition: border-color .3s ease;
    transition: border-color .3s ease;
}

.color_btn.green::before{ background: #269300; }
.color_btn.yellow::before{ background: #fccd36; }
.color_btn.red::before{ background: #ff0000; }
.color_btn.blue::before{ background: #0000b2; }
.color_btn.grey::before{ background: #b2b2b2; }
.color_btn.orange::before{ background: #ff7b1a; }

input[type="checkbox"]:checked + .color_btn::before{ border-color: #333; }