/* --------------------------------------------
			3.4 Lists
	-------------------------------------------- */

[class*="list_type_"]{ overflow: hidden; }

[class*="list_type_"]:not(:last-child){ margin-bottom: 18px; }

[class*="list_type_"] > li:not(:last-child){ margin-bottom: 3px; }

[class*="list_type_"]:not(.links) > li,
[class*="list_type_"].links > li > a{
    position: relative;
    padding-left: 18px;
}

[class*="list_type_"].links > li > a::before,
[class*="list_type_"]:not(.links) > li::before{ font-family: 'fontello'; }

[class*="list_type_"].links > li > a::before,
[class*="list_type_"]:not(.links) > li::before{
    position: absolute;
    left:0;
    top: 0px;
    font-size: 12px;
    color: #b2b2b2;

    -webkit-transition: background-color .7s ease, color .7s ease;
    transition: background-color .7s ease, color .7s ease;
}

[class*="list_type_"].links > li > a:hover::before{
    color: #0000b2;

    -webkit-transition: background-color .1s ease, color .1s ease;
    transition: background-color .1s ease, color .1s ease;
}

.list_type_1:not(.links) > li::before,
.list_type_1.links > li > a::before{ content: "\efb9"; }

.list_type_2:not(.links) > li::before,
.list_type_2.links > li > a::before{ content: "\ebb1"; }

.list_type_3:not(.links) > li::before,
.list_type_3.links > li > a::before{
    content: "\e95d";
    font-size: 8px;
}

.list_type_4:not(.links) > li::before,
.list_type_4.links > li > a::before{
    content: "\effe";
    font-size: 10px;
}

.list_type_5:not(.links) > li::before,
.list_type_5.links > li > a::before{
    content: "";
    top: 6px;
    display: block;
    width: 7px;
    height: 7px;
    background: #b2b2b2;
    border-radius: 50%;
}

.list_type_5.links > li > a:hover::before{ background-color: #0000b2; }

.list_type_6{ counter-reset: ordered; }

.list_type_6 > li{ counter-increment: ordered; }

.list_type_6:not(.links) > li,
.list_type_6.links > li > a{ padding-left: 0px; }

.list_type_6:not(.links) > li::before,
.list_type_6.links > li > a::before{
    position: static;
    display: inline-block;
    margin-right: 5px;
    color: inherit;
    font-family: inherit;
    content: counter(ordered)'. ';
}

.list_type_7:not(.links) > li,
.list_type_7.links > li > a{ padding-left: 25px; }

.list_type_7:not(.links) > li::before,
.list_type_7.links > li > a::before{
    content: "\f00b";
    color: #0000b4;
    font-size: 18px;
}

.simple_vertical_list > li:not(:first-child){ margin-top: 10px; }

.topbar > li,
.bottombar > li{
    display: inline-block;
    text-align: left;
}

.topbar li{ position: relative; }

.topbar > li:not(:last-child)::after,
.bottombar > li:not(:last-child)::after{
    color:#c8c8c8;
    content: "|";
    display: inline-block;
    margin:0 3px 0px 7px;
}

/* sidebar menu list */

.sticky_inner .cats{
    position: absolute;
    z-index: 118;
    top: 100%;
    left: 0px;
    width: 263px;
}

.sticky_inner .cats > li:first-child > a,
.sticky_inner .shopping_cart > .animated_item:first-child{
    border-top-width: 0px;
    border-radius: 0px;
}

.list_of_links li a{
    display: block;
    padding:7px 0 9px;
    border-bottom:1px solid #eaeaea;
}

.list_of_links li:last-child a{ border-bottom: none; }

.search .categories_list{
    position: absolute;
    top:100%;
    left:-1px;
    right:-1px;
    margin-top:2px;
}

.search .categories_list li:first-child a{ border-radius:0px; }

.categories_list{
    position: relative;
    text-align: left;
}

.categories_list li a{
    display: block;
    padding:9px 13px 8px;
    background:#fff;
    position: relative;
    border-width:0px 1px 1px 1px;
    border-style:solid;
    border-right-color:#0000b4;
    border-left-color:#0000b4;
    border-bottom-color:#eaeaea;
}

.categories_list li:last-child a{
    border-bottom-color:#0000b4;
    border-radius:0 0 3px 3px;
}

.site_settings li:not(:first-child) a::after,
.categories_list li:not(:first-child) a::after,
.options_list > li:not(:first-child) > a::after{
    content:"";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    opacity: 0;
    z-index: 101;
    top: -1px;
    height: 1px;
    background:#0000b4;

    -webkit-transition: opacity .7s ease;
    transition: opacity .7s ease;
}

.site_settings li:hover a::after,
.categories_list li:hover a::after,
.options_list > li:hover > a::after{
    opacity: 1;

    -webkit-transition: opacity .05s ease;
    transition: opacity .05s ease;
}

.categories_list li:hover a{
    color:#fff;
    background:#0000b4;
    border-color:#0000b4;
}

.all{ color: #0000b2; }

.c_info_list [class*="c_info_"]:not(:last-child){ margin-bottom:10px; }

[class*="c_info_"]:not(ul){
    padding-left: 24px;
    position: relative;
}

[class*="c_info_"]:not(ul)::after{
    font-family: 'fontello';
    color:#0000b4;
    font-size:16px;
    position: absolute;
    left:0;
    top:0;
}

.c_info_location::after{ content: "\eb70"; }
.c_info_phone::after{ content: "\ee7f"; }
.c_info_mail::after{ content: "\ee30"; }
.c_info_schedule::after{ content: "\ee8d"; }

.shop_links_list{ text-align:left; }
.shop_links_list li:not(:first-child){ margin-top:4px; }

.shipping_method li:not(:first-child){ margin-top: 20px; }