/* --------------------------------------------
		3.5 Tooltips
	-------------------------------------------- */

.tooltip_container{
    position: relative;
    z-index:101;
}

.tooltip_container .tooltip{
    position: absolute;
    display: block;
    background:#777;
    color:#fff;
    font-size: 13px;
    white-space: nowrap;
    padding:2px 10px;
    opacity: 0;
    visibility: hidden;
    border-radius: 3px;

    -webkit-transition: -webkit-transform .4s ease, opacity .4s ease, visibility .4s ease;
    transition: transform .4s ease, opacity .4s ease, visibility .4s ease;
}

.tooltip_container:hover{
    z-index: 102;
}

.tooltip_container:hover .tooltip{
    opacity:1;
    visibility: visible;

    -webkit-transition: -webkit-transform .2s ease, opacity .2s ease, visibility .2s ease;
    transition: transform .2s ease, opacity .2s ease, visibility .2s ease;
}

.tooltip_container .tooltip::before{
    content: "";
    display: block;
    position: absolute;
    width:0;
    height:0;
}

.tooltip_container .tooltip.top,
.tooltip_container .tooltip.bottom{
    left:50%;
    bottom:100%;
    margin-bottom:11px;

    -webkit-transform: translateX(-85%) skewX(30deg);
    -ms-transform: translateX(-85%) skewX(30deg);
    transform: translateX(-85%) skewX(30deg);
}

.tooltip_container .tooltip.right{
    left:100%;
    top:50%;
    margin-left:11px;

    -webkit-transform: translate(30%,-50%) skewX(-30deg);
    -ms-transform: translate(30%,-50%) skewX(-30deg);
    transform: translate(30%,-50%) skewX(-30deg);
}

.tooltip_container .tooltip.left{
    right:100%;
    margin-right:11px;
    top:50%;

    -webkit-transform: translate(-30%,-50%) skewX(30deg);
    -ms-transform: translate(-30%,-50%) skewX(30deg);
    transform: translate(-30%,-50%) skewX(30deg);
}

.tooltip_container .tooltip.bottom{
    top:100%;
    bottom: auto;
    margin-top:11px;
}

.tooltip_container:hover .tooltip.top,
.tooltip_container:hover .tooltip.bottom{
    -webkit-transform: translateX(-50%) skewX(0deg);
    -ms-transform: translateX(-50%) skewX(0deg);
    transform: translateX(-50%) skewX(0deg);
}

.tooltip_container:hover .tooltip.left,
.tooltip_container:hover .tooltip.right{
    -webkit-transform: translate(0%,-50%) skewX(0deg);
    -ms-transform: translate(0%,-50%) skewX(0deg);
    transform: translate(0%,-50%) skewX(0deg);
}

.tooltip.top::before{
    top:100%;
    left:50%;
    margin:-1px 0 0 -9px;
    border-left:9px solid transparent;
    border-top:7px solid #777;
    border-right:9px solid transparent;
}

.tooltip.right::before{
    top:50%;
    right:100%;
    margin:-9px -1px 0 0px;
    border-top:9px solid transparent;
    border-right:7px solid #777;
    border-bottom:9px solid transparent;
}

.tooltip.left::before{
    top:50%;
    left:100%;
    margin:-9px 0px 0 -1px;
    border-top:9px solid transparent;
    border-left:7px solid #777;
    border-bottom:9px solid transparent;
}

.tooltip.bottom::before{
    bottom:100%;
    left:50%;
    margin:0px 0 -1px -9px;
    border-left:9px solid transparent;
    border-bottom:7px solid #777;
    border-right:9px solid transparent;
}

/*webkit only*/
@media only screen and (-webkit-min-device-pixel-ratio:0){

    .table_layout:not(.list_view){ width: calc(100% + 1px); }

    .rsContainer .rsSlide img{
        -webkit-border-radius:3px 3px 3px 3px;
        border-radius:3px 3px 3px 3px;
    }
}