/* --------------------------------------------
			3.1 Typography
	-------------------------------------------- */

h1, h2, h3, h4, h5, h6{
    color:#333;
    font-weight: inherit;
    line-height: 1em;
    margin-bottom:14px;
}

h1{ font-size: 30px; }

h2{ font-size:24px; }

h3{ font-size: 22px; }

h4{ font-size: 18px; }

h5{ font-size: 16px; }

h6{ font-size: 14px; }

p:not(:last-of-type):not(.subcaption){ margin-bottom:15px; }

p:last-of-type + [class*="button"]:last-child{ margin-top: 15px; }

small{ font-size: 12px; }

.italic{ font-style: italic; }

.underline { text-decoration: underline; }

.bold{ font-weight: 600 ; }

.sub{ color: #777; }

mark{
    display: inline-block;
    padding:0 2px;
    color: #fff;
    background: #0000b2;
}

[class*="dropcap"]::first-letter{
    float: left;
    font-weight: 900;
    margin-right: 10px;
}

.dropcap_type_1::first-letter{
    color: #0000b2;
    font-size: 36px;
    margin-top: 10px;
}

.dropcap_type_2::first-letter{
    display: block;
    padding: 9px;
    background: #0000b2;
    color: #fff;
    font-size: 24px;
    border-radius: 3px;
}

/* firefox fix */
@-moz-document url-prefix(){

    .dropcap_type_1::first-letter{
        margin-top: 8px;
    }

    .dropcap_type_2::first-letter{
        padding-top: 11px;
        padding-bottom: 11px;
    }

}

/* acnchor style */

.small_link{
    font-size:13px;
    line-height: 21px;
}

.small_link > [class|="icon"]{
    font-size:15px;
    color:#0000b4;
}

.small_link > [class|="icon"]::before{ vertical-align: -1px; }

.mail_to{ color:#0000b2; }

blockquote{
    position: relative;
    padding: 19px 20px;
    background-color: #fff;
    border: 1px solid #eaeaea;
    background-clip: padding-box;
    border-radius: 3px;
}

blockquote::before{
    content:"";
    display: block;
    width:41px;
    height:33px;
    background:url("../images/quotes.png") no-repeat;
    position: absolute;
    top: 13px;
    right: 13px;
}

blockquote.type_2{
    font-size: 16px;
    font-weight: 600;
    padding: 16px 19px 18px 33px;
    line-height: 24px;
}

blockquote.type_2::after{
    content: "";
    position: absolute;
    left: 19px;
    top: 18px;
    bottom: 18px;
    display: block;
    width: 3px;
    background: #0000b2;
}

blockquote .author_info{
    color:#333;
    font-size: 14px;
    font-weight: 600;
    padding-right: 50px;
}

blockquote:not(.type_2) .author_info{ margin-bottom: 4px; }

blockquote.type_2 .author_info{ margin-top: 7px; }

.widget_title,
.section_title{ color:#ff4557; }

/* Breadcrumbs */

.breadcrumbs{ margin-bottom: 43px; }

.breadcrumbs > li{ display: inline-block; }

.breadcrumbs > li:not(:last-child)::after{
    content: "/";
    display: inline-block;
    margin-left: 4px;
}

.subcaption{ margin-bottom: 10px; }

.page_title{ margin-bottom: 27px; }

.icon_link > i[class|="icon"]{
    color: #777;
    font-size: 19px;
    display: inline-block;
    margin-right: 5px;
}

hr{ border-color: #eaeaea; }

hr:not([class]){ margin:0; }

hr.type_2{ border-color: #777; }