/* --------------------------------------------
				12.3 Layer Slider
	-------------------------------------------- */

.ls-v5 .ls-nav-prev{ left: 20px !important; }
.ls-v5 .ls-nav-next{ right: 20px !important; }

.ls-v5 .ls-nav-prev,
.ls-v5 .ls-nav-next{
    z-index: 109 !important;
    opacity: 0;
    width: 50px !important;
    background-image: none !important;
}

.layerslider [class*="button"]{
    -webkit-transition: background-color .7s ease, color .7s ease !important;
    transition: background-color .7s ease, color .7s ease !important;
}

.layerslider [class*="button"]:hover{
    -webkit-transition: background-color .1s ease, color .1s ease !important;
    transition: background-color .1s ease, color .1s ease !important;
}

.layerslider:not(.full_width_nav){
    overflow: hidden;

    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
    -moz-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
    -ms-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
    mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}

.layerslider:hover .ls-nav-prev,
.layerslider:hover .ls-nav-next{ opacity: 1; }

.layerslider .layer_3{ font-size: 42px; }
.layerslider .layer_5{ font-size: 48px; }

.layerslider .layer_6{
    font-size: 60px;
    line-height: 53px;
    text-align: center;
}

.layerslider .layer_6 small{
    font-size: 42px;
    vertical-align: baseline;
}

.layerslider .layer_1,
.layerslider .layer_2,
.layerslider .layer_8,
.layerslider .layer_9{
    font-size: 60px;
    white-space: nowrap;
}

.layerslider .layer_10{
    width: 347px;
    white-space: normal;
}
