/* --------------------------------------------
				12.2 Revolution Slider
	-------------------------------------------- */

.revolution_slider {
    width:100%;
    position:relative;
    padding:0;
    z-index:100;
}

.rev_slider li{ border-radius: 3px; }

.rev_slider{
    width:100%;
    position:relative;
}

.tparrows.default *{ display: none; }

.rev_slider .layer_1{
    font-size: 48px;
    line-height: 1em;
}

.rev_slider .layer_2{
    font-size: 48px;
    line-height: 1em;
}

.rev_slider .layer_3{
    font-size: 30px;
    line-height: 1em;
}

.rev_slider .layer_5{
    font-size: 30px;
    line-height: 1em;
}

.rev_slider .layer_6{
    font-size: 48px;
    line-height: 40px;
}

.rev_slider .layer_6 small{
    font-size: 30px;
    vertical-align: baseline;
}

.rev_slider .layer_8{
    font-size: 48px;
    line-height: 1em;
}

.rev_slider .layer_9{
    font-size: 48px;
    line-height: 1em;
}

.rev_slider .layer_10{
    max-width:266px;
    min-width: 266px;
}