/* --------------------------------------------
				12.1 Royal Slider
	-------------------------------------------- */

.royalSlider{
    width:100%;
    overflow: hidden;
    border-radius:3px;
}

.rsDefault, .rsDefault .rsOverflow, .rsDefault .rsSlide, .rsDefault .rsVideoFrameHolder, .rsDefault .rsThumbs{
    background:transparent;
    color:inherit;
}

.rsDefault .rsArrow{
    width:40px;
    height:40px;
    top:50% !important;
    margin-top:-20px;
}

.rsArrow.rsHidden{
    -webkit-transition: visibility 0s ease .4s,opacity .4s ease;
    transition: visibility 0s ease .4s,opacity .4s ease;
}

.rsDefault .rsArrowLeft{ left:20px !important; }
.rsDefault .rsArrowRight{ right:20px !important; }

.rsDefault .rsArrow .rsArrowIcn{ display: none; }

.royalSlider .align_left [class*="layer_"]{ left:40px; }

.royalSlider .align_center [class*="layer_"]{
    left:0;
    width:100%;
}

.royalSlider .align_right [class*="layer_"]{
    left:auto;
    right:40px;
}

.royalSlider .layer_1{
    top:27.64%;
    font-size:36px;
}

.royalSlider .layer_2{
    top:36.95%;
    font-size:36px;
}

.royalSlider .layer_3{
    font-size:20px;
    top:47.54%;
}

.royalSlider .layer_4{
    top:59.43%;
    line-height: 20px;
}

.royalSlider .layer_5{
    font-size:20px;
    top:27.13%;
}

.royalSlider .layer_6{
    top:36.43%;
    color:#fff;
    font-size:36px;
}

.royalSlider .layer_7{
    top:61.49%;
    line-height: 20px;
}

.royalSlider .layer_8{
    top:23.25%;
    font-size:36px;
}

.royalSlider .layer_9{
    top:32.55%;
    font-size:36px;
}

.royalSlider .layer_10{
    font-size:13px;
    top:43.41%;
    max-width:240px;
}

.royalSlider .layer_11{
    top:64.08%;
    line-height: 20px;
}
