<!--==================================
		Promo modal window
======================================-->

<div id="promo_mw" class="modal_window">

    <button class="close arcticmodal-close"></button>

    <h1 class="align_center promo_title">Подпишитесь &amp; <b>Get 20% Off</b> on Any Product!</h1>

    <div class="row">

        <!--Image column-->
        <div class="col-sm-6 image_col">

            <img src="/static/images/promo_img.jpg" alt="">

            <input type="checkbox" name="" id="dont_show_again">
            <label for="dont_show_again" class="do_not_show_checkbox">Больше не показывать это уведомление</label>

        </div>
        <!--End image column-->

        <!--Subscribe column-->
        <div class="col-sm-6">

            <p class="form_caption">Sign up our newsletter and get exclusive deals you will not find anywhere else
                straight to your inbox!</p>

            <form class="subscribe" novalidate>

                <ul>

                    <li><input type="email" name="sc_email" placeholder="Введите свой email"></li>
                    <li>
                        <button class="button_blue middle_btn">Подписаться</button>
                    </li>

                </ul>

            </form>

        </div>
        <!--End Subscribe column-->

    </div>
    <!--/ .row-->

</div><!--/ .modal_window-->