<!--==================================
		Quick view modal window
======================================-->

<div id="quick_view" class="modal_window">

    <button class="close arcticmodal-close"></button>

    <div class="clearfix">

        <!-- - - - - - - - - - - - - - Product image column - - - - - - - - - - - - - - - - -->

        <div class="single_product">

            <!-- - - - - - - - - - - - - - Image preview container - - - - - - - - - - - - - - - - -->

            <div class="image_preview_container" id="qv_preview">

                <img id="img_zoom" data-zoom-image="/static/images/qv_large_1.JPG"
                     src="/static/images/qv_img_1.jpg" alt="">

            </div>
            <!--/ .image_preview_container-->

            <!-- - - - - - - - - - - - - - End of image preview container - - - - - - - - - - - - - - - - -->

            <!-- - - - - - - - - - - - - - Prodcut thumbs carousel - - - - - - - - - - - - - - - - -->

            <div class="product_preview" data-output="#qv_preview">

                <div class="owl_carousel" id="thumbnails">

                    <img src="/static/images/qv_thumb_1.jpg" data-large-image="/static/images/qv_img_1.jpg" alt="">

                    <img src="/static/images/qv_thumb_2.jpg" data-large-image="/static/images/qv_img_2.jpg" alt="">

                    <img src="/static/images/qv_thumb_3.jpg" data-large-image="/static/images/qv_img_3.jpg" alt="">

                    <img src="/static/images/qv_thumb_4.jpg" data-large-image="/static/images/qv_img_4.jpg" alt="">

                </div>
                <!--/ .owl-carousel-->

            </div>
            <!--/ .product_preview-->

            <!-- - - - - - - - - - - - - - End of prodcut thumbs carousel - - - - - - - - - - - - - - - - -->

            <!-- - - - - - - - - - - - - - Share - - - - - - - - - - - - - - - - -->

            <div class="v_centered">

                <span class="title">Поделиться:</span>

                <div class="addthis_widget_container">
                    <!-- AddThis Button BEGIN -->
                    <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
                        <a class="addthis_button_preferred_1"></a>
                        <a class="addthis_button_preferred_2"></a>
                        <a class="addthis_button_preferred_3"></a>
                        <a class="addthis_button_preferred_4"></a>
                        <a class="addthis_button_compact"></a>
                        <a class="addthis_counter addthis_bubble_style"></a>
                    </div>
                    <!-- AddThis Button END -->
                </div>

            </div>

            <!-- - - - - - - - - - - - - - End of share - - - - - - - - - - - - - - - - -->

        </div>

        <!-- - - - - - - - - - - - - - End of product image column - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Product description column - - - - - - - - - - - - - - - - -->

        <div class="single_product_description">

            <h3><a href="#">Ivory Body Wash, Original 24 fl oz</a></h3>

            <div class="description_section v_centered">

                <!-- - - - - - - - - - - - - - Product rating - - - - - - - - - - - - - - - - -->

                <ul class="rating">

                    <li class="active"></li>
                    <li class="active"></li>
                    <li class="active"></li>
                    <li></li>
                    <li></li>

                </ul>

                <!-- - - - - - - - - - - - - - End of product rating - - - - - - - - - - - - - - - - -->

                <!-- - - - - - - - - - - - - - Reviews menu - - - - - - - - - - - - - - - - -->

                <ul class="topbar">

                    <li><a href="#">3 Отзыва</a></li>
                    <li><a href="#">Написать отызв</a></li>

                </ul>

                <!-- - - - - - - - - - - - - - End of reviews menu - - - - - - - - - - - - - - - - -->

            </div>

            <div class="description_section">

                <table class="product_info">

                    <tbody>

                    <tr>
                        <td>Производитель:</td>
                        <td><a href="#">Pfizer</a></td>
                    </tr>
                    <tr>
                        <td>В наличии:</td>
                        <td><span class="in_stock">5 едениц</span> на складе</td>
                    </tr>
                    <tr>
                        <td>Код товара:</td>
                        <td>PS06</td>
                    </tr>

                    </tbody>

                </table>

            </div>

            <hr>

            <div class="description_section">

                <p>Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel,
                    cursus eleifend, elit. Aenean auctor wisi et urna.</p>

            </div>

            <hr>

            <p class="product_price"><s>9.99</s> <b class="theme_color">5.99</b></p>

            <!-- - - - - - - - - - - - - - Product size - - - - - - - - - - - - - - - - -->

            <div class="description_section_2 v_centered">

                <span class="title">Форма выпуска:</span>

                <div class="custom_select min">

                    <select>
                        <option value="Таблетки">Таблетки</option>
                        <option value="Сироп">Сироп</option>
                        <option value="Капсулы">Капсулы</option>
                    </select>

                </div>

            </div>

            <!-- - - - - - - - - - - - - - End of product size - - - - - - - - - - - - - - - - -->

            <!-- - - - - - - - - - - - - - Quantity - - - - - - - - - - - - - - - - -->

            <div class="description_section_2 v_centered">

                <span class="title">Количество:</span>

                <div class="qty min clearfix">

                    <button class="theme_button" data-direction="minus">&#45;</button>
                    <input type="text" name="" value="1">
                    <button class="theme_button" data-direction="plus">&#43;</button>

                </div>

            </div>

            <!-- - - - - - - - - - - - - - End of quantity - - - - - - - - - - - - - - - - -->

            <!-- - - - - - - - - - - - - - Product actions - - - - - - - - - - - - - - - - -->

            <div class="buttons_row">

                <button class="button_blue middle_btn">Добавить в корзину</button>

                <button class="button_dark_grey def_icon_btn middle_btn add_to_wishlist tooltip_container"><span
                        class="tooltip top">Отложить</span></button>

                <button class="button_dark_grey def_icon_btn middle_btn add_to_compare tooltip_container"><span
                        class="tooltip top">Добавить к сравнению</span></button>

            </div>

            <!-- - - - - - - - - - - - - - End of product actions - - - - - - - - - - - - - - - - -->

        </div>

        <!-- - - - - - - - - - - - - - End of product description column - - - - - - - - - - - - - - - - -->

    </div>

</div>

<!--==================================
		End quick view modal window
====================================== -->