<div class="shopping_cart dropdown">

  <div class="animated_item">

    <p class="title">Недавно добавленные</p>

    <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->

    <div class="clearfix sc_product">

      <a href="#" class="product_thumb"><img src="/static/images/sc_img_1.jpg" alt=""></a>

      <a href="#" class="product_name">Aenean Auctor Wisi Et Urna Ipsum...</a>

      <p>1 x 499₴ </p>

      <button class="close"></button>

    </div><!--/ .clearfix.sc_product-->

    <!-- - - - - - - - - - - - - - End of product - - - - - - - - - - - - - - - - -->

  </div><!--/ .animated_item-->

  <div class="animated_item">

    <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->

    <div class="clearfix sc_product">

      <a href="#" class="product_thumb"><img src="/static/images/sc_img_2.jpg" alt=""></a>

      <a href="#" class="product_name">Lorem Ipsum Dolor Sit Amet...</a>

      <p>1 x 499₴ </p>

      <button class="close"></button>

    </div><!--/ .clearfix.sc_product-->

    <!-- - - - - - - - - - - - - - End of product - - - - - - - - - - - - - - - - -->

  </div><!--/ .animated_item-->

  <div class="animated_item">

    <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->

    <div class="clearfix sc_product">

      <a href="#" class="product_thumb"><img src="/static/images/sc_img_3.jpg" alt=""></a>

      <a href="#" class="product_name">Nemo Enim Ipsam <br>Voluptatem 30 ea</a>

      <p>1 x 499₴ </p>

      <button class="close"></button>

    </div><!--/ .clearfix.sc_product-->

    <!-- - - - - - - - - - - - - - End of product - - - - - - - - - - - - - - - - -->

  </div><!--/ .animated_item-->

  <div class="animated_item">

    <!-- - - - - - - - - - - - - - Total info - - - - - - - - - - - - - - - - -->

    <ul class="total_info">

      <li><span class="price">Скидка:</span> 37₴ </li>

      <li class="total"><b><span class="price">Итого:</span> 999₴ </b></li>

    </ul>

    <!-- - - - - - - - - - - - - - End of total info - - - - - - - - - - - - - - - - -->

  </div><!--/ .animated_item-->

  <div class="animated_item">
    <%= link_to 'Корзина', cart_path, class: 'button_grey' %>
    <%= link_to 'К оплате', checkout_path, class: 'button_blue' %>
  </div>

</div>