<ul class="theme_menu cats <%= "dropdown" if is_dropdown %>">
  <li class="has_megamenu">

    <a href="#">Лекарства (1375)</a>


    <div class="mega_menu clearfix">
      <div class="mega_menu_item">
        <ul class="list_of_links">
          <li><a href="#">Гастрит, ГЭРБ</a></li>
          <li><a href="#">Сердечно-сосудистая система</a></li>
          <li><a href="#">Лечение инфекций</a></li>
          <li><a href="#">Гормональные препараты</a></li>
          <li><a href="#">Иммуномодуляторы</a></li>
          <li><a href="#">Нервная система</a></li>
          <li><a href="#">Противопаразитные препараты</a></li>
          <li><a href="#">Дыхательная система</a></li>
          <li><a href="#">Кожные заболевания</a></li>
        </ul>
      </div>
      <!--/ .mega_menu_item-->

      <div class="mega_menu_item">
        <ul class="list_of_links">
          <li><a href="#">Холестерин</a></li>
          <li><a href="#">Диабет</a></li>
          <li><a href="#">Артрит</a></li>
          <li><a href="#">Депрессия</a></li>
          <li><a href="#">Гипертензия</a></li>
          <li><a href="#">Астма</a></li>
          <li><a href="#">Аллергия</a></li>
          <li><a href="#">Безсоница</a></li>
          <li><a href="#">Бесплодие</a></li>
        </ul>
      </div>
      <!--/ .mega_menu_item-->
    </div>
    <!--/ .mega_menu-->

  </li>
  <li class="has_megamenu">

    <a href="#">Красота и гигиена (1687)</a>

    <div class="mega_menu type_2 clearfix">
      <div class="mega_menu_item">

        <h6><b>По категориям</b></h6>
        <ul class="list_of_links">
          <li><a href="#">Уход за лицом</a></li>
          <li><a href="#">Уход за волосами</a></li>
          <li><a href="#">Уход за телом</a></li>
          <li><a href="#">Уход за полостью рта</a></li>
          <li><a href="#">Женская гигиена</a></li>
          <li><a href="#">Защита от насекомых</a></li>
          <li><a href="#">Аксессуары</a></li>
          <li><a href="#" class="all">Все категории</a></li>
        </ul>

      </div>
      <!--/ .mega_menu_item-->

      <div class="mega_menu_item">

        <h6><b>По марке</b></h6>
        <ul class="list_of_links">
          <li><a href="#">Abibas</a></li>
          <li><a href="#">Agedir</a></li>
          <li><a href="#">Aldan</a></li>
          <li><a href="#">Biomask</a></li>
          <li><a href="#">Gamman</a></li>
          <li><a href="#">Pallona</a></li>
          <li><a href="#">Pure Care</a></li>
          <li><a href="#" class="all">Все марки</a></li>
        </ul>

      </div>
      <!--/ .mega_menu_item-->

      <div class="mega_menu_item">
        <a href="#">
          <img src="/static/images/mega_menu_img_1.jpg" alt="">
        </a>
      </div>

    </div>

  </li>
  <li class="has_megamenu">

    <a href="#">Мама и малыш (1036)</a>

    <div class="mega_menu type_3 clearfix">
      <div class="mega_menu_item">
        <ul class="list_of_links">
          <li><a href="#">Средства гигиены</a></li>
          <li><a href="#">Детское питание</a></li>
          <li><a href="#">Для беременных и кормящих</a></li>
          <li><a href="#">Аксессуары для кормления</a></li>
          <li><a href="#">Товары для детей</a></li>
          <li><a href="#">Игрушки</a></li>
          <li><a href="#">Детская косметика</a></li>
          <li><a href="#">Разное</a></li>
          <li><a href="#" class="all">Алфавитный указатель</a></li>
        </ul>
      </div>
      <!--/ .mega_menu_item -->

      <div class="mega_menu_item products_in_mega_menu">

        <h6 class="widget_title"><b>Акции Дня</b></h6>

        <div class="row">
          <div class="col-sm-4">
            <div class="product_item">
              <div class="image_wrap">
                <img src="/static/images/product_img_11.jpg" alt="">
              </div>
              <!--/. image_wrap-->

              <div class="label_offer percentage">
                <div>30%</div>
                СКИДКА
              </div>

              <div class="description">
                <p><a href="#">Tellus Dolor Dapibus Eget 24 fl oz</a></p>
                <div class="clearfix product_info">
                  <p class="product_price alignleft"><s>9.99</s>
                    <b>5.99</b></p>
                </div>
                <!--/ .clearfix.product_info-->
              </div>


            </div>
            <!--/ .product_item-->

          </div>
          <!--/ [col]-->

          <div class="col-sm-4">

            <div class="product_item">
              <div class="image_wrap">
                <img src="/static/images/product_img_12.jpg" alt="">
              </div>
              <!--/. image_wrap-->

              <div class="label_offer percentage">
                <div>25%</div>
                СКИДКА
              </div>

              <div class="description">
                <p><a href="#">Ipsum Dolor Sit Amet, Size 4 Diapers 29
                  ea</a></p>
                <div class="clearfix product_info">
                  <p class="product_price alignleft"><s>16.99</s>
                    <b>14.99</b></p>
                </div>
                <!--/ .clearfix.product_info-->
              </div>

            </div>
            <!--/ .product_item-->

          </div>
          <!--/ [col]-->

          <div class="col-sm-4">
            <div class="product_item">

              <div class="image_wrap">
                <img src="/static/images/product_img_13.jpg" alt="">
              </div>
              <!--/. image_wrap-->


              <div class="label_offer percentage">
                <div>40%</div>
                СКИДКА
              </div>

              <div class="description">
                <p><a href="#">Ut Tellus Dolor Dapbus Eget Dolor
                  Ipsum...</a></p>
                <div class="clearfix product_info">
                  <p class="product_price alignleft"><s>103.99</s> <b>73.99</b>
                  </p>
                </div>
                <!--/ .clearfix.product_info-->
              </div>

            </div>
            <!--/ .product_item-->

          </div>
          <!--/ [col]-->

        </div>
        <!--/ .row-->

        <hr>

        <a href="#" class="button_grey">Все акции в категории</a>

      </div>
      <!--/ .mega_menu_item-->

      <!-- - - - - - - - - - - - - - End of mega menu item - - - - - - - - - - - - - - - - -->

    </div>
    <!--/ .mega_menu-->

    <!-- - - - - - - - - - - - - - End of mega menu - - - - - - - - - - - - - - - - -->

  </li>
  <li class="has_megamenu">

    <a href="#">Лечебная косметика (202)</a>


    <div class="mega_menu type_4 clearfix">


      <div class="mega_menu_item">

        <h6><b>По состоянию</b></h6>

        <ul class="list_of_links">

          <li><a href="#">Акне и прыщи</a></li>
          <li><a href="#">Угри</a></li>
          <li><a href="#">Аллергия</a></li>
          <li><a href="#" class="all">Смотерть все</a></li>

        </ul>

      </div>
      <!--/ .mega_menu_item-->

      <div class="mega_menu_item">

        <h6><b>Поливитамины</b></h6>

        <ul class="list_of_links">

          <li><a href="#">Для спортсменов</a></li>
          <li><a href="#">Для детей</a></li>
          <li><a href="#">При беременности</a></li>
          <li><a href="#" class="all">Смотреть все</a></li>

        </ul>

      </div>
      <!--/ .mega_menu_item-->

      <div class="mega_menu_item">

        <h6><b>Гомеопатия</b></h6>
        <ul class="list_of_links">
          <li><a href="#">Алоэ Вера</a></li>
          <li><a href="#">Ashwagandha</a></li>
          <li><a href="#">Astragalus</a></li>
          <li><a href="#" class="all">Смотреть все</a></li>
        </ul>

      </div>
      <!--/ .mega_menu_item-->

      <div class="mega_menu_banner">

        <a href="#">
          <img src="/static/images/mega_menu_img_2.jpg" alt="">
        </a>

      </div>
      <!--/ .mega_menu_banner-->

    </div>
    <!--/ .mega_menu-->

  </li>
  <li class="has_megamenu"><a href="#">Медтехника и изделия (525)</a></li>
  <li class="has_megamenu"><a href="#">Товары для здоровья (135)</a></li>
  <li class="has_megamenu"><a href="#">БАДы и витамины (298)</a></li>
  <li class="has_megamenu"><a href="#" class="all"><b>Все категории</b></a></li>
</ul>