<div class="infoblocks_container">
  <ul class="infoblocks_wrap">
    <li>
      <a href="#" class="infoblock type_1">
        <i class="icon-paper-plane"></i>
        <span class="caption"><b>Быстрое оформление заказа</b></span>
      </a><!--/ .infoblock-->
    </li>

    <li>
      <a href="#" class="infoblock type_1">
        <i class="icon-lock"></i>
        <span class="caption"><b>Кабинет постоянного клиента</b></span>
      </a><!--/ .infoblock-->
    </li>

    <li>
      <a href="#" class="infoblock type_1">
        <i class="icon-money"></i>
        <span class="caption"><b>Лучшие цены на лекарства</b></span>
      </a><!--/ .infoblock-->
    </li>
  </ul>
</div>
