<form class="type_2">

  <div class="table_layout list_view">

    <div class="table_row">

      <!-- - - - - - - - - - - - - - Category filter - - - - - - - - - - - - - - - - -->

      <div class="table_cell">

        <label>Умный подбор</label>

        <div class="custom_select">

          <select name="">
            <option value="Лидеры продаж">Лидеры продаж</option>
            <option value="Новинки">Новинки</option>
            <option value="Акционные товары">Акционные товары</option>
            <option value="Рекомендуемые">Рекомендуемые</option>
          </select>

        </div>

      </div>
      <!--/ .table_cell -->

      <!-- - - - - - - - - - - - - - End of category filter - - - - - - - - - - - - - - - - -->

      <!-- - - - - - - - - - - - - - Manufacturer - - - - - - - - - - - - - - - - -->

      <div class="table_cell">

        <fieldset>

          <legend>Производитель</legend>

          <ul class="checkboxes_list">

            <li>
              <input type="checkbox" checked name="manufacturer" id="manufacturer_1">
              <label for="manufacturer_1">Хиноин Прайвит</label>
            </li>

            <li>
              <input type="checkbox" name="manufacturer" id="manufacturer_2">
              <label for="manufacturer_2">Пфайзер Фармасьютикалс</label>
            </li>

            <li>
              <input type="checkbox" name="manufacturer" id="manufacturer_3">
              <label for="manufacturer_3">BAYER CARE</label>
            </li>

          </ul>

        </fieldset>

      </div>
      <!--/ .table_cell -->

      <!-- - - - - - - - - - - - - - End manufacturer - - - - - - - - - - - - - - - - -->

      <!-- - - - - - - - - - - - - - Price - - - - - - - - - - - - - - - - -->

      <div class="table_cell">

        <fieldset>

          <legend>Цена</legend>

          <div class="range">
            Диапазон:
            <span class="min_val"></span> -
            <span class="max_val"></span>
            <input type="hidden" name="" class="min_value">
            <input type="hidden" name="" class="max_value">
          </div>

          <div id="slider"></div>

        </fieldset>

      </div>
      <!--/ .table_cell -->


      <!--
      <div class="table_cell">

        <fieldset>

          <legend>Color</legend>

          <div class="row">

            <div class="col-sm-6">

              <ul class="simple_vertical_list">

                <li>

                  <input type="checkbox" name="" id="color_btn_1">
                  <label for="color_btn_1" class="color_btn green">Green</label>

                </li>

                <li>

                  <input type="checkbox" name="" id="color_btn_2">
                  <label for="color_btn_2" class="color_btn yellow">Yellow</label>

                </li>

                <li>

                  <input type="checkbox" name="" id="color_btn_3">
                  <label for="color_btn_3" class="color_btn red">Red</label>

                </li>

              </ul>

            </div>

            <div class="col-sm-6">

              <ul class="simple_vertical_list">

                <li>

                  <input type="checkbox" name="" id="color_btn_4">
                  <label for="color_btn_4" class="color_btn blue">Blue</label>

                </li>

                <li>

                  <input type="checkbox" name="" id="color_btn_5">
                  <label for="color_btn_5" class="color_btn grey">Grey</label>

                </li>

                <li>

                  <input type="checkbox" name="" id="color_btn_6">
                  <label for="color_btn_6" class="color_btn orange">Orange</label>

                </li>

              </ul>

            </div>

          </div>

        </fieldset>

      </div>
      <!--/ .table_cell -->


      <!-- - - - - - - - - - - - - - End price - - - - - - - - - - - - - - - - -->

    </div>
    <!--/ .table_row -->

  </div>
  <!--/ .table_layout -->

  <footer class="bottom_box">
    <div class="buttons_row">
      <button type="submit" class="button_blue middle_btn">Поиск</button>
      <button type="reset" class="button_grey middle_btn filter_reset">Сбросить</button>
    </div>

  </footer>

</form>