<div class="footer_section">

  <div class="container">

    <div class="row">

      <div class="col-md-5 col-sm-6">

        <!-- - - - - - - - - - - - - - Subscribe widget - - - - - - - - - - - - - - - - -->

        <section class="widget">

          <h4>Подпишитесь на акции и скидки</h4>

          <p class="form_caption">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Dignissimos, dolor inventore qui rem repellendus vel veniam. Autem impedit incidunt
            ipsum natus, necessitatibus nobis, nostrum nulla, numquam obcaecati odit praesentium
            quo?!</p>

          <form class="newsletter subscribe clearfix" novalidate>

            <input type="email" name="sc_email" placeholder="Введите свой email">

            <button class="button_blue def_icon_btn"></button>

          </form>

        </section>
        <!--/ .subscribe_wrap-->

        <!-- - - - - - - - - - - - - - End of subscribe widget - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Social icon's widget - - - - - - - - - - - - - - - - -->

        <section class="widget">

          <h4>Мы в соцсетях</h4>

          <ul class="social_btns">

            <li>
              <a href="#" class="icon_btn middle_btn social_facebook tooltip_container"><i
              class="icon-facebook-1"></i><span class="tooltip top">Facebook</span></a>
            </li>

            <li>
              <a href="#" class="icon_btn middle_btn social_twitter tooltip_container"><i
              class="icon-twitter"></i><span class="tooltip top">Twitter</span></a>
            </li>

            <li>
              <a href="#" class="icon_btn middle_btn social_googleplus tooltip_container"><i
              class="icon-gplus-2"></i><span class="tooltip top">GooglePlus</span></a>
            </li>

            <li>
              <a href="#" class="icon_btn middle_btn social_pinterest tooltip_container"><i
              class="icon-pinterest-3"></i><span class="tooltip top">Pinterest</span></a>
            </li>

            <li>
              <a href="#" class="icon_btn middle_btn social_flickr tooltip_container"><i
              class="icon-flickr-1"></i><span class="tooltip top">Flickr</span></a>
            </li>

            <li>
              <a href="#" class="icon_btn middle_btn social_youtube tooltip_container"><i
              class="icon-youtube"></i><span class="tooltip top">Youtube</span></a>
            </li>

            <li>
              <a href="#" class="icon_btn middle_btn social_vimeo tooltip_container"><i
              class="icon-vimeo-2"></i><span class="tooltip top">Vimeo</span></a>
            </li>

            <li>
              <a href="#" class="icon_btn middle_btn social_instagram tooltip_container"><i
              class="icon-instagram-4"></i><span class="tooltip top">Instagram</span></a>
            </li>

            <li>
              <a href="#" class="icon_btn middle_btn social_linkedin tooltip_container"><i
              class="icon-linkedin-5"></i><span class="tooltip top">LinkedIn</span></a>
            </li>

          </ul>

        </section>

        <!-- - - - - - - - - - - - - - End social icon's widget - - - - - - - - - - - - - - - - -->

      </div>
      <!--/ [col]-->

      <div class="col-md-3 col-sm-6">

        <!-- - - - - - - - - - - - - - Blog widget - - - - - - - - - - - - - - - - -->

        <section class="widget">

          <h4>Наши новости</h4>

          <ul class="list_of_entries">

            <!-- - - - - - - - - - - - - - Entry - - - - - - - - - - - - - - - - -->

            <li>

              <article class="entry">

                <!-- - - - - - - - - - - - - - Thumbnail - - - - - - - - - - - - - - - - -->

                <a href="#" class="entry_thumb">

                  <img src="/static/images/latest_news_thumb_1.jpg" alt="">

                </a>

                <!-- - - - - - - - - - - - - - End of thumbnail - - - - - - - - - - - - - - - - -->

                <div class="wrapper">

                  <h6 class="entry_title"><a href="#">Vestibulum sed ante</a></h6>

                  <!-- - - - - - - - - - - - - - Byline - - - - - - - - - - - - - - - - -->

                  <div class="entry_meta">

                    <span><i class="icon-calendar"></i> 01-02-2015 12:25</span>

                  </div>
                  <!--/ .entry_meta-->

                  <!-- - - - - - - - - - - - - - End of byline - - - - - - - - - - - - - - - - -->

                </div>
                <!--/ .wrapper-->

              </article>
              <!--/ .clearfix-->

            </li>

            <!-- - - - - - - - - - - - - - End of entry - - - - - - - - - - - - - - - - -->

            <!-- - - - - - - - - - - - - - Entry - - - - - - - - - - - - - - - - -->

            <li>

              <article class="entry">

                <!-- - - - - - - - - - - - - - Thumbnail - - - - - - - - - - - - - - - - -->

                <a href="#" class="entry_thumb">

                  <img src="/static/images/latest_news_thumb_2.jpg" alt="">

                </a>

                <!-- - - - - - - - - - - - - - End of thumbnail - - - - - - - - - - - - - - - - -->

                <div class="wrapper">

                  <h6 class="entry_title"><a href="#">Nulla venenatis</a></h6>

                  <!-- - - - - - - - - - - - - - Byline - - - - - - - - - - - - - - - - -->

                  <div class="entry_meta">

                    <span><i class="icon-calendar"></i> 01-02-2015 12:25</span>

                  </div>
                  <!--/ .entry_meta-->

                  <!-- - - - - - - - - - - - - - End of byline - - - - - - - - - - - - - - - - -->

                </div>
                <!--/ .wrapper-->

              </article>
              <!--/ .clearfix-->

            </li>

            <!-- - - - - - - - - - - - - - End of entry - - - - - - - - - - - - - - - - -->

            <!-- - - - - - - - - - - - - - Entry - - - - - - - - - - - - - - - - -->

            <li>

              <article class="entry">

                <!-- - - - - - - - - - - - - - Thumbnail - - - - - - - - - - - - - - - - -->

                <a href="#" class="entry_thumb">

                  <img src="/static/images/latest_news_thumb_3.jpg" alt="">

                </a>

                <!-- - - - - - - - - - - - - - End of thumbnail - - - - - - - - - - - - - - - - -->

                <div class="wrapper">

                  <h6 class="entry_title"><a href="#">Pellentesque sed dolor</a></h6>

                  <!-- - - - - - - - - - - - - - Byline - - - - - - - - - - - - - - - - -->

                  <div class="entry_meta">

                    <span><i class="icon-calendar"></i> 01-02-2015 12:25</span>

                  </div>
                  <!--/ .entry_meta-->

                  <!-- - - - - - - - - - - - - - End of byline - - - - - - - - - - - - - - - - -->

                </div>
                <!--/ .wrapper-->

              </article>
              <!--/ .clearfix-->

            </li>

            <!-- - - - - - - - - - - - - - End of entry - - - - - - - - - - - - - - - - -->

          </ul>

        </section>
        <!--/ .widget-->

        <!-- - - - - - - - - - - - - - End of blog widget - - - - - - - - - - - - - - - - -->

      </div>
      <!--/ [col]-->

      <div class="col-md-2 col-sm-6">

        <!-- - - - - - - - - - - - - - Information widget - - - - - - - - - - - - - - - - -->

        <section class="widget">

          <h4>Информация</h4>

          <ul class="list_of_links">

            <li><a href="#">О аптечной сети</a></li>
            <li><a href="#">Как сделать зазказ</a></li>
            <li><a href="#">Конфеденциальность</a></li>
            <li><a href="#">Публичная оферта</a></li>
            <li><a href="#">Контакты</a></li>
            <li><a href="#">Вопросы и ответы</a></li>

          </ul>

        </section>
        <!--/ .widget-->

        <!-- - - - - - - - - - - - - - End information widget - - - - - - - - - - - - - - - - -->

      </div>
      <!--/ [col]-->

      <div class="col-md-2 col-sm-6">

        <!-- - - - - - - - - - - - - - Account's links widget - - - - - - - - - - - - - - - - -->

        <section class="widget">

          <h4>Учетная запись</h4>

          <ul class="list_of_links">

            <li><a href="#">Профиль</a></li>
            <li><a href="#">История заказов</a></li>
            <li><a href="#">Баланс карты</a></li>
            <li><a href="#">Отложенные товары</a></li>
            <li><a href="#">Рассылка</a></li>

          </ul>

        </section>
        <!--/ .widget-->

        <!-- - - - - - - - - - - - - - End of account's links widget - - - - - - - - - - - - - - - - -->

      </div>
      <!--/ [col]-->

    </div>
    <!--/ .row-->

  </div>
  <!--/ .container-->

</div>
<!--/ .footer_section-->

<hr>

<div class="footer_section_3 align_center">

  <div class="container">

    <div class="row">

      <div class="col-xs-12">

        <!-- - - - - - - - - - - - - - Payments - - - - - - - - - - - - - - - - -->

        <ul class="payments">

          <li><img src="/static/images/payment_1.png" alt=""></li>
          <li><img src="/static/images/payment_2.png" alt=""></li>
          <li><img src="/static/images/payment_3.png" alt=""></li>
          <li><img src="/static/images/payment_4.png" alt=""></li>
          <li><img src="/static/images/payment_5.png" alt=""></li>
          <li><img src="/static/images/payment_6.png" alt=""></li>
          <li><img src="/static/images/payment_7.png" alt=""></li>
          <li><img src="/static/images/payment_8.png" alt=""></li>

        </ul>

        <!-- - - - - - - - - - - - - - End of payments - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Footer navigation - - - - - - - - - - - - - - - - -->

        <nav class="footer_nav">

          <ul class="bottombar">

            <li><a href="#tab-1">Лекарства</a></li>
            <li><a href="#tab-2">Красота</a></li>
            <li><a href="#tab-3">Мама и малыш</a></li>
            <li><a href="#tab-4">Лечебная косметика</a></li>
            <li><a href="#tab-5">Медтехника и изделия</a></li>
            <li><a href="#tab-6">Товары для здоровья</a></li>
            <li><a href="#tab-7">БАДы и витамины</a></li>

          </ul>

        </nav>

        <!-- - - - - - - - - - - - - - End of footer navigation - - - - - - - - - - - - - - - - -->

        <p class="copyright">&copy; 2015 <a href="index.html">Мега-Аптека</a>. Все права соблюдены.</p>

      </div>

    </div>

  </div>
  <!--/ .container-->

</div>
<!--/ .footer_section-->