<div id="topbar_menu">&nbsp;</div>

<div class="bottom_part">

  <div class="container">

    <div class="row">

      <div class="main_header_row">

        <div class="col-sm-7">
          <!-- - - - - - - - - - - - - - Logo - - - - - - - - - - - - - - - - -->
          <a href="/" class="logo">
            <img src="/static/images/logo_v2-large@2x.png" alt="Мега Аптека Здоровья">
          </a>
        </div>
        <!--/ [col]-->

        <div class="col-lg-5 col-sm-5">

          <div class="clearfix">

            <!-- - - - - - - - - - - - - - Language change - - - - - - - - - - - - - - - - -->

            <div class="alignright site_settings">

              <span class="label">Выбран язык</span> <span class="current open_">
                 <!-- <img src="/static/images/flags/RU.png" alt="">-->Русский</span>

              <ul class="dropdown site_setting_list language" style="width: 130px;">
                <li><a href="#"><!--<img src="/static/images/flags/RU.png" alt="">-->Русский</a></li>
                <li><a href="#"><!--<img src="/static/images/flags/UA.png" alt="">-->Українська</a></li>
              </ul>

            </div>
            <!--/ .alignright.site_settings-->


            <div class="alignright site_settings">

              <span class="label">Ваш город</span> <span class="current open_">Киев</span>

              <ul class="dropdown site_setting_list city">

                <li class="animated_item"><a href="#">Харьков</a></li>
                <li class="animated_item"><a href="#">Одесса</a></li>
                <li class="animated_item"><a href="#">Николаев</a></li>

              </ul>

            </div>


          </div>
          <!--/ .clearfix-->

          <!-- - - - - - - - - - - - - - Navigation of shop - - - - - - - - - - - - - - - - -->

          <nav class="align_right">
            <ul class="topbar">
              <li><a href="#">Наши аптеки</a></li>
              <li><%= link_to 'Как сделать заказ', how_to_path %></li>
              <li><%= link_to 'Гарантия', warranty_path %></li>
              <li><%= link_to 'Контакты', contacts_path %></li>
              <!--<li><a href="#">Баланс карты</a></li>-->
            </ul>
          </nav>

        </div>
        <!--/ [col]-->

      </div>
      <!--/ .main_header_row-->

    </div>
    <!--/ .row-->

  </div>
  <!--/ .container-->

</div>
<!--/ .bottom_part -->

<!-- - - - - - - - - - - - - - Main navigation wrapper - - - - - - - - - - - - - - - - -->
<div id="main_navigation_wrap">

  <div class="container">

    <div class="row">

      <div class="col-xs-12">

        <div class="sticky_inner">

          <!-- - - - - - - - - - - - - - Categories menu - - - - - - - - - - - - - - - - -->
          <div class="nav_item size_1">

            <button class="open_menu"></button>

            <%= render partial: 'shared/categories_menu',
                       locals: {is_dropdown: true} %>

          </div>
          <!--/ .nav_item-->

          <!-- - - - - - - - - - - - - - Search form - - - - - - - - - - - - - - - - -->
          <div class="nav_item inner_offset">
            <%= render 'shared/search_form' %>
          </div>
          <!--/ .nav_item-->

          <!-- - - - - - - - - - - - - - Wishlist btn - - - - - - - - - - - - - - - - -->
          <div class="nav_item size_1">
            <%= link_to '', account_wishlist_path, class: 'wishlist_button', 'data-amount': 7 %>
          </div>
          <!--/ .nav_item-->

          <!-- - - - - - - - - - - - - - Compare btn - - - - - - - - - - - - - - - - -->
          <div class="nav_item size_1">
            <%= link_to '', compare_path, class: 'compare_button', 'data-amount': 3 %>
          </div>
          <!--/ .nav_item-->

          <!-- - - - - - - - - - - - - - Login block - - - - - - - - - - - - - - - - -->
          <div class="nav_item size_2">

            <div class="login_box">
              <div class="login_box_inner">Приветствуем
                <a href="<%= login_path %>" data-modal-url="<%= login_path %>">Авторизоваться</a></a>
              </div>
            </div>

          </div>
          <!--/ .nav_item-->

          <!-- - - - - - - - - - - - - - Cart  - - - - - - - - - - - - - - - - -->
          <div class="nav_item size_2">

            <button id="open_shopping_cart" class="open_button" data-amount="3">
              <b class="title">Корзина</b>
              <b class="total_price">999 грн.</b>
            </button>

            <%= render partial: 'shared/cart_dropdown' %>
          </div>
          <!--/ .nav_item-->

        </div>
        <!--/ .main_navigation-->

      </div>
      <!--/ [col]-->

    </div>
    <!--/ .row-->

  </div>
  <!--/ .container-->

</div>
<!--/ .main_navigation_wrap-->