<div class="theme_box">
  <p class="form_caption">Подпишитесь на рассылку акционных предложений и новинок от Мега Аптеки!</p>
  <form class="newsletter subscribe clearfix" novalidate>
    <input type="email" name="sc_email" placeholder="Введите свой email">
    <button class="button_blue def_icon_btn"></button>
  </form>
</div>