<div class="section_offset">

  <header class="top_box on_the_sides">

    <div class="clearfix v_centered">

      <div class="v_centered">

        <span>Город:</span>

        <div class="custom_select sort_select">

          <select name="">

            <option value="Все города">Все города</option>
            <option value="Киев">Киев</option>
            <option value="Харьков">Харьков</option>
            <option value="Одесса">Одесса</option>

          </select>

        </div>

      </div>

      <div class="v_centered">

        <span>Район:</span>

        <div class="custom_select sort_select">

          <select name="">

            <option value="Все районы">Все районы</option>
            <option value="Соломенский">Соломенский</option>
            <option value="Деснянский">Деснянский</option>
            <option value="Печеский">Печеский</option>
            <option value="Оболонь">Оболонь</option>

          </select>

        </div>

      </div>

      <div class="v_centered">

        <span>Количество:</span>

        <div class="qty min">

          <button class="theme_button" data-direction="minus">-</button>
          <input type="text" name="" value="1">
          <button class="theme_button" data-direction="plus">+</button>

        </div>

      </div>

      <div class="v_centered">

        <input checked="" type="checkbox" name="" id="24h">
        <label for="24h">Только круглосуточные аптеки</label>

      </div>

      <div class="layout_type buttons_row pull-right" data-table-container="#pharmacies_container">

        <a href="#" data-table-layout="map_view"
           class="button_grey middle_btn icon_btn tooltip_container">
          <i class="icon-location-4"></i><span class="tooltip top">Карта</span></a>

        <a href="#" data-table-layout="grid_view"
           class="button_grey middle_btn icon_btn active tooltip_container">
          <i class="icon-th-list"></i><span class="tooltip top">Список</span></a>

      </div>

    </div>

  </header>

  <div class="table_layout grid_view" id="pharmacies_container">

    <style>
        .pharmacy_map {padding: 0; height: 500px;}
        .pharmacy_list { height: 500px; border: 1px solid #eaeaea; overflow: auto;}
        .pharmacy_list::after { border: none; }
        .pharmacy_item {padding-bottom: 20px; vertical-align: middle;}
        .map_view .pharmacy_list {display: none;}
        .grid_view .pharmacy_list {display: block;}
    </style>

    <div class="table_row">
      <div class="table_cell pharmacy_map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2559.884228669842!2d36.253437615972935!3d50.088454379427!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13
              .1!3m3!1m2!1s0x4127a5def390943f%3A0x14f56f742220e4c4
              !2z0LLRg9C7LiDQkNC60LDQtNC10LzRltC60LAg0JLQvtC70LrQvtCy0LAsIDcsINCl0LDRgNC60ZbQsiwg0KXQsNGA0LrRltCy0YHRjNC60LAg0L7QsdC70LDRgdGC0YwsIDYxMDAw!5e0!3m2!1sru!2sua!4v1454257866258"
                style="border:0; width: 100%; height: 100%;"></iframe>
      </div>

      <div class="table_cell pharmacy_list">

        <div class="pharmacy_item clearfix">

          <div class="description pull-left">
            <p>м. Київ, вул. Багговутівська, 3/15<br/>
              <i class="icon-phone"></i>050-344-62-48<br/>
              <a href="#"><i class="icon-map"></i> Смотреть на карте</a></p>
          </div>

          <div class="actions pull-right">
            <ul class="buttons_col">
              <li><a href="#" class="button_blue middle_btn add_to_cart">Забрать тут</a></li>
              <li><a href="#" class="icon_link"><i class="icon-clock-circled"></i>с 08:00 по 21:00</a></li>
            </ul>
          </div>


        </div>

        <div class="pharmacy_item clearfix">

          <div class="description pull-left">
            <p>м. Київ, пр-т Московський, 10Б<br/>
              <i class="icon-phone"></i>050-344-62-48<br/>
              <a href="#"><i class="icon-map"></i> Смотреть на карте</a></p>
          </div>

          <div class="actions pull-right">
            <ul class="buttons_col">
              <li><a href="#" class="button_blue middle_btn add_to_cart">Забрать тут</a></li>
              <li><a href="#" class="icon_link"><i class="icon-clock-circled"></i>круглосуточно</a></li>
            </ul>
          </div>


        </div>

        <div class="pharmacy_item clearfix">

          <div class="description pull-left">
            <p>м.Київ, Харківське шосе, 166, прим.№ 3<br/>
              <i class="icon-phone"></i>050-303-14-83<br/>
              <a href="#"><i class="icon-map"></i> Смотреть на карте</a></p>
          </div>

          <div class="actions pull-right">
            <ul class="buttons_col">
              <li><a href="#" class="button_blue middle_btn add_to_cart">Забрать тут</a></li>
              <li><a href="#" class="icon_link"><i class="icon-clock-circled"></i>с 08:00 по 22:00</a></li>
            </ul>
          </div>


        </div>

        <div class="pharmacy_item clearfix">

          <div class="description pull-left">
            <p>м. Київ, Андрія Малишка, 4/3<br/>
              <i class="icon-phone"></i>050-403-53-91<br/>
              <a href="#"><i class="icon-map"></i> Смотреть на карте</a></p>
          </div>

          <div class="actions pull-right">
            <ul class="buttons_col">
              <li><a href="#" class="button_blue middle_btn add_to_cart">Забрать тут</a></li>
              <li><a href="#" class="icon_link"><i class="icon-clock-circled"></i>круглосуточно</a></li>
            </ul>
          </div>


        </div>

        <div class="pharmacy_item clearfix">

          <div class="description pull-left">
            <p>м.Київ, вул.Попудренко,б.7Б<br/>
              <i class="icon-phone"></i>050-317-72-91<br/>
              <a href="#"><i class="icon-map"></i> Смотреть на карте</a></p>
          </div>

          <div class="actions pull-right">
            <ul class="buttons_col">
              <li><a href="#" class="button_blue middle_btn add_to_cart">Забрать тут</a></li>
              <li><a href="#" class="icon_link"><i class="icon-clock-circled"></i>с 08:00 по 21:00</a></li>
            </ul>
          </div>


        </div>

        <div class="pharmacy_item clearfix">

          <div class="description pull-left">
            <p>м. Київ, вул. Багговутівська, 3/15<br/>
              <i class="icon-phone"></i>050-344-62-48<br/>
              <a href="#"><i class="icon-map"></i> Смотреть на карте</a></p>
          </div>

          <div class="actions pull-right">
            <ul class="buttons_col">
              <li><a href="#" class="button_blue middle_btn add_to_cart">Забрать тут</a></li>
              <li><a href="#" class="icon_link"><i class="icon-clock-circled"></i>с 08:00 по 21:00</a></li>
            </ul>
          </div>


        </div>

        <div class="pharmacy_item clearfix">

          <div class="description pull-left">
            <p>м. Київ, пр-т Московський, 10Б<br/>
              <i class="icon-phone"></i>050-344-62-48<br/>
              <a href="#"><i class="icon-map"></i> Смотреть на карте</a></p>
          </div>

          <div class="actions pull-right">
            <ul class="buttons_col">
              <li><a href="#" class="button_blue middle_btn add_to_cart">Забрать тут</a></li>
              <li><a href="#" class="icon_link"><i class="icon-clock-circled"></i>круглосуточно</a></li>
            </ul>
          </div>


        </div>

        <div class="pharmacy_item clearfix">

          <div class="description pull-left">
            <p>м.Київ, Харківське шосе, 166, прим.№ 3<br/>
              <i class="icon-phone"></i>050-303-14-83<br/>
              <a href="#"><i class="icon-map"></i> Смотреть на карте</a></p>
          </div>

          <div class="actions pull-right">
            <ul class="buttons_col">
              <li><a href="#" class="button_blue middle_btn add_to_cart">Забрать тут</a></li>
              <li><a href="#" class="icon_link"><i class="icon-clock-circled"></i>с 08:00 по 22:00</a></li>
            </ul>
          </div>


        </div>

        <div class="pharmacy_item clearfix">

          <div class="description pull-left">
            <p>м. Київ, Андрія Малишка, 4/3<br/>
              <i class="icon-phone"></i>050-403-53-91<br/>
              <a href="#"><i class="icon-map"></i> Смотреть на карте</a></p>
          </div>

          <div class="actions pull-right">
            <ul class="buttons_col">
              <li><a href="#" class="button_blue middle_btn add_to_cart">Забрать тут</a></li>
              <li><a href="#" class="icon_link"><i class="icon-clock-circled"></i>круглосуточно</a></li>
            </ul>
          </div>


        </div>

        <div class="pharmacy_item clearfix">

          <div class="description pull-left">
            <p>м.Київ, вул.Попудренко,б.7Б<br/>
              <i class="icon-phone"></i>050-317-72-91<br/>
              <a href="#"><i class="icon-map"></i> Смотреть на карте</a></p>
          </div>

          <div class="actions pull-right">
            <ul class="buttons_col">
              <li><a href="#" class="button_blue middle_btn add_to_cart">Забрать тут</a></li>
              <li><a href="#" class="icon_link"><i class="icon-clock-circled"></i>с 08:00 по 21:00</a></li>
            </ul>
          </div>


        </div>

      </div>

    </div>
    <!--/ .table_row -->


  </div>
  <!--/ .table_layout -->

  <footer class="bottom_box on_the_sides">

    <div class="left_side">

      <p>Показано с 1 по 15 из 45 (3 страницы)</p>

    </div>

    <div class="right_side">

      <ul class="pags">

        <li><a href="#"></a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#"></a></li>

      </ul>

    </div>

  </footer>

</div>