<header class="top_box on_the_sides">

  <div class="left_side clearfix v_centered">

    <!-- - - - - - - - - - - - - - Sort by - - - - - - - - - - - - - - - - -->
    <div class="v_centered">

      <span>Сортировка:</span>

      <div class="custom_select sort_select">

        <select name="Sort_Order">
          <option value="По умолчанию">По умолчанию</option>
          <option value="Снача дорогие">Снача дорогие</option>
          <option value="Снача дешевые">Снача дешевые</option>
          <option value="По алфавиту (А-Я)">По алфавиту (А-Я)</option>
          <option value="По алфавиту (Я-А)">По алфавиту (Я-А)</option>
        </select>

      </div>

    </div>

    <!-- - - - - - - - - - - - - - Number of products shown - - - - - - - - - - - - - - - - -->
    <div class="v_centered">

      <div class="custom_select">
        <select name="Per_Page">
          <option value="15 ед.">15</option>
          <option value="12 ед.">12</option>
          <option value="9 ед.">9</option>
          <option value="6 ед.">6</option>
          <option value="3 ед.">3</option>
        </select>

      </div>

    </div>

  </div>

  <div class="right_side">

    <!-- - - - - - - - - - - - - - Product layout type - - - - - - - - - - - - - - - - -->
    <div class="layout_type buttons_row" data-table-container="#products_container">

      <a href="#" data-table-layout="grid_view"
         class="button_grey middle_btn icon_btn tooltip_container">
        <i class="icon-th"></i>
        <span class="tooltip top">Сеткой</span>
      </a>

      <a href="#" data-table-layout="list_view list_view_products"
         class="button_grey middle_btn icon_btn active tooltip_container">
        <i class="icon-th-list"></i>
        <span class="tooltip top">Списком</span>
      </a>

    </div>

  </div>

</header>