<div class="product_item">
  <div class="image_wrap">
    <img src="/static/images/product_img_<%= rand(1..33) %>.jpg" alt="">

    <div class="actions_wrap">
      <div class="centered_buttons">
        <a href="#" class="button_dark_grey middle_btn quick_view"
           data-modal-url="<%= product_view_path %>">Подробно</a>
        <a href="#" class="button_blue middle_btn add_to_cart">В корзину</a>
      </div>
      <!--/ .centered_buttons -->

      <a href="#"
         class="button_dark_grey def_icon_btn middle_btn add_to_wishlist tooltip_container">
        <span class="tooltip right">Отложить</span>
      </a>

      <a href="#"
         class="button_dark_grey def_icon_btn middle_btn add_to_compare tooltip_container">
        <span class="tooltip left">К сравнению</span>
      </a>

    </div>
    <!--/ .actions_wrap-->
  </div>
  <!--/. image_wrap-->

  <!-- - - - - - - - - - - - - - Label - - - - - - - - - - - - - - - - -->
  <div class="<%= label_class %>">
    <%= raw label_text %>
  </div>

  <% if with_countdown  %>
      <div class="countdown"
           data-year="2016"
           data-month="01"
           data-day="<%= rand(18..30) %>"
           data-hours="15"
           data-minutes="0"
           data-seconds="0">
      </div>
  <% end  %>

  <!-- - - - - - - - - - - - - - Product description - - - - - - - - - - - - - - - - -->
  <div class="description">
    <p><a href="#">Tellus Dolor Dapibus Eget 24 fl oz</a></p>

    <div class="clearfix product_info">
      <!-- - - - - - - - - - - - - - Product rating - - - - - - - - - - - - - - - - -->
      <ul class="rating alignright">

        <li class="active"></li>
        <li class="active"></li>
        <li class="active"></li>
        <li class="active"></li>
        <li></li>

      </ul>

      <p class="product_price alignleft"><s>9.99</s> <b>5.99</b></p>
    </div>
    <!--/ .clearfix.product_info-->
  </div>

  <% if with_full_description %>
  <!-- - - - - - - - - - - - - - Full description (only for list view) - - - - - - - - - - - - - - - - -->
  <div class="full_description">

    <a href="#" class="product_title">Sed ut perspiciatis unde, Liqui-gels 24 capsules</a>
    <a href="#" class="product_category">Косметика</a>

    <div class="v_centered product_reviews">

      <!-- - - - - - - - - - - - - - Product rating - - - - - - - - - - - - - - - - -->
      <ul class="rating">
        <li class="active"></li>
        <li class="active"></li>
        <li class="active"></li>
        <li class="active"></li>
        <li></li>
      </ul>

      <!-- - - - - - - - - - - - - - Reviews menu - - - - - - - - - - - - - - - - -->
      <ul class="topbar">
        <li><a href="#">3 отзыва</a></li>
        <li><a href="#">Оставить отзыв</a></li>
      </ul>

    </div>

    <p>Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet.
      Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula.</p>

    <a href="#" class="learn_more">На карточку товара</a>
  </div>

  <!-- - - - - - - - - - - - - - Product price & actions (only for list view) - - - - - - - - - - - - - - - - -->
  <div class="actions">

    <p class="product_price bold"><%= rand(50..500) %>.99</p>

    <ul class="seller_stats">

      <li>Код товара: <span class="success"><%= rand(1000-2000) %></span></li>
      <li>В наличии: <span class="success"><%= rand(5..10) %> ед.</span></li>

      <li class="seller_info_wrap">

        <span class="seller_name">Подробно</span>

        <div class="seller_info_dropdown">
          <ul class="seller_stats">
            <li>
              <ul class="topbar">
                <li>Код АТС</li>
                <li><a href="#">J01XD01</a></li>
              </ul>
            </li>
            <li><span class="bold">Форма выпуска</span> - таблетки в блистере по 250мг</li>
          </ul>

          <div class="v_centered">
            <a href="#" class="button_blue mini_btn">Уточнить наличие</a>
            <a href="#" class="small_link">Аналоги</a>
          </div>
        </div>

      </li>

    </ul>

    <ul class="buttons_col">
      <li><a href="#" class="button_blue middle_btn add_to_cart">В корзину</a></li>
      <li><a href="#" class="icon_link"><i class="icon-heart-5"></i>Отложить</a></li>
      <li><a href="#" class="icon_link"><i class="icon-resize-small"></i>Сравнить</a></li>
    </ul>

  </div>
  <% end  %>

</div>
<!--/ .product_item-->