<section class="section_offset">

  <h3 class="section_title"><%= title %></h3>

  <div class="tabs type_2 products">
    <% md5 = Digest::MD5.new; md5 << title; pref = md5.hexdigest.to_s[0..4] %>
    <ul class="tabs_nav clearfix">
      <li><a href="#<%= pref %>_tab-1">Лекарства</a></li>
      <li><a href="#<%= pref %>_tab-2">Красота</a></li>
      <li><a href="#<%= pref %>_tab-3">Мама и малыш</a></li>
      <li><a href="#<%= pref %>_tab-4">Лечебная косметика</a></li>
      <li><a href="#<%= pref %>_tab-5">Медтехника и изделия</a></li>
      <li><a href="#<%= pref %>_tab-6">Товары для здоровья</a></li>
      <li><a href="#<%= pref %>_tab-7">БАДы и витамины</a></li>
    </ul>

    <div class="tab_containers_wrap">

      <% 7.times do |tab|  %>
      <div id="<%= pref %>_tab-<%= tab+1 %>" class="tab_container">
        <div class="owl_carousel carousel_in_tabs type_2">

          <% 5.times do %>
            <%= render partial: 'shared/product_item',
                       locals: {
                               label_class: label_class,
                               label_text: label_text,
                               with_countdown: with_countdown,
                               with_full_description: false
                       } %>
          <% end  %>

        </div>
        <!--/ .owl_carousel-->
      </div>
      <% end  %>

    </div>

  </div>

</section>
<!--/ .section_offset-->