<form class="clearfix search">

  <input type="text" name="" tabindex="1" placeholder="Поиск товаров на сайте..." class="alignleft">

  <!-- - - - - - - - - - - - - - Categories - - - - - - - - - - - - - - - - -->

  <div class="search_category alignleft">

    <div class="open_categories">Все категории</div>

    <ul class="categories_list dropdown">

      <li class="animated_item"><a href="#">Лекарства</a></li>
      <li class="animated_item"><a href="#">Красота и гигиена</a></li>
      <li class="animated_item"><a href="#">Мама и малыш</a></li>
      <li class="animated_item"><a href="#">Лечебная косметика</a></li>
      <li class="animated_item"><a href="#">Медтехника и изделия</a></li>
      <li class="animated_item"><a href="#">Товары для здоровья</a></li>
      <li class="animated_item"><a href="#">БАДы и Витамины</a></li>

    </ul>

  </div>
  <!--/ .search_category.alignleft-->

  <!-- - - - - - - - - - - - - - End of categories - - - - - - - - - - - - - - - - -->

  <button class="button_blue def_icon_btn alignleft"></button>

</form>
<!--/ #search-->