<ul class="social_feeds">  <!-- - - - - - - - - - - - - - Contact us - - - - - - - - - - - - - - - - -->
  <li>
    <button class="icon_btn middle_btn social_contact open_"><i class="icon-mail-8"></i></button>
    <section class="dropdown">
      <div class="animated_item"><h3 class="title">Связаться с нам</h3></div>
      <!--/ .animated_item-->
      <div class="animated_item"><p class="form_caption">Lorem ipsum dolor sit amet, adipis mauris accumsan.</p>

        <form class="contactform" novalidate>
          <ul>
            <li class="row">
              <div class="col-xs-12">
                <input type="text" required title="Имя" name="cf_name" placeholder="Ваше имя">
              </div>
            </li>
            <li class="row">
              <div class="col-xs-12">
                <input type="email" required title="Email" name="cf_email" placeholder="Адрес email">
              </div>
            </li>
            <li class="row">
              <div class="col-xs-12">
                <textarea placeholder="Сообщение" required title="Сообщение" name="cf_message" rows="6"></textarea>
              </div>
            </li>
            <li class="row">
              <div class="col-xs-12">
                <button class="button_grey middle_btn">Отправить</button>
              </div>
            </li>
          </ul>
        </form>

      </div>
      <!--/ .animated_item-->    </section>
    <!--/ .dropdown-->  </li>
  <!-- - - - - - - - - - - - - - Google map - - - - - - - - - - - - - - - - -->  <!--			<li>				<button class="icon_btn middle_btn social_gmap open_"><i class="icon-location-4"></i></button>				<section class="dropdown">					<div class="animated_item">						<h3 class="title">Контакты</h3>					</div>					<div class="animated_item">						<p class="c_info_location">61036, Україна, м.Харків,<br>вул.Морозова, 7.</p>						<div class="proportional_frame">                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2566.616658462188!2d36.2833679155179!3d49.962293079411!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x41270a8a73d87721%3A0x228791fa4963781c!2sMorozova+St%2C+7%2C+Kharkiv%2C+Kharkiv+Oblast!5e0!3m2!1sen!2sua!4v1450795267856" style="border:0"></iframe>						</div>						<ul class="c_info_list">							<li class="c_info_phone">(057)7-372-372</li>							<li class="c_info_mail"><a href="mailto:info@mega-apteka.com">info@mega-apteka.com</a></li>							<li class="c_info_schedule">								<ul>									<li>Рабочие дни: 8.00-22.00 </li>									<li>Суббота: 9.00-20.00 </li>									<li>Воскресение: выходной</li>								</ul>							</li>						</ul>					</div>				</section>			</li>			-->
</ul>