<div class="owl_carousel widgets_carousel">

  <blockquote>
    <div class="author_info"><b>Алена, Киев</b></div>
    <p>Ut tellus dolor, dapibus eget, elementum vel, cursus elefiend, elit. Aenean wisi et urna. Aliquam erat volutpat. Duis ac turpis.</p>
  </blockquote>

  <blockquote>
    <div class="author_info"><b>Иван, Харьков</b></div>
    <p>Donec sit amet eros. Lorem ipsum dolor sit amet elit. Mauris amet fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget.</p>
  </blockquote>

  <blockquote>
    <div class="author_info"><b>Наталья, Одесса</b></div>
    <p>Ut tellus dolor, dapibus eget, elementum vel, cursus elefiend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat.</p>
  </blockquote>

</div>

<footer class="bottom_box">
  <a href="#" class="button_grey middle_btn">Другие отзывы</a>
</footer>