
<div class="section_offset">

<div class="row">
  <!-- - - - - - - - - - - - - - Categories - - - - - - - - - - - - - - - - -->
  <aside class="col-md-3 has_mega_menu">

    <section>

      <h3>Категории товаров</h3>

      <%= render partial: 'shared/categories_menu',
                 locals: {is_dropdown: false} %>

    </section>
    <!--/ .animated.transparent-->

  </aside>
  <!--/ [col]-->

  <!-- - - - - - - - - - - - - - Main slider - - - - - - - - - - - - - - - - -->
  <div class="col-md-9">
    <div>
      <%= render partial: 'shared/slider' %>
    </div>
    <!--/ .animated.transparent-->
  </div>
  <!--/ [col]-->
</div>
<!--/ .row-->

</div>
<!--/ .section_offset-->


<!-- - - - - - - - - - - - - - Infoblocks - - - - - - - - - - - - - - - - -->
<div class="section_offset">

<div class="row">

  <div class="col-md-3 col-sm-6">

    <section class="infoblock type_2">

      <i class="icon-thumbs-up-1"></i>

      <h4 class="caption"><b>Только оригинальные товары</b></h4>

      <p>Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi
        et urna.</p>

      <a href="#" class="button_dark_grey middle_btn">Подробнее</a>

    </section>
    <!--/ .infoblock.type_2-->

  </div>
  <!--/ [col]-->

  <div class="col-md-3 col-sm-6">

    <section class="infoblock type_2"
             data-animation-delay="150">

      <i class="icon-paper-plane"></i>

      <h4 class="caption"><b>Быстрое оформление заказа</b></h4>

      <p>Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi
        et urna.</p>

      <a href="#" class="button_dark_grey middle_btn">Подробнее</a>

    </section>
    <!--/ .infoblock.type_2-->

  </div>
  <!--/ [col]-->

  <div class="col-md-3 col-sm-6">

    <section class="infoblock type_2"
             data-animation-delay="300">

      <i class="icon-lock"></i>

      <h4 class="caption"><b>Кабинет постоянного клиента </b></h4>

      <p>Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi
        et urna.</p>

      <a href="#" class="button_dark_grey middle_btn">Подробнее</a>

    </section>
    <!--/ .infoblock.type_2-->

  </div>
  <!--/ [col]-->

  <div class="col-md-3 col-sm-6">

    <section class="infoblock type_2"
             data-animation-delay="450">

      <i class="icon-money"></i>

      <h4 class="caption"><b>Лучшие цены на лекарства и косметику</b></h4>

      <p>Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi
        et urna.</p>

      <a href="#" class="button_dark_grey middle_btn">Подробнее</a>

    </section>
    <!--/ .infoblock.type_2-->

  </div>
  <!--/ [col]-->

</div>
<!--/ .row-->

</div>
<!--/ .section_offset-->


<!-- - - - - - - - - - - - - - Today's deals - - - - - - - - - - - - - - - - -->
<%= render partial: 'shared/products_section',
         locals: {
                 title: 'Акция Дня',
                 label_text: '<div>20%</div> СКИДКА',
                 label_class: 'label_offer percentage',
                 products: [],
                 with_countdown: true,

         } %>

<!-- - - - - - - - - - - - - - New arrivals - - - - - - - - - - - - - - - - -->
<%= render partial: 'shared/products_section',
         locals: {
                 title: 'Новинки',
                 label_text: 'Новинка',
                 label_class: 'label_new',
                 products: [],
                 with_countdown: false
         } %>

<!-- - - - - - - - - - - - - - Featured  - - - - - - - - - - - - - - - - -->
<%= render partial: 'shared/products_section',
         locals: {
                 title: 'Обратите внимание',
                 label_text: 'Рекомендовано',
                 label_class: 'label_new',
                 products: [],
                 with_countdown: false
         } %>

<!-- - - - - - - - - - - - - - Banners - - - - - - - - - - - - - - - - -->
<div class="section_offset">

<div class="row">

  <div class="col-sm-4">

    <div>

      <!-- - - - - - - - - - - - - - Banner - - - - - - - - - - - - - - - - -->

      <a href="#" class="banner">
        <img src="/static/images/banner_img_3.jpg" alt="">
      </a>

      <!-- - - - - - - - - - - - - - End banner - - - - - - - - - - - - - - - - -->

    </div>
    <!--/ .animated.transparent-->

  </div>
  <!--/ [col]-->

  <div class="col-sm-4">

    <div>

      <!-- - - - - - - - - - - - - - Banner - - - - - - - - - - - - - - - - -->

      <a href="#" class="banner">
        <img src="/static/images/banner_img_4.jpg" alt="">
      </a>

      <!-- - - - - - - - - - - - - - End banner - - - - - - - - - - - - - - - - -->

      <!-- - - - - - - - - - - - - - Banner - - - - - - - - - - - - - - - - -->

      <a href="#" class="banner">
        <img src="/static/images/banner_img_5.jpg" alt="">
      </a>

      <!-- - - - - - - - - - - - - - End banner - - - - - - - - - - - - - - - - -->

    </div>
    <!--/ .animated.transparent-->

  </div>
  <!--/ [col]-->

  <div class="col-sm-4">

    <div>

      <!-- - - - - - - - - - - - - - Banner - - - - - - - - - - - - - - - - -->

      <a href="#" class="banner">
        <img src="/static/images/banner_img_6.jpg" alt="">
      </a>

      <!-- - - - - - - - - - - - - - End banner - - - - - - - - - - - - - - - - -->

    </div>
    <!--/ .animated.transparent-->

  </div>
  <!--/ [col]-->

</div>
<!--/ .row-->

</div>


<!-- - - - - - - - - - - - - - Бестселлеры - - - - - - - - - - - - - - - - -->
<%= render partial: 'shared/products_section',
         locals: {
                 title: 'Лидеры продаж',
                 label_text: 'Бестселлер',
                 label_class: 'label_bestseller',
                 products: [],
                 with_countdown: false
         } %>



<% content_for :stylesheets do %>
    <link rel="stylesheet" href="/static/js/rs-plugin/css/settings.css">
<% end  %>

<% content_for :javascripts do %>
    <script src="/static/js/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script src="/static/js/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <script src="/static/js/royalslider/jquery.easing-1.3.js"></script>
<% end  %>


