<h1>Сравнение товаров</h1>

<div class="table_wrap">

  <table class="table_type_1 compare">

    <tbody>

    <tr>

      <th class="row_title_col">Фото товара</th>

      <td>

        <a href="#"><img src="/static/images/product_thumb_4.jpg" alt=""></a>

      </td>

      <td>

        <a href="#"><img src="/static/images/product_thumb_5.jpg" alt=""></a>

      </td>

      <td>

        <a href="#"><img src="/static/images/product_thumb_6.jpg" alt=""></a>

      </td>

    </tr>

    <tr>

      <th class="row_title_col">Наименование</th>

      <td>

        <a href="#">Adipiscing aliquet sed in lacus, Liqui-gels 24</a>

      </td>

      <td>

        <a href="#">Quisque diam lorem, interdum vitae,dapibus ac</a>

      </td>

      <td>

        <a href="#">Interdum vitae dapibus ac quisque diam lorem 160 ea</a>

      </td>

    </tr>

    <tr>

      <th class="row_title_col">Оценка</th>

      <td>

        <div class="v_baseline">

          <ul class="rating">
            <li class="active"></li>
            <li class="active"></li>
            <li class="active"></li>
            <li class="active"></li>
            <li></li>
          </ul>

          <a href="#" class="small_link">3 отзыв(а)</a>

        </div>

      </td>

      <td>

        <div class="v_baseline">

          <ul class="rating">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>

          <span class="small_link">нет отзывов</span>

        </div>

      </td>

      <td>

        <div class="v_baseline">

          <ul class="rating">
            <li class="active"></li>
            <li class="active"></li>
            <li class="active"></li>
            <li></li>
            <li></li>
          </ul>

          <a href="#" class="small_link">3 отзыв(а)</a>

        </div>

      </td>

    </tr>

    <tr>

      <th class="row_title_col">Цена</th>

      <td class="total">5.99</td>

      <td class="total">8.99</td>

      <td class="total">76.99</td>

    </tr>

    <tr>

      <th class="row_title_col">Описание</th>

      <td>

        <p>Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna.</p>

      </td>

      <td>

        <p>﻿Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros.</p>

      </td>

      <td>

        <p>﻿Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel. Cursus eleifend, elit. Aenean auctor wisi et urna.</p>

      </td>

    </tr>

    <tr>

      <th class="row_title_col">Производитель</th>

      <td>

        <a href="#">Bayer</a>

      </td>

      <td>

        <a href="#">Dr. Reddis</a>

      </td>

      <td>

        <a href="#">Anapurna</a>

      </td>

    </tr>

    <tr>

      <th class="row_title_col">Наличие</th>

      <td>

        <span class="in_stock">в наличии</span> 20 едениц

      </td>

      <td>

        <span class="out_of_stock">нет в наличии</span>

      </td>

      <td>

        <span class="in_stock">в наличии</span> 50 едениц

      </td>

    </tr>

    <tr>

      <th class="row_title_col">Код товара</th>

      <td>PS06</td>

      <td>PS02</td>

      <td>PS23</td>

    </tr>

    <tr>

      <th class="row_title_col">АТС Код</th>

      <td>B01AC06</td>

      <td>B01AC06</td>

      <td>B01AC06</td>

    </tr>

    <tr>

      <th class="row_title_col">Действующие вещества</th>

      <td>Red</td>

      <td>Green</td>

      <td>Blue</td>

    </tr>

    <tr>

      <th class="row_title_col">Форма выпуска</th>

      <td>табл. п/о кишечно-раств. блистер 100мг</td>

      <td>сироп lorem-lorem</td>

      <td>табл. п/о кишечно-раств. 50 мг.</td>

    </tr>

    <tr>

      <th class="row_title_col">Действия</th>

      <td>

        <div class="buttons_row">

          <a href="#" class="button_blue middle_btn">В корзину</a>

          <a href="#" class="button_dark_grey middle_btn def_icon_btn add_to_wishlist tooltip_container"><span class="tooltip top">Отложить</span></a>

          <a href="#" class="button_dark_grey middle_btn icon_btn tooltip_container"><span class="tooltip top">Убрать из списка</span><i class="icon-cancel-2"></i></a>

        </div>

      </td>

      <td>

        <div class="buttons_row">

          <a href="#" class="button_blue middle_btn">В корзину</a>

          <a href="#" class="button_dark_grey middle_btn def_icon_btn add_to_wishlist tooltip_container"><span class="tooltip top">Отложить</span></a>

          <a href="#" class="button_dark_grey middle_btn icon_btn tooltip_container"><span class="tooltip top">Убрать из списка</span><i class="icon-cancel-2"></i></a>

        </div>

      </td>

      <td>

        <div class="buttons_row">

          <a href="#" class="button_blue middle_btn">В корзину</a>

          <a href="#" class="button_dark_grey middle_btn def_icon_btn add_to_wishlist tooltip_container"><span class="tooltip top">Отложить</span></a>

          <a href="#" class="button_dark_grey middle_btn icon_btn tooltip_container"><span class="tooltip top">Убрать из списка</span><i class="icon-cancel-2"></i></a>

        </div>

      </td>

    </tr>

    </tbody>

  </table>

</div>
