<section class="section_offset">
  <h3>Информация</h3>
  <ul class="theme_menu">
    <li><%= link_to 'О нас', about_us_path %></li>
    <li><%= link_to 'Как сделать заказ', how_to_path %></li>
    <li><%= link_to 'Вопросы и ответы', faq_path %></li>
    <li><%= link_to 'Гарантия', warranty_path %></li>
    <li><%= link_to 'Контакты', contacts_path %></li>
    <li><%= link_to 'Условия использвания', terms_path %></li>
  </ul>
</section>