<h1 class="page_title">Контакты</h1>

<section class="section_offset">

  <h3>Обратная связь</h3>

  <div class="theme_box">

    <p class="form_caption">Ut tellus dolor, dapibus eget, elementum vel, eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. Lorem ipsum dolor sit
      amet, consecvtetuer adipiscing elit.</p>

    <!-- - - - - - - - - - - - - - Contact form - - - - - - - - - - - - - - - - -->

    <form novalidate enctype="multipart/form-data" class="contactform type_2" id="contact_form">

      <ul>

        <li class="row">

          <div class="col-sm-6">
            <label for="cf_name" class="required">Имя</label>
            <input type="text" required name="cf_name" id="cf_name" title="Имя">
          </div>
          <!--/ [col]-->

          <div class="col-sm-6">
            <label for="cf_email" class="required">Email</label>
            <input type="email" required name="cf_email" id="cf_email" title="Email">
          </div>
          <!--/ [col]-->

        </li>
        <!--/ .row -->

        <li class="row">

          <div class="col-xs-12">
            <label for="cf_order_number">Номер заказа</label>
            <input type="text" name="cf_order_number" id="cf_order_number" title="Номер заказа">
          </div>
          <!--/ [col]-->

        </li>
        <!--/ .row -->

        <li class="row">

          <div class="col-xs-12">

            <label for="cf_message" class="required">Сообщение</label>
            <textarea id="cf_message" required name="cf_message" title="Сообщение" rows="6"></textarea>

          </div>
          <!--/ [col]-->

        </li>
        <!--/ .row -->

      </ul>

    </form>
    <!--/ .contactform -->

    <!-- - - - - - - - - - - - - - End of contact form - - - - - - - - - - - - - - - - -->

  </div>
  <!--/ .theme_box -->

  <footer class="bottom_box on_the_sides">

    <div class="left_side">

      <button class="button_dark_grey middle_btn" type="submit" form="contact_form">Отправить</button>

    </div>

    <div class="right_side">

      <p class="prompt">Обязательные поля</p>

    </div>

  </footer>

</section>

<section class="section_offset">

  <h3>Информация для связи</h3>

  <div class="theme_box">

    <div class="row">

      <div class="col-sm-5">

        <div class="proportional_frame">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2559.884228669842!2d36.253437615972935!3d50.088454379427!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4127a5def390943f%3A0x14f56f742220e4c4!2z0LLRg9C7LiDQkNC60LDQtNC10LzRltC60LAg0JLQvtC70LrQvtCy0LAsIDcsINCl0LDRgNC60ZbQsiwg0KXQsNGA0LrRltCy0YHRjNC60LAg0L7QsdC70LDRgdGC0YwsIDYxMDAw!5e0!3m2!1sru!2sua!4v1454257866258" style="border:0"></iframe>
        </div>

      </div>
      <!--/ [col]-->

      <div class="col-sm-7">

        <p class="form_caption">Ut tellus dolor dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis.</p>

        <ul class="c_info_list">

          <li class="c_info_location">61036, Украина, г. Харьков, ул.Морозова, 7</li>
          <li class="c_info_phone">(057) 7-372-372</li>
          <li class="c_info_mail"><a href="mailto:info@mega-apteka.com">info@mega-apteka.com</a></li>
          <li class="c_info_schedule">
            <ul>
              <li>Понедельник-Пятница: 8.00-20.00</li>
              <li>Суббота: 9.00-15.00</li>
              <li>Воскресение: выходной</li>
            </ul>
          </li>

        </ul>

      </div>
      <!--/ [col]-->

    </div>
    <!--/ .row -->

  </div>
  <!--/ .theme_box -->

</section>