<!-- - - - - - - - - - - - - - Actions - - - - - - - - - - - - - - - - -->
<div class="buttons_row">
  <button class="button_blue middle_btn">В корзину</button>

  <button class="button_dark_grey def_icon_btn middle_btn add_to_wishlist tooltip_container">
    <span class="tooltip top">Отложить товар</span>
  </button>

  <button class="button_dark_grey def_icon_btn middle_btn add_to_compare tooltip_container">
    <span class="tooltip top">Сравнить</span>
  </button>
</div>