<div class="description_section">
  <table class="product_info">
    <tbody>
    <tr>
      <td>Производитель:</td>
      <td><a href="#">Bayer Consumer Care</a></td>
    </tr>

    <tr>
      <td>В наличии:</td>
      <td><span class="in_stock">5 едениц</span> на складе</td>
    </tr>

    <tr>
      <td>Код товара:</td>
      <td>PS06</td>
    </tr>
    </tbody>
  </table>
</div>