<!-- - - - - - - - - - - - - - Quantity - - - - - - - - - - - - - - - - -->
<div class="description_section_2 v_centered">
  <span class="title">Количество:</span>
  <div class="qty min clearfix">
    <button class="theme_button" data-direction="minus">&#45;</button>
    <input type="text" name="" value="1">
    <button class="theme_button" data-direction="plus">&#43;</button>
  </div>
</div>