<!-- - - - - - - - - - - - - - Form - - - - - - - - - - - - - - - - -->
<div class="description_section_2 v_centered">
  <span class="title">Форма выпуска:</span>
  <div class="custom_select min">
    <select>
      <option value="Таблетки">Таблетки</option>
      <option value="Сироп">Сироп</option>
      <option value="Капсулы">Капсулы</option>
    </select>
  </div>
</div>