<div class="table_wrap rate_table">
  <table>
    <thead>
    <tr>
      <th></th>
      <th>Ужасно</th>
      <th>Плохо</th>
      <th>Средне</th>
      <th>Хорошо</th>
      <th>Отлично</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Цена</td>
      <td>
        <input checked type="radio" name="price_rate" id="rate_1">
        <label for="rate_1"></label>
      </td>
      <td>
        <input type="radio" name="price_rate" id="rate_2">
        <label for="rate_2"></label>
      </td>
      <td>
        <input type="radio" name="price_rate" id="rate_3">
        <label for="rate_3"></label>
      </td>
      <td>
        <input type="radio" name="price_rate" id="rate_4">
        <label for="rate_4"></label>
      </td>
      <td>
        <input type="radio" name="price_rate" id="rate_5">
        <label for="rate_5"></label>
      </td>
    </tr>

    <tr>
      <td>Эффекты</td>
      <td>
        <input checked type="radio" name="value_rate" id="rate_6">
        <label for="rate_6"></label>
      </td>
      <td>
        <input type="radio" name="value_rate" id="rate_7">
        <label for="rate_7"></label>
      </td>
      <td>
        <input type="radio" name="value_rate" id="rate_8">
        <label for="rate_8"></label>
      </td>
      <td>
        <input type="radio" name="value_rate" id="rate_9">
        <label for="rate_9"></label>
      </td>
      <td>
        <input type="radio" name="value_rate" id="rate_10">
        <label for="rate_10"></label>
      </td>
    </tr>

    <tr>
      <td>Результат</td>
      <td>
        <input checked type="radio" name="quality_rate" id="rate_11">
        <label for="rate_11"></label>
      </td>

      <td>
        <input type="radio" name="quality_rate" id="rate_12">
        <label for="rate_12"></label>
      </td>

      <td>
        <input type="radio" name="quality_rate" id="rate_13">
        <label for="rate_13"></label>
      </td>

      <td>
        <input type="radio" name="quality_rate" id="rate_14">
        <label for="rate_14"></label>
      </td>

      <td>
        <input type="radio" name="quality_rate" id="rate_15">
        <label for="rate_15"></label>
      </td>
    </tr>
    </tbody>
  </table>
</div>