<ul class="reviews">
  <% 3.times do  %>
  <li>
    <article class="review">
      <ul class="review-rates">
        <li class="v_centered">
          <span class="name">Цена</span>
          <%= render partial: 'shared/rating' %>
        </li>

        <li class="v_centered">
          <span class="name">Эффекты</span>
          <%= render partial: 'shared/rating' %>
        </li>

        <li class="v_centered">
          <span class="name">Результат</span>
          <%= render partial: 'shared/rating' %>
        </li>
      </ul>

      <div class="review-body">
        <div class="review-meta">
          <h5 class="bold">Эффективно!</h5>
          Написал <a href="#" class="bold">Иванна Петрова</a> 12/4/2016

        </div>
        <p>Aliquam Erat volutpat. Duis ac turpis. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo.</p>
      </div>

    </article>
  </li>
  <% end %>
</ul>