<form class="type_2">
  <ul>
    <li class="row">
      <div class="col-sm-6">
        <label for="nickname">Имя</label>
        <input type="text" name="" id="nickname">
      </div>

      <div class="col-sm-6">
        <label for="summary">Заголовок</label>
        <input type="text" name="" id="summary">
      </div>
    </li>

    <li class="row">
      <div class="col-xs-12">
        <label for="review_message">Отзыв</label>
        <textarea rows="5" id="review_message"></textarea>
      </div>
    </li>

    <li class="row">
      <div class="col-xs-12">
        <button class="button_dark_grey middle_btn">Оставить отзыв</button>
      </div>
    </li>
  </ul>
</form>
