<div class="description_section">
  <div class="table_wrap product_price_table">
    <table>
      <tbody>
      <tr>
        <td class="special_price">
          Акция:
          <div class="price">5.99</div>
        </td>
        <td class="old_price">
          Старая цена:
          <div class="price">9.99</div>
        </td>
        <td class="save">
          Вы экономите:
          <div class="price">4.00</div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <p class="hurry_message"><span>Поспешите!</span> Осталось всего 20 едениц!</p>

</div>