<!-- - - - - - - - - - - - - - Breadcrumbs - - - - - - - - - - - - - - - - -->
<ul class="breadcrumbs">
  <li><a href="/">Главная</a></li>
  <li><a href="#">Здоровье и гигена</a></li>
  <li><a href="#">Уход за кожей</a></li>
  <li>Аспирин Кардио табл. п/о 100мг №28</li>
</ul>


<div class="section_offset">

  <div class="row">

    <main class="col-md-9 col-sm-8">

      <div class="clearfix">

        <!-- - - - - - - - - - - - - - Product image column - - - - - - - - - - - - - - - - -->

        <div class="single_product">

          <!-- - - - - - - - - - - - - - Image preview container - - - - - - - - - - - - - - - - -->
          <div class="image_preview_container">
            <img id="img_zoom" data-zoom-src="/static/images/qv_large_1.JPG" src="/static/images/qv_img_1.jpg" alt="">
            <button class="button_grey_2 icon_btn middle_btn open_qv"><i class="icon-resize-full-6"></i></button>
          </div>
          <!--/ .image_preview_container-->

          <!-- - - - - - - - - - - - - - Prodcut thumbs carousel - - - - - - - - - - - - - - - - -->
          <div class="product_preview">

            <div class="owl_carousel" id="thumbnails">
              <a href="#" data-src="/static/images/qv_img_1.jpg" data-zoom-src="/static/images/qv_large_1.JPG">
                <img src="/static/images/qv_thumb_1.jpg" data-large-src="/static/images/qv_img_1.jpg" alt="">
              </a>

              <a href="#" data-src="/static/images/qv_img_2.jpg" data-zoom-src="/static/images/qv_large_2.jpg">
                <img src="/static/images/qv_thumb_2.jpg" data-large-src="/static/images/qv_img_2.jpg" alt="">
              </a>

              <a href="#" data-src="/static/images/qv_img_3.jpg" data-zoom-src="/static/images/qv_large_3.jpg">
                <img src="/static/images/qv_thumb_3.jpg" data-large-src="/static/images/qv_img_3.jpg" alt="">
              </a>

              <a href="#" data-src="/static/images/qv_img_4.jpg" data-zoom-src="/static/images/qv_large_4.JPG">
                <img src="/static/images/qv_thumb_4.jpg" data-large-src="/static/images/qv_img_4.jpg" alt="">
              </a>
            </div>
            <!--/ .owl-carousel-->

          </div>
          <!--/ .product_preview-->

          <!-- - - - - - - - - - - - - - Share - - - - - - - - - - - - - - - - -->
          <div class="v_centered">
            <span class="title">Поделиться:</span>

            <div class="addthis_widget_container">
              <!-- AddThis Button BEGIN -->
              <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
                <a class="addthis_button_preferred_1"></a>
                <a class="addthis_button_preferred_2"></a>
                <a class="addthis_button_preferred_3"></a>
                <a class="addthis_button_preferred_4"></a>
                <a class="addthis_button_compact"></a>
                <a class="addthis_counter addthis_bubble_style"></a>
              </div>
              <!-- AddThis Button END -->
            </div>

          </div>

        </div>

        <!-- - - - - - - - - - - - - - End of product image column - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Product description column - - - - - - - - - - - - - - - - -->

        <div class="single_product_description">
          <h3 class="offset_title">
            <a href="#">Аспирин Кардио табл. п/о 100мг №28</a>
          </h3>


          <!-- - - - - - - - - - - - - - Page navigation - - - - - - - - - - - - - - - - -->
          <div class="page-nav">
            <a href="#" class="page-prev"></a>
            <a href="#" class="page-next"></a>
          </div>


          <div class="description_section v_centered">
            <%= render partial: 'shared/rating' %>
            <%= render partial: 'shared/reviews' %>
          </div>

          <%= render partial: 'information' %>

          <hr>

          <div class="description_section">
            <p>Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac
              turpis.</p>
          </div>

          <%= render partial: 'special_price' %>

          <%= render partial: 'release_form' %>

          <%= render partial: 'quantity' %>

          <%= render partial: 'actions' %>
        </div>

        <!-- - - - - - - - - - - - - - End of product description column - - - - - - - - - - - - - - - - -->

      </div>

    </main>
    <!--/ [col] -->

    <aside class="col-md-3 col-sm-4">

      <section class="section_offset">

        <h3>О товаре</h3>

        <div class="theme_box">
          <div class="seller_info clearfix">
            <div class="wrapper">
              <a href="#"><b>Аспирин Кардио табл. п/о 100мг №28</b></a>

              <p class="seller_category">Кислота ацетилсалициловая</p>
            </div>
          </div>
          <ul class="seller_stats">
            <li>
              <ul class="topbar">
                <li>АТС Код</li>
                <li><a href="#">B01AC06</a></li>
              </ul>
            </li>

            <li>Другие препараты <span class="bold">Bayer Consumer Care</span></li>

          </ul>

          <div class="v_centered">
            <a href="#" class="button_blue mini_btn">Распечатать инструкцию</a>
          </div>

        </div>
        <!--/ .theme_box -->

        <footer class="bottom_box">

          <a href="#" class="button_grey middle_btn">Другие товары этой группы</a>

        </footer>

      </section>

      <!-- - - - - - - - - - - - - - End of seller information - - - - - - - - - - - - - - - - -->

      <!-- - - - - - - - - - - - - - Banner - - - - - - - - - - - - - - - - -->

      <div class="section_offset">
        <a href="#" class="banner">
          <img src="/static/images/banner_img_6.jpg" alt="">
        </a>
      </div>

      <!-- - - - - - - - - - - - - - End of banner - - - - - - - - - - - - - - - - -->

    </aside>

  </div>
  <!--/ .row -->

</div>

<!-- - - - - - - - - - - - - - Tabs - - - - - - - - - - - - - - - - -->

<div class="section_offset">

  <div class="tabs type_2">

    <!-- - - - - - - - - - - - - - Navigation of tabs - - - - - - - - - - - - - - - - -->

    <ul class="tabs_nav clearfix">
      <li><a href="#tab-1">Инструкция к препарату</a></li>
      <li><a href="#tab-2">Наличие в апетках</a></li>
      <li><a href="#tab-3">Отзывы (3)</a></li>
    </ul>

    <!-- - - - - - - - - - - - - - End navigation of tabs - - - - - - - - - - - - - - - - -->

    <!-- - - - - - - - - - - - - - Tabs container - - - - - - - - - - - - - - - - -->

    <div class="tab_containers_wrap">

      <!-- - - - - - - - - - - - - - Tab - - - - - - - - - - - - - - - - -->
      <div id="tab-1" class="tab_container">
        <p>Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus.Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque. Vivamus eget
          nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse sollicitudin velit
          sed leo. Ut pharetra augue nec augue. Nam elit agna,endrerit sit amet, tincidunt ac, viverra sed, nulla.</p>

        <ul class="specifications">
          <li><span>Международное название:</span>ACIDUM ACETYLSALICYLICUM</li>
          <li><span>Форма выпуска:</span>табл. п/о кишечно-раств. блистер 100мг</li>
          <li><span>Код АТС:</span>B01AC06</li>
          <li><span>Другие формы:</span>Nulla venenatis</li>
          <li><span>Loren Ipsum:</span>Ipsum</li>


        </ul>

        <p>Donec porta diam eu massa. Quisque diam lorem, interdum vitae,dapibus ac, scelerisque vitae, pede. Donec eget tellus non erat lacinia fermentum. Donec in velit vel ipsum auctor pulvinar.
          Vestibulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipisMauris accumsan nulla vel diam. Sed in lacus ut
          enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in,auctor ut, ligula. </p>
      </div>
      <!--/ #tab-1-->

      <!-- - - - - - - - - - - - - - Tab - - - - - - - - - - - - - - - - -->
      <div id="tab-2" class="tab_container">

        <%= render partial: "shared/pharmacies_block" %>

      </div>
      <!--/ #tab-2-->

      <!-- - - - - - - - - - - - - - Tab - - - - - - - - - - - - - - - - -->
      <div id="tab-3" class="tab_container">

        <section class="section_offset">
          <h3>Отзывы покупателей</h3>
          <%= render partial: 'reviews' %>
          <a href="#" class="button_grey middle_btn">Показать все отзывы</a>
        </section>

        <!--/ .section_offset -->

        <section class="section_offset">

          <h3>Оставьте свой отзыв</h3>

          <div class="row">

            <div class="col-lg-5 col-md-6">
              <p>Вы пишите отзыв для: <a href="#">Аспирин Кардио табл. п/о 100мг №28</a>
                <br>Как бы вы оценили данный товар? *</p>

              <%= render partial: "review_rate_table" %>
            </div>
            <!--/ [col]-->

            <div class="col-lg-7 col-md-6">
              <p class="subcaption">Все поля обязательны.</p>
              <%= render partial: "review_form" %>
            </div>

          </div>
          <!--/ .row -->

        </section>
        <!--/ .section_offset -->

      </div>
      <!--/ #tab-3-->

    </div>
    <!--/ .tab_containers_wrap -->
    <!-- - - - - - - - - - - - - - End of tabs containers - - - - - - - - - - - - - - - - -->
  </div>
  <!--/ .tabs-->
</div>
<!--/ .section_offset -->


<!-- - - - - - - - - - - - - - Tabs - - - - - - - - - - - - - - - - -->

<div class="section_offset">

  <div class="tabs products">

    <!-- - - - - - - - - - - - - - Navigation of tabs - - - - - - - - - - - - - - - - -->
    <ul class="tabs_nav clearfix">
      <li><a href="#tab-5">Аналоги и заменители</a></li>
      <li><a href="#tab-6">С этим товаром покупают</a></li>
    </ul>

    <!-- - - - - - - - - - - - - - Tabs container - - - - - - - - - - - - - - - - -->

    <div class="tab_containers_wrap">
      <div id="tab-5" class="tab_container">

        <!-- - - - - - - - - - - - - - Carousel of featured products - - - - - - - - - - - - - - - - -->
        <div class="owl_carousel carousel_in_tabs type_2">
          <% 7.times do %>
              <%= render partial: 'shared/product_item',
                         locals: {
                                 label_class: '',
                                 label_text: '',
                                 with_countdown: false,
                                 with_full_description: false
                         } %>
          <% end %>
        </div>
        <!--/ .sh_container-->

      </div>
      <!--/ #tab-1-->

      <div id="tab-6" class="tab_container">

        <!-- - - - - - - - - - - - - - Carousel of bestsellers - - - - - - - - - - - - - - - - -->
        <div class="owl_carousel carousel_in_tabs type_2">
          <% 7.times do %>
              <%= render partial: 'shared/product_item',
                         locals: {
                                 label_text: 'Бестселлер',
                                 label_class: 'label_bestseller',
                                 with_countdown: false,
                                 with_full_description: false
                         } %>
          <% end %>
        </div>
        <!--/ .sh_container-->

      </div>
      <!--/ #tab-2-->
    </div>
    <!-- - - - - - - - - - - - - - End of tabs containers - - - - - - - - - - - - - - - - -->
  </div>
  <!--/ .tabs.section_offset-->
</div>

<% content_for :stylesheets do %>
    <link rel="stylesheet" href="/static/js/fancybox/source/jquery.fancybox.css">
    <link rel="stylesheet" href="/static/js/fancybox/source/helpers/jquery.fancybox-thumbs.css">
<% end %>

<% content_for :javascripts do %>
    <script src="/static/js/jquery.elevateZoom-3.0.8.min.js"></script>
    <script src="/static/js/fancybox/source/jquery.fancybox.pack.js"></script>
    <script src="/static/js/fancybox/source/helpers/jquery.fancybox-media.js"></script>
    <script src="/static/js/fancybox/source/helpers/jquery.fancybox-thumbs.js"></script>
<% end %>