<section class="section_offset">

  <h3>Личный кабинет</h3>

  <ul class="theme_menu">
    <li class="active"><%= link_to 'Обзор', account_path %></li>
    <li><%= link_to 'Мои заказы', account_orders_path %></li>
    <li><%= link_to 'Отложенные товары', account_wishlist_path %></li>
    <li><%= link_to 'Мои отзывы о товарах', account_reviews_path %></li>
    <li><%= link_to 'Состояние подписки', account_subscriptions_path %></li>
    <li><%= link_to 'Контактная информация', account_profile_path %></li>
  </ul>

</section>