<h1>Обзор</h1>

<section class="theme_box">
  <h4>Здравствуйте, Иван Петров!</h4>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, ipsa, nam! Accusamus corporis excepturi illum impedit in laudantium minus nesciunt optio pariatur ratione recusandae, saepe
    tempore ullam ut voluptas voluptate.</p>
</section><!--/ .theme_box -->

<!-- - - - - - - - - - - - - - Contact information - - - - - - - - - - - - - - - - -->

<section class="theme_box">
  <h4>Контактные данные</h4>

  <p>Иван Петров
    <br>Киев, ул. Поддубного, 11, кв. 73
    <br><span class="dashed">067 123-45-67</span>, <span class="dashed">067 123-55-66</span>
    <br/><a href="#" class="mail_to">ivan.petrov@gmail.com</a></p>

  <div class="buttons_row">
    <a href="#" class="button_grey middle_btn">Редактировать</a>
    <a href="#" class="button_grey middle_btn">Изменить пароль</a>
  </div>

</section><!--/ .theme_box -->

<!-- - - - - - - - - - - - - - End of contact information - - - - - - - - - - - - - - - - -->

<div class="table_layout">

  <div class="table_row">

    <div class="table_cell">

      <!-- - - - - - - - - - - - - - Newsletter - - - - - - - - - - - - - - - - -->

      <section>

        <h4>Состояние подписки</h4>

        <p>В данный момент вы не подписаны на акции и предложения от Мега Аптеки.</p>

        <a href="#" class="button_grey middle_btn">Изменить подписку</a>

      </section>

      <!-- - - - - - - - - - - - - - End of newsletter - - - - - - - - - - - - - - - - -->

    </div>
    <!--/ .table_cell -->

    <div class="table_cell">

      <!-- - - - - - - - - - - - - - Address book - - - - - - - - - - - - - - - - -->

      <section>

        <h4>Мои заказы</h4>

        <p>Всего 11 заказов, из них: <strong>сформировано - 3</strong>, <strong>ожидает подтверждения - 2</strong>.</p>

        <a href="#" class="button_grey middle_btn">Управление заказами</a>

      </section>

      <!-- - - - - - - - - - - - - - End of address book - - - - - - - - - - - - - - - - -->

    </div>
    <!--/ .table_cell -->

  </div>
  <!--/ .table_row -->

  <div class="table_row">

    <div class="table_cell">

      <!-- - - - - - - - - - - - - - Default billing address - - - - - - - - - - - - - - - - -->

      <section>

        <h4>Отложенные товары</h4>

        <p>У вас пока нет отложенных товаров.</p>

        <a href="#" class="button_grey middle_btn">Обзор списка</a>

      </section>

      <!-- - - - - - - - - - - - - - End of default billing address - - - - - - - - - - - - - - - - -->

    </div>
    <!--/ .table_cell -->

    <div class="table_cell">

      <!-- - - - - - - - - - - - - - Default shipping address - - - - - - - - - - - - - - - - -->

      <section>

        <h4>Мои отзывы и комментарии</h4>

        <p>Вы оставили <strong>173</strong> отзыва на товары на сайте.</p>

        <a href="#" class="button_grey middle_btn">Подробнее</a>

      </section>

      <!-- - - - - - - - - - - - - - End of default shipping address - - - - - - - - - - - - - - - - -->

    </div>
    <!--/ .table_cell -->

  </div>
  <!--/ .table_row -->
</div><!--/ .table_layout -->


<% content_for :cta do %>
    <section class="section_offset">

      <h3>Только для наших клиентов</h3>

      <div class="call_to_action type_2 on_the_sides">
        <div class="left_side">
          <div class="title">Специальные цены на БАДы и витамины</div>
          <p>Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros.</p>
        </div>

        <div class="right_side">
          <a href="#" class="button_blue huge_btn"><i class="icon-basket-1"></i>Обзор товаров</a>
        </div>
      </div>

    </section>
<% end %>