<h1>Мои заказы</h1>

<header class="top_box on_the_sides">

  <div class="left_side v_centered">

    <p class="visible_pages">С 1 по 10 из 30 (3 страницы)</p>

    <span>Показать:</span>

    <div class="custom_select">

      <select name="">

        <option value="10">10</option>
        <option value="9">9</option>
        <option value="8">8</option>
        <option value="7">7</option>
        <option value="6">6</option>
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>

      </select>

    </div>

  </div>

  <div class="right_side">

    <ul class="pags">

      <li><a href="#"></a></li>
      <li class="active"><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#"></a></li>

    </ul>

  </div>

</header><!--/ .top_box -->

<div class="table_wrap">

  <table class="table_type_1 orders_table">

    <thead>

    <tr>

      <th class="order_number_col">Номер заказа</th>
      <th>Дата заказа</th>
      <th class="ship_col">Доставка</th>
      <th>Статус</th>
      <th class="order_total_col">Итого</th>
      <th class="product_action_col">Действия</th>

    </tr>

    </thead>

    <tbody>

    <tr>

      <td data-title="Номер заказа"><a href="#">145000007</a></td>

      <td data-title="Дата заказа">15/02/2015 15:25</td>

      <td data-title="Доставка">Аптека 71<br>044 234-23-32<br><a href="">Харьков, Тверская 22а</a></td>

      <td data-title="Статус">Завершен</td>

      <td data-title="Итого" class="total">25.95</td>

      <td data-title="Действия">

        <ul class="buttons_col">

          <li>

            <a href="#" class="button_grey">Подробнее</a>

          </li>

          <li>

            <a href="#" class="button_grey">Повторить</a>

          </li>

        </ul>

      </td>

    </tr>

    <tr>

      <td data-title="Номер заказа"><a href="#">145000007</a></td>

      <td data-title="Дата заказа">15/02/2015 15:25</td>

      <td data-title="Доставка">Аптека 22<br>044 234-23-32<br><a href="">Киев, Франко 9</a></td>

      <td data-title="Статус">Оплачен</td>

      <td data-title="Итого" class="total">12.99</td>

      <td data-title="Действия">

        <ul class="buttons_col">

          <li>

            <a href="#" class="button_grey">Подробнее</a>

          </li>

          <li>

            <a href="#" class="button_grey">Повторить</a>

          </li>

        </ul>

      </td>

    </tr>

    <tr>

      <td data-title="Номер заказа"><a href="#">145000007</a></td>
      <td data-title="Дата заказа">15/02/2015 15:25</td>
      <td data-title="Доставка">Аптека 71<br>044 234-23-32<br><a href="">Харьков, Тверская 22а</a></td>
      <td data-title="Статус">Ожидает оплаты <strong>до 16/02/2016 18:00</strong></td>

      <td data-title="Итого" class="total">5.99</td>

      <td data-title="Действия">

        <ul class="buttons_col">

          <li>
            <a href="#" class="button_grey">Подробнее</a>
          </li>

          <li>
            <a href="#" class="button_grey">Повторить</a>
          </li>

        </ul>

      </td>

    </tr>

    <tr>

      <td data-title="Номер заказа"><a href="#">145000007</a></td>

      <td data-title="Дата заказа">15/02/2015 15:25</td>

      <td data-title="Доставка">Аптека 22<br>044 234-23-32<br><a href="">Харьков, Тверская 22а</a></td>

      <td data-title="Статус">Отменен</td>

      <td data-title="Итого" class="total">22.25</td>

      <td data-title="Действия">

        <ul class="buttons_col">

          <li>

            <a href="#" class="button_grey">Подробнее</a>

          </li>

          <li>

            <a href="#" class="button_grey">Повторить</a>

          </li>

        </ul>

      </td>

    </tr>

    <tr>

      <td data-title="Номер заказа"><a href="#">145000007</a></td>

      <td data-title="Дата заказа">15/02/2015 15:25</td>

      <td data-title="Доставка">Аптека 71<br>044 234-23-32<br><a href="">Харьков, Тверская 22а</a></td>

      <td data-title="Статус">Завершен</td>

      <td data-title="Итого" class="total">5.99</td>

      <td data-title="Действия">

        <ul class="buttons_col">

          <li>

            <a href="#" class="button_grey">Подробнее</a>

          </li>

          <li>

            <a href="#" class="button_grey">Повторить</a>

          </li>

        </ul>

      </td>

    </tr>

    </tbody>

  </table>

</div>

<footer class="bottom_box">

  <a href="#" class="button_grey middle_btn">Назад</a>

</footer><!--/ .bottom_box -->

<% content_for :cta do %>
    <section class="section_offset">

      <h3>Только для наших клиентов</h3>

      <div class="call_to_action type_2 on_the_sides">
        <div class="left_side">
          <div class="title">Скидка до 5% на повторный заказ</div>
          <p>Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros.</p>
        </div>

        <div class="right_side">
          <a href="#" class="button_blue huge_btn"><i class="icon-basket-1"></i>Подробнее</a>
        </div>
      </div>

    </section>
<% end %>
