/*
 *= require 'reset'
 *= require_tree .
 *= require font-awesome
 *= require_self
 */
/* 
-----------------------------------------------------
	Stylesheet Guide
-----------------------------------------------------
	
	1. Default stylesheets
	2. General classes
	3. Basic Elements
		3.1 Typography
		3.2 Buttons
		3.3 Forms
		3.4 Lists
		3.5 Tooltips
		3.6 Tables
	4. Header
		4.1 Change currency & language
		4.2 Shopping cart
		4.3 Main navigation
			4.3.1 Mega menu
			4.3.2 Sticky menu
			4.3.3 Sticky header
		4.4 Header type 2
		4.5 Header type 4
		4.6 Header type 5
		4.7 Header type 6
	5. Widgets & Shortcodes
		5.1 Infoblocks
		5.2 Product items
			5.2.1 Product item type 2
			5.2.2 Product item type 3
			5.2.3 Single product
		5.3 Countdown
		5.4 Tabs & Tour sections
		5.5 Twitter feed
		5.6 Alert boxes
		5.7 Accordions and Toggles
		5.8 Paginations
		5.9 Progress bars
		5.10 Lightbox
		5.11 Call to actions
		5.12 Pricing tables
	6. Carousels
		6.1 Navigation buttons
	7. Modal windows
	8. Main
	9. Blog
	10. Shop
	11. Product pages
	12. Sliders
		12.1 Royal Slider
		12.2 Revolution Slider
		12.3 Layer Slider
	13. Sidebar
		13.1 Widgets
			13.1.1 Tags cloud
			13.1.2 Product list
			13.1.3 Recent Comments
	14. Footer
	15. Media Queries
	16. Retina Ready

*/

/* ------------------------------------------------

		15. Media queries

------------------------------------------------ */

@media only screen and (max-width:1199px){

    .boxed_layout{ width:1000px; }

    .modal_window{ width:735px; }

    .product_price{ font-size: 14px; }

    .main_product{
        width: 175px;
        max-width: 175px;
    }

    .social_feeds { top:50px; }

    .seller_info .wrapper{
        white-space: nowrap;
        text-overflow:ellipsis;
    }

    .seller_info .seller_category{
        text-overflow:ellipsis;
        overflow: hidden;
        width:100%;
    }

    #header:not(.type_6) .main_header_row{
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;

        align-items:center;
    }

    .mega_menu.type_2, .mega_menu.type_3{ width: 730px; }

    .mega_menu.type_2 .mega_menu_item:not(:last-child){
        display: block;
        float: left;
    }

    .mega_menu.type_2 .mega_menu_item:last-child{
        display: block;
        overflow: hidden;
    }

    .infoblock.type_2 .caption{
        padding-left:10px;
        padding-right:10px;
    }

    .main_navigation:not(.full_width_nav) > ul > li > a{
        padding-left: 7px;
        padding-right: 7px;
    }

    .tabs_nav > li > a{
        padding-left: 13px;
        padding-right: 13px;
    }

    .tabs.type_2 .tabs_nav a,
    .tabs.many_tabs .tabs_nav > li > a{ font-size: 14px; }

    .products_list_widget .product_price,
    .products_list_widget .rating{ float: none; }

    .products_list_widget .product_thumb{ margin-right: 8px; }

    /* entries */

    aside .entry,
    .related_posts .entry{ text-align: center; }

    aside .entry_title,
    aside .entry_meta,
    .related_posts .entry_title,
    .related_posts .entry_meta{ text-align: left; }

    aside .entry_thumb,
    .related_posts .entry_thumb{
        float: none;
        display: inline-block;
        margin-bottom: 10px;
    }

    .order_review .product_title_col{ width: 50%; }
    .wishlist_table .product_title_col{ width: 27%; }

    .orders_table .ship_col,
    .orders_table .product_action_col,
    .orders_table .order_number_col{ width: auto; }

    .product_price_table tbody td{
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
    }

    .zoomContainer{ visibility: hidden !important; }

    .table_layout.list_view .product_item .image_wrap{ width: 190px; }

    .subcategory{ text-align: center; }

    .main_navigation > ul > li > .submenu{
        min-width: 0px;
        width: 205px;
    }

    .main_navigation > ul > li > .submenu .submenu{
        min-width: 0px;
        width: 165px;
    }

    .product_item.type_2{ padding-bottom: 125px; }

    .product_item.type_2 .buttons_row{ width: 130px; }

    .product_item.type_2 .buttons_row .add_to_wishlist,
    .product_item.type_2 .buttons_row .add_to_compare{ opacity: 1; }

    .product_item.type_2 .buttons_row > [class*="button"]{ margin-bottom: 5px; }

    .on_the_sides{
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;

        -webkit-align-items: center;
        align-items: center;

        -webkit-justify-content: space-between;
        justify-content: space-between;
    }

    .on_the_sides > [class*="_side"]{
        display: block;
        width: auto;
    }

    .modal_window .on_the_sides > [class*="_side"]{ display: table-cell; }

    .modal_window .on_the_sides > .left_side{ width: 70%; }

    .call_to_action.on_the_sides,
    .call_to_action > .on_the_sides{
        display: table !important;
    }

    .call_to_action.on_the_sides > [class*="_side"],
    .call_to_action > .on_the_sides > [class*="_side"]{
        display: table-cell !important;
    }

    .call_to_action.on_the_sides > .left_side,
    .call_to_action > .on_the_sides > .left_side{
        width: 70% !important;
    }

    .cookie_message .right_side{
        -webkit-flex-basis: 240px;
        flex-basis: 240px;

        -webkit-flex-shrink: 0;
        flex-shrink: 0;
    }

    #header.type_5 .main_navigation .submenu .submenu{
        left: auto;
        right: 100%;
        margin: 0 -1px 0 0;
    }

    #header.type_5 .main_navigation .submenu .submenu > li:first-child > a{ border-radius: 3px 0 0 0; }

}

@media only screen and (max-width:991px){

    .boxed_layout{ width:780px; }

    .shop_links{ margin-bottom:0px; }

    .search_category{ width: 137px; }

    .search input{ width: calc(100% - 187px); }

    #open_shopping_cart{ margin-top:5px; }

    .arrivals .arrivals_column{
        display: block;
        width: 100%;
        max-width: 100%;
    }

    .main_product{ text-align: center; }

    .main_product::after{
        border-width:1px 1px 0 1px !important;
        border-radius: 3px 3px 0 0;
    }

    .arrivals .table_layout .table_row:first-child > .table_cell:last-child::after{ border-radius: 0px; }

    .arrivals .table_layout .table_row:last-child > .table_cell:first-child::after{ border-bottom-left-radius: 3px !important; }

    .countodwn:not(.simple) .countdown-section{ width: 27px; }

    .streamlined .streamlined_title{
        float:none;
        margin-top:0;
        margin-right:0;
    }

    [class*="streamlined"],
    [class*="streamlined"] > *{
        display: block;
        float:none !important;
    }

    [class*="streamlined"] > .streamlined_title{ padding-top:0px; }

    .mega_menu,
    .mega_menu[class*="type"],
    .main_navigation .submenu{
        position: relative !important;
        top:0 !important;
        left:0 !important;
        opacity: 1 !important;
        visibility: visible !important;
        width: 100%;
        /*border-bottom:none !important;*/
        border-radius: 0px !important;

        -webkit-transition: none !important;
        transition: none !important;

        -webkit-transform: none !important;
        -ms-transform: none !important;
        transform: none !important;
    }

    .main_navigation .submenu{
        width: 100% !important;
        margin-left: 0px !important;
        display: none;
    }

    .main_navigation .has_submenu .has_submenu > a::after{
        content: '\e8c8';
        font-size: 11px;
    }

    .tabs .tabs_nav > li > a,
    .tabs.type_2 .tabs_nav > li > a{
        padding-left: 3px;
        padding-right: 3px;
    }

    .tabs:not([class*="type"]) .tabs_nav > li > a{ font-size:18px; }

    .tabs_nav{ margin-right: 70px; }

    .ts_nav{ width: 145px; }

    .md_flexbox .infoblocks_wrap{
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;

        -webkit-align-content: flex-start;
        align-content: flex-start;

        -webkit-justify-content: center;
        justify-content: center;

        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
    }

    .md_flexbox .infoblocks_wrap > li{
        -webkit-flex-basis: 32.33%;
        flex-basis: 32.33%;
    }

    .md_no-flexbox .infoblocks_wrap > li{
        float: none;
        width: 100%;
        margin-right: 0px;
    }

    .infoblock.type_3{
        padding-left: 15px;
        padding-right: 15px;
    }

    .cta_col{ text-align: left; }

    .pricing_table [class*="label_"]{
        font-size: 10px;
        left: 2px;
        top: 2px;
        padding-top: 1px;
        padding-bottom: 1px;
    }

    /* tabs */

    .tabs.many_tabs .tabs_nav{ margin-bottom: 11px; }

    .tabs.many_tabs .tabs_nav li{
        float:none !important;
        margin:0 !important;
    }

    .tabs.many_tabs .tabs_nav li a{
        padding:7px 15px;
        border-radius:0px;
    }

    .tabs.many_tabs .tabs_nav li:not(:first-child) a{ border-top:none; }

    .tabs.many_tabs .tabs_nav li:first-child a{ border-radius:3px 3px 0 0; }

    .tabs.many_tabs .tabs_nav li:last-child a{ border-radius:0 0 3px 3px; }

    /* shop tables */

    .product_title_col{ width: 20%; }

    th.product_image_col{ width: 110px; }

    .order_review .product_title_col{ width: 42%; }

    .buttons_row:not(.layout_type) > [class*="button"]{ margin-bottom: 5px; }

    /* single product */

    .single_product{
        margin: 0 auto 20px;
        float: none;
    }

    .cats{ margin-bottom: 40px; }

    .mega_menu .mega_menu_item{
        display: block;
        width: 100%;
        float: none !important;
        margin-left:0px !important;
        padding-left:0px !important;
    }

    .mega_menu .mega_menu_item:not(:last-child){ margin-bottom:10px; }

    .mega_menu .list_of_links{ width:100% !important; }

    [data-animation].animated{
        opacity: 1;
        -webkit-animation:none;
        animation:none;
    }

    .main_navigation .mega_menu{
        left: 0px !important;
        width: 100% !important;
    }

    .toggle_menu,
    .full_width_nav > ul,
    .full_width_nav > ul > li{ display: block; }

    .main_navigation{ display: none; }

    .full_width_nav > ul > li{
        width: 100% !important;
        white-space: normal !important;
    }

    .main_navigation > ul > li:not(:first-child){
        border-left-width: 1px;
        border-top-width: 0px;
    }

    .nav_item{ height: 61px; }
    .nav_item.size_1{ width: 40px; }
    .nav_item.size_2{ width: 150px; }

    .nav_item .login_box:before{ left: 9px; }

    .nav_item .login_box{ padding-left:35px; }

    .nav_item.inner_offset{
        padding-top: 9px;
        padding-bottom: 8px;
    }

    .main_navigation:not(.full_width_nav){
        position: absolute;
        width: 100%;
        z-index: 105;
    }

    .main_navigation:not(.full_width_nav) > ul > li{ float: none; }

    .main_navigation:not(.full_width_nav) > ul > li > a{ border-top-width: 0px !important; }

    .main_navigation > ul > li:not(:first-child),
    .main_navigation:not(.full_width_nav) > ul > li:not(:first-child) > a,
    .nav_item .main_navigation > ul > li:first-child > a{ border-left-width: 1px; }

    .footer_message{
        padding-left: 20px;
        padding-right: 20px;
    }

    .main_navigation .submenu:not(.cats) > li > a{ padding-left: 30px !important; }
    .main_navigation .submenu:not(.cats) .submenu > li > a{ padding-left: 40px !important; }

    .cookie_message .on_the_sides{ display: block; }

    .cookie_message .right_side,
    .cookie_message .left_side{
        width: 100%;
        text-align: center;
    }

    .sort_select{ width: 100px; }

    .cookie_message [class*="button"]{ margin: 5px 0 0; }

    #header.type_5 .main_navigation .submenu .submenu > li:first-child > a{ border-radius: 0px; }

    #header .login_box{  margin-top: 5px; }

}

@media only screen and (max-width: 991px) and (min-width: 768px){

    .sticky_inner .cats{ width: 719px; }

    .col-sm-6 + .col-sm-6{ margin-top: 40px; }

    .col-sm-6:first-child,
    .col-sm-6:nth-child(2){ margin-top: 0px; }

    .col-sm-6:nth-child(2n+1){ clear: left; }

    .list_of_entries.list_view .entry_image{ width: 200px; }

    .page_wrapper [class|="col"]:not([class|="col-sm"]):not(:last-child){ margin-bottom: 10px; }

    .wishlist_table th, .wishlist_table td{
        padding-left: 8px;
        padding-right: 8px;
    }

    .wishlist_table .product_title_col{ width: 110px; }
    .wishlist_table .product_image_col{ width: 85px; }
    .wishlist_table .product_price_col{ width: 70px; }
    .wishlist_table .product_qty_col{ width: 108px; }

    .orders_table th,
    .orders_table td{
        word-break: break-all;
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
    }

    .orders_table .order_total_col{ width: 62px; }

    .order_review th, td{
        padding-left: 15px;
        padding-right: 15px;
    }

    .order_review .product_total_col{ width: 120px; }
    .order_review .product_qty_col{ width: 85px; }
    .order_review .product_sku_col{ width: 70px; }

    .col-sm-8 .table_layout.list_view .product_item .image_wrap{
        margin-left: auto;
        margin-right: auto;
    }

    .col-sm-8 .table_layout.list_view .product_item > *:not(.description),
    .col-sm-9 .table_layout.list_view .product_item > *:not(.description){
        display: block;
        padding: 0;
    }

    .col-sm-8 .table_layout.list_view .product_item > *:not(:last-child),
    .col-sm-9 .table_layout.list_view .product_item > *:not(:last-child){ margin-bottom: 15px; }

    .col-sm-8 .table_layout:not(.list_view) .product_item .add_to_compare,
    .col-sm-8 .table_layout:not(.list_view) .product_item .add_to_wishlist,
    .col-sm-9 .table_layout:not(.list_view) .product_item .add_to_compare,
    .col-sm-9 .table_layout:not(.list_view) .product_item .add_to_wishlist{ display: none; }

    .col-sm-8 .table_layout:not(.list_view) .product_item .quick_view,
    .col-sm-8 .table_layout:not(.list_view) .product_item .add_to_cart,
    .col-sm-9 .table_layout:not(.list_view) .product_item .quick_view,
    .col-sm-9 .table_layout:not(.list_view) .product_item .add_to_cart{
        font-size: inherit;
        padding: 5px 15px;
    }

    .col-sm-8 .table_layout:not(.list_view) .product_item [class*="label_"],
    .col-sm-9 .table_layout:not(.list_view) .product_item [class*="label_"]{
        top: 8px;
        left: 8px;
    }

    .col-sm-8 .table_layout:not(.list_view) .product_item .actions_wrap > .centered_buttons,
    .col-sm-9 .table_layout:not(.list_view) .product_item .actions_wrap > .centered_buttons{ width: 80%; }

    .filter_row .table_cell,
    .subcategories .table_cell{
        padding-left: 10px;
        padding-right: 10px;
    }

    .subcategory figcaption{
        max-width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .filter_row .table_cell .row{
        margin-left: -5px;
        margin-right: -5px;
    }

    .filter_row .table_cell [class|="col"]{
        padding-left: 5px;
        padding-right: 5px;
    }

    input[type="checkbox"] + .color_btn{
        padding-left: 27px;
    }

    .visible_pages{ display: none; }

}

@media only screen and (max-width:767px){

    .modal_window{ width:100% !important; }

    .tb_toggle_menu{
        width: 60px;
        margin: 10px auto;
        display: block;
    }

    .topbar .submenu{
        position: relative !important;
        top:0 !important;
        left:0 !important;
        width: calc(100% + 2px);
        border-bottom:none !important;
        border-radius: 0px !important;
        margin-left: 0px !important;

        opacity: 1 !important;
        visibility: visible !important;

        -webkit-transform: none !important;
        -ms-transform: none !important;
        transform: none !important;

        -webkit-transition: none !important;
        transition: none !important;
    }

    #header .topbar > li{
        display: block;
        margin: 3px 0 0;
        text-align: center;
    }

    #header .topbar > li:not(:last-child)::after{
        display: none;
    }

    #header .topbar .submenu{
        text-align: left;
    }

    .topbar .submenu:not(.cats) > li > a{ padding-left: 15px !important; }
    .topbar .submenu:not(.cats) .submenu > li > a{ padding-left: 25px !important; }

    .topbar .has_submenu .has_submenu > a::after{
        content: '\e8c8';
        font-size: 11px;
    }

    /* layout */

    .boxed_layout{
        width:auto;
        margin-left:10px;
        margin-right:10px;
    }

    [class*="page_wrapper"] .row [class*="col-"]:not(:first-child),
    #footer .row [class*="col-"]:not(:first-child){ margin-top:40px; }

    /* tables */

    .table_type_1 > thead{ display: none; }

    .table_type_1 td{
        display: block;
        border-right: none;
        border-left: none;
    }

    .table_type_1 > * td{ border-top: none; }

    .table_type_1 td[data-title]{
        position: relative;
        padding-left: 50%;
    }

    .table_type_1 td[data-title]::before{
        content: attr(data-title);
        position: absolute;
        padding: 14px 19px;
        display: block;
        left: 0px;
        top: 0px;
        height: 100%;
        width: 45%;
        background: #f8f8f8;
        border-right: 1px solid #eaeaea;
    }

    .table_type_1 > *:last-child > tr:last-child td:not(:last-child){ border-bottom-width: 1px; }

    .order_review tbody td{ height: auto; }

    /* forms */

    form:not(.type_2) label{ width: 88px; }

    form:not(.type_2) .form_el{ width: calc(100% - 88px); }

    form:not(.type_2) input.incorrect:not([type="submit"]){ width: 100%; }

    [class*="page_wrapper"] form .row [class*="col-"]:not(:first-child){ margin-top: 10px; }

    /* infoblocks */

    .md_flexbox .infoblocks_wrap > li{
        margin-right: 0px;

        -webkit-flex-basis: 100%;
        flex-basis: 100%;
    }

    /* call to actions */

    .cta_col:first-child,
    .cta_col:last-child{
        width: 100%;
        max-width: none;
    }

    .cta_col:last-child{ margin-top: 10px; }

    /* pricing tables */

    .pricing_table{ width: 100%; }

    .pricing_tables_container > .pricing_table{ float: none; }

    .pricing_tables_container > .pricing_table:not(:first-child){ border-left-width: 1px; }
    .pricing_tables_container > .pricing_table:not(:first-child){ border-top-width: 0px; }
    .pricing_tables_container > .pricing_table:first-child{ border-radius: 3px 3px 0 0; }
    .pricing_tables_container > .pricing_table:last-child{ border-radius: 0 0 3px 3px; }

    .container_404{ width: 100%; }

    .not_found_404{ font-size: 100px; }

    .container_404 [class*="button"]{ margin-bottom: 10px; }

    .layerslider .layer_6 small{ font-size: inherit; }

    .banner{ text-align: center; }

    /* tabs */

    .tabs .tabs_nav { margin-bottom: 11px; }

    .tabs .tabs_nav > li{
        float:none !important;
        margin:0 !important;
    }

    .tabs .tabs_nav > li > a{
        padding:7px 15px !important;
        border-radius:0px !important;
    }

    .tabs .tabs_nav > li:not(:first-child) > a{ border-top:none; }

    .tabs .tabs_nav > li:first-child > a{ border-radius:3px 3px 0 0 !important; }
    .tabs .tabs_nav > li:last-child > a{ border-radius:0 0 3px 3px !important; }

    .tabs.type_3 .tabs_nav{ width: auto; }

    .tabs.type_3 .tabs_nav li a{ border-right-width: 1px; }

    .tabs.type_3 .tabs_nav::before,
    .tabs.type_3 .tabs_nav li a::before{ display: none; }

    .tabs.type_3 .tabs_nav,
    .tabs.type_3 .tab_containers_wrap{ display: block; }

    .owl_carousel .owl-item.first > *{ border-top-left-radius: 3px !important; }

    .owl_carousel:last-child .owl-item.first > *{ border-bottom-left-radius: 3px !important; }

    /* product blocks */

    .products_list_widget .product_price,
    .products_list_widget .rating{ float:none; }

    .products_list_widget .rating{
        margin-bottom:5px;
        display: inline-block;
    }

    .products_list_widget .product_thumb{ margin-right: 15px; }

    /* entries */

    aside .entry,
    .related_posts .entry{ text-align: left; }

    aside .entry_thumb,
    .related_posts .entry_thumb{
        float: left;
        margin-bottom: 0px;
    }

    .layout_type{ display: none !important; }

    .md_flexbox .list_of_entries.grid_view{ flex-direction: column; }

    .md_flexbox .list_of_entries.grid_view > li{
        -webkit-flex-basis: 100%;
        flex-basis: 100%;
    }

    .list_of_entries.list_view .entry_image{
        float: none;
        margin: 0 0 15px;
    }

    .md_no-flexbox .list_of_entries.grid_view > li{
        float: none;
        width: 100%;
    }

    .list_of_entries.grid_view .entry_meta > [class*="align"]{ display: block; }

    .list_of_entries.grid_view > li:nth-child(2n) .entry{ border-left-width: 1px; }
    .md_no-flexbox .list_of_entries.grid_view > li:nth-child(2n+1) .entry{ border-right-width: 1px; }

    .md_no-flexbox .list_of_entries.grid_view::after,
    .md_no-flexbox .list_of_entries.grid_view > li::after{ display: none; }

    /* shop tables */

    td.product_image_col{ text-align: left; }

    /* Grid & View layout */

    .table_layout,
    .table_row,
    .table_cell{ display: block; }

    .table_cell:not(:first-child)::after{ border-left-width: 1px; }

    .table_row:last-child > .table_cell:not(:last-child)::after{ border-bottom-width: 0px; }

    .table_row:first-child > .table_cell:first-child::after{ border-radius: 3px 3px 0 0 !important; }
    .table_layout:last-child .table_row:last-child > .table_cell:last-child::after{ border-radius: 0 0 3px 3px !important; }

    .top_box + .table_layout .table_row:first-child > .table_cell:first-child::after,
    .table_row:first-child:not(:only-child) > .table_cell:last-child::after,
    .table_row:last-child:not(:only-child) > .table_cell:first-child::after{ border-radius: 0px !important; }

    .theme_box + .table_layout:not(.list_view) .table_row:first-child > .table_cell:not(:first-child)::after{ border-top-width: 1px; }

    .manufacturer{ text-align: center; }

    .table_layout.list_view .product_item .image_wrap{
        margin-left: auto;
        margin-right: auto;
    }

    .table_layout.list_view .product_item > *:not(.description){
        display: block;
        padding: 0;
    }

    .table_layout.list_view .product_item > *:not(:last-child){ margin-bottom: 15px; }

    .seller,
    .product_item{ max-width:100%; }

    #header,
    .shop_links{ text-align: center; }

    .shop_links{ margin:10px 0 6px; }

    .shop_links .small_link{ margin:0; }

    #header:not(.type_6) .main_header_row{ flex-direction: column; }

    .sticky_inner .nav_item{
        width: 100%;
        display: block;
    }

    .site_settings{
        float:none;
        display: inline-block;
        margin:10px 10px 0px;
    }

    .social_feeds{ display: none; }

    .promo_title{ font-size:28px; }

    .image_col,
    #header.type_4 .topbar{ text-align: center; }

    .image_col input[type="checkbox"] + label{
        margin-bottom:15px;
        text-align: left;
        display: block;
    }

    .quick_view{ display: none; }

    .main_navigation,
    .sticky_inner .cats,
    .sticky_inner .shopping_cart{ text-align: left; }

    #header.type_4 .call_us:only-child{
        margin-top: 5px;
        margin-bottom: 5px;
    }

    #header.type_6 .main_header_row,
    #header.type_6 .main_header_row > *{ display: block; }

    .sticky_inner > .nav_item:not(:first-child){
        border-left-width: 1px;
        border-top-width: 0px;
    }

    .nav_item:not(:last-child){ border-bottom-width: 1px !important; }

    .nav_item:not(.inner_offset) > button,
    .nav_item:not(.inner_offset) > .login_box,
    .nav_item:not(.inner_offset) > [class*="button"]{
        border-top-width: 0px !important;
        border-bottom-width: 0px !important;
    }

    #promo_mw .do_not_show_checkbox{ margin-bottom: 10px !important; }

    .nav_item .cats{ width: 100%; }

    .wishlist_button, .compare_button{ width: 56px !important; }

    #open_shopping_cart,
    .open_categories_sticky{ width: auto !important; }

    .sticky_inner .shopping_cart{
        right: auto;
        left: 50%;
        margin-left: -130px;
    }

    .sticky_inner .cats > li:first-child > a{ border-top-width: 1px; }

    #header.type_5 .search_category{ z-index: 106; }

    .login_box{ width: 165px !important; }

    .nav_item .login_box{ display: inline-block; }

    .cookie_message .on_the_sides{ text-align: center; }

    .cookie_message .on_the_sides > *{
        max-width: 100% !important;
        display: block;
    }

    .cookie_message .buttons_row{
        margin-top: 5px !important;
        display: inline-block;
    }

    .entry_meta [class*="align"]{ float:none; }

    .on_the_sides{
        -webkit-flex-direction: column;
        flex-direction: column;

        -webkit-align-items: flex-start;
        align-items: flex-start;
    }

    .on_the_sides,
    .on_the_sides > [class*="_side"]{ text-align: left; }

    .on_the_sides > .v_centered > *{ display: block; }

    .on_the_sides > .right_side,
    .on_the_sides > .v_centered > *:not(:first-child){ margin:10px 0 0 !important; }

    .table_layout.list_view .product_item .actions{ width: 100%; }

    .call_to_action.on_the_sides > [class*="_side"],
    .call_to_action > .on_the_sides > [class*="_side"]{
        display: block !important;
        width: auto !important;
    }

}

@media only screen and (max-width:480px){

    img[class*="align"],
    .video_wrap[class*="align"]{
        float: none;
        margin:0 0 15px;
    }

    .video_wrap[class*="align"]{
        width: 100%;
        padding-bottom: 71%;
    }

    .image_col img{ width:100%; }

    .royalSlider{ font-size:8px; }

    .sticky_inner > .nav_item:not(:first-child){ border-left-width: 1px; }

    .review-rates{
        float: none;
        padding: 0 0 15px;
    }

    .review-body{
        border-left: none;
        border-top: 1px solid rgba(234, 234, 234, .5);
        padding-top: 15px;
        padding-left: 0px;
    }

    .rate_table thead th:first-child{ width: 60px; }

    .rate_table th,
    .rate_table td{
        padding-left: 2px;
        padding-right: 2px;
        text-align: center;
    }

}
@media only screen and (max-height:900px){

    .social_feeds{ top:38px; }

    .social_feeds > li{ position: static; }

}

/* ------------------------------------------------

		16. Retina Ready

------------------------------------------------ */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 144dpi){
    blockquote::before{
        background-image: url("/static/images/quotes@2x.png");
        background-size:41px 33px;
    }
}