/* ------------------------------------------------

		9. Blog

------------------------------------------------ */

.entry{
    overflow: hidden;
    position: relative;
    padding: 19px;
    background: #fff;
    border: 1px solid #eaeaea;
    background-clip: padding-box;
    border-radius: 3px;
}

.entry:not(:last-child){ border-radius: 3px 3px 0 0; }

.entry_image{
    display: block;
    margin-bottom: 17px;
}

.entry_image img{ width: 100%; }

.entry_title{
    line-height: 18px;
    margin-bottom:7px;
}

.entry_thumb{
    display: block;
    float: left;
    margin-right: 15px;
}

.entry_meta{
    overflow: hidden;
    font-size:13px;
    line-height: 18px;
    color:#b2b2b2;
    margin-bottom:10px;
}

.entry_meta:last-child{ margin-bottom: 0px; }

.entry_meta .rating{
    display: inline-block;
    vertical-align: baseline;
    margin: 0 2px;
}

.entry_meta span{
    display: inline-block;
    white-space: nowrap;
}

.entry_meta span:not(:last-child){ margin-right: 5px; }

.entry .share{ margin-top: 30px; }

/* single */

.entry.single .entry_title{
    position: absolute;
    right: -9999px;
}

.entry.single .entry_meta{ margin-bottom: 15px; }

.list_of_entries > li:not(:last-child) .entry{ border-bottom: none; }

.list_of_entries .entry,
.list_of_entries.grid_view .entry,
.top_box + .list_of_entries > li:first-child .entry{ border-radius: 0px; }

.list_of_entries > li:first-child .entry{ border-radius: 3px 3px 0 0; }

.list_of_entries:last-child > li:last-child .entry{ border-radius: 0 0 3px 3px; }

.comments{ color:#b2b2b2; }
.comments:hover{ color:#0000b2; }

/* list view */

.list_of_entries.list_view .entry_title{ margin-top: 4px; }

.list_of_entries.list_view .entry_image{
    float: left;
    margin:0 20px 5px 0;
}

.list_of_entries.list_view .entry_meta [class*="align"]{ float: none; }

/* grid view*/

.list_of_entries.grid_view{
    position: relative;
    overflow: hidden;
}

.list_of_entries.grid_view > li{ position: relative; }

.list_of_entries.grid_view > li:nth-child(2n) .entry{ border-left-width: 0px; }

.list_of_entries.grid_view::before,
.md_flexbox .list_of_entries.grid_view > li::before{
    content: "";
    display: block;
    background: #fff;
    border: 1px solid #eaeaea;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.list_of_entries.grid_view .entry_meta > [class*="align"]{
    float: none;
    display: inline;
}

.list_of_entries.grid_view .entry_meta span:last-child{ margin-right: 8px; }

/* for browser that supports flexbox model */

.md_flexbox .list_of_entries.grid_view{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}

.md_flexbox .list_of_entries.grid_view > li{
    -webkit-flex-basis: 50%;
    flex-basis: 50%;
}

.md_flexbox .list_of_entries.grid_view > li:nth-child(2n)::before{ border-left-width: 0px; }
.md_flexbox .list_of_entries.grid_view > li::before{ bottom: -1px; }

/* for browser that doesn't support flexbox model */

.md_no-flexbox .list_of_entries.grid_view::after{
    content: "";
    display: block;
    border-left: 1px solid #eaeaea;
    position: absolute;
    top: 0px;
    left: 50%;
    height: 100%;
}

.md_no-flexbox .list_of_entries.grid_view > li{
    float: left;
    width: 50%;
}

.md_no-flexbox .list_of_entries.grid_view > li::after{
    content: "";
    display: block;
    border-top: 1px solid #eaeaea;
    width:200%;
    left:0;
    position: absolute;
    top: 0;
}

.md_no-flexbox .list_of_entries.grid_view > li:nth-child(2n+1){ clear: left; }
.md_no-flexbox .list_of_entries.grid_view > li:nth-child(2n+1) .entry{ border-right-width: 0px; }


.comments-list{
    overflow: hidden;
    background-color: #fff;
    border: 1px solid #eaeaea;
    border-radius: 3px;
}

.comments-list > li:not(:first-child) > article{ border-top: 1px solid #eaeaea; }

.comments-list .children > li > article::before{
    content: "";
    display: block;
    border-top: 1px solid #eaeaea;
    position: absolute;
    top: 0;
    width: 300%;
    left: -100%;
}

.comments-list .children{ padding-left: 20px; }

.comment > article{
    position: relative;
    padding: 19px;
}

.comment-body{
    overflow: hidden;
    padding-top: 1px;
}

.avatar{
    float: left;
    margin-right: 15px;
}

.comment-meta{
    padding-right: 50px;
    color: #b2b2b2;
    font-size: 13px;
    margin-bottom: 8px;
}

.comment-author{
    display: inline-block;
    vertical-align: baseline;
    margin-bottom: 0px;
}

.comment-author a{
    font-weight: 600;
    font-size: 14px;
}

.comment-reply-link{
    position: absolute;
    right: 19px;
    top: 11px;
}