/* ------------------------------------------------

		6. Carousels

------------------------------------------------ */

/* --------------------------------------------
			6.1 Navigation buttons
	-------------------------------------------- */

.owl-nav,
.edit_button,
.page-nav{
    position: absolute;
    overflow: hidden;
    bottom:100%;
    right:0px;
    margin-bottom:11px;
}

.page-prev,.page-next,
.owl-nav .owl-prev,
.owl-nav .owl-next{
    display: block;
    float:left;
    width:30px;
    height:30px;
    font-size:13px;
    color:#333;
    border: 1px solid #eaeaea;
    background: #fff;
    text-align: center;

    -webkit-transition: color .7s ease, background-color .7s ease, border-color .7s ease;
    transition: color .7s ease, background-color .7s ease, border-color .7s ease;
}

.page-prev,
.owl-nav .owl-prev{
    border-right-width:0px;
    border-radius: 3px 0 0 3px;
}

.page-next,
.owl-nav .owl-next{ border-radius:0 3px 3px 0; }

.page-nav > [class|="page"]:hover,
.owl-nav > [class^="owl"]:hover{
    color:#fff;
    background: #0000b4;
    border-color: #0000b4;

    -webkit-transition: color .1s ease, background-color .1s ease, border-color .1s ease;
    transition: color .1s ease, background-color .1s ease, border-color .1s ease;
}

.owl-nav > [class^="owl"]::before,
.page-nav > [class|="page"]::before{ font-family: 'fontello'; }

.owl-nav > [class^="owl"]::after,
.page-nav > [class|="page"]::after{
    content: "";
    height:100%;
}

.owl-nav > [class^="owl"]::before,
.owl-nav > [class^="owl"]::after,
.page-nav > [class|="page"]::before,
.page-nav > [class|="page"]::after{
    display: inline-block;
    vertical-align: middle;
}

.page-prev::before,
.owl-nav .owl-prev::before{ content: '\eab8'; }

.page-next::before,
.owl-nav .owl-next::before{ content: '\eab9'; }

.thumbnails_carousel .owl-nav{ position: static; }

.thumbnails_carousel .owl-next,
.thumbnails_carousel .owl-prev{
    position: absolute;
    top:50%;
    z-index:101;
    margin-top:-15px;
    border-radius: 3px;
}

.thumbnails_carousel .owl-prev{
    left:-50px;
    border-right-width:1px;
}

.thumbnails_carousel .owl-next{ right:-50px; }

.brands_carousel{
    background: #fff;
    border: 1px solid #eaeaea;
    padding: 19px;
    border-radius: 3px;
}

.offset_title{ padding-right:75px; }

.seller{
    padding-top: 19px;
    padding-bottom: 19px;
}

.seller{ max-width:283px; }

.seller_info{
    color:#b2b2b2;
    margin-bottom:10px;
}

.seller_info .photo{ margin-right:15px; }

.seller_info .wrapper{ padding:5px 0 0; }

.seller_stats > li:not(:first-child){ margin-top: 3px; }

.seller_stats:not(:last-child){ margin-bottom: 14px; }

.seller_stats .bold{ color: #333; }

.seller_info_wrap{
    position: relative;
    z-index: 1;
}

.seller_info_dropdown{
    display: none;
    position: absolute;
    z-index: -1;
    top: -5px;
    left: -10px;
    background: #fff;
    padding: 35px 10px 10px;
    font-size: 13px;
    width: 240px;
    border-radius: 3px;

    -ms-box-shadow: 0 0 7px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, .12);
}

.seller_info_dropdown .seller_stats > li:not(:first-child){	margin-top: 0px; }

.seller_info_dropdown .seller_stats:not(:last-child){ margin-bottom: 10px; }

.seller_name{
    position: relative;
    color: #333;
    cursor: pointer;
    max-width: 85px;
    padding-right: 15px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.seller_name::after{
    position: absolute;
    top: 0;
    right: 0;
    content:'\e8c8';
    font-family: 'fontello';
    font-size: 12px;
    color: #b2b2b2;
}

.product_preview{
    position:relative;
    padding-left:50px;
    padding-right:50px;
}

.product_preview [class*="_prev"],
.product_preview [class*="_next"]{
    position: absolute;
    top:50%;
    margin-top:-15px;
}

.product_preview [class*="_prev"]{ left : 0px; }
.product_preview [class*="_next"]{ right : 0px; }

[data-large-image]{ cursor: pointer; }

.owl_carousel .entry{ border-radius: 0px; }

.owl_carousel .owl-item > *{ background-clip: border-box; }

.owl_carousel:not(.widgets_carousel) .owl-item:not(.first) > *{ border-left-color: transparent; }

.widgets_carousel:not(:last-child) .owl-item > *{ border-radius: 3px 3px 0 0; }

.widgets_carousel:last-child .owl-item > *{ border-radius: 3px; }

.owl_carousel:last-child .owl-item.first > *{ border-radius: 3px 0 0 3px; }

.owl_carousel:last-child .owl-item.last > *{ border-radius: 0 3px 3px 0; }

.owl_carousel:not(:last-child) .owl-item.first > *{ border-radius: 3px 0 0 0; }

.owl_carousel:not(:last-child) .owl-item.last > *{ border-radius: 0 3px 0 0; }

.carousel_with_six_items .product_price{ margin-bottom: 9px; }

