/* ------------------------------------------------

		1. Default stylesheets

------------------------------------------------ */

body{
    font:400 14px/21px 'Roboto', sans-serif;
    color:#777;
    background-color: #0000b2;
    background-attachment: fixed;
}

a{
    color:#333;
}

a, button{
    -webkit-transition:color .7s ease, border-color .7s ease, background-color .7s ease;
    transition:color .7s ease, border-color .7s ease, background-color .7s ease;
}

a:hover{
    color:#0000b2;
    text-decoration: none;
}

a:hover, button:hover{
    -webkit-transition:color .1s ease, border-color .1s ease, background-color .1s ease;
    transition:color .1s ease, border-color .1s ease, background-color .1s ease;
}

::selection{
    background:#0000b2;
    color:#fff;
}

::-moz-selection{
    background:#0000b2;
    color:#fff;
}

/*::-webkit-scrollbar{*/
/*width:10px;*/
/*background:#e7e7e7;*/
/*}*/

/*::-webkit-scrollbar-thumb{*/
/*background: #0000b4;*/
/*border:1px solid rgba(0,0,0,.2);*/
/*border-radius:5px;*/
/*box-shadow:1px 1px 1px 0 rgba(0,0,0,.2);*/
/*}*/

::-webkit-input-placeholder{
    color:#b2b2b2;

    -webkit-transition: text-indent .5s ease, color .5s ease;
    transition: text-indent .5s ease, color .5s ease;
}

input::-moz-placeholder{
    color:#b2b2b2;
    opacity:1;
}

/*::ms-input-placeholder{*/
/*color:#b2b2b2;*/
/*}*/

[placeholder]:focus::-webkit-input-placeholder{
    text-indent:10em;
    color:transparent;
}

.queryloader__overlay__bar{
    top: 0 !important;
    margin-top:0px !important;
}

audio,
iframe[src*="soundcloud.com"]{ width: 100%; }