/* ------------------------------------------------

		14. Footer

------------------------------------------------ */

#footer h4{ margin-bottom: 18px; }

#footer .widget + .widget{ margin-top:40px; }

#footer .tweet_list{ margin-top: -20px; }

#footer .widget .list_of_links > li:first-child > a,
#footer .widget .list_of_entries > li:first-child,
#footer .widget .list_of_infoblocks > li:first-child,
#footer .widget .products_list_widget > li:first-child{ padding-top: 0px; }

.footer_section{
    padding-top:40px;
    padding-bottom:25px;
}

.footer_section_2{
    padding-top:20px;
    padding-bottom:15px;
}

.footer_section_3{
    padding-top:25px;
    padding-bottom: 25px;
}

.footer_section_4{
    padding-top: 35px;
    padding-bottom: 35px;
}

.footer_logo{ margin-bottom:15px; }

.payments{
    display: inline-block;
    margin-bottom:10px;
}

.footer_nav{ margin-bottom: 10px; }

.footer_nav > ul{ display: inline-block; }

#footer .streamlined_title{ margin-bottom: 15px; }

.streamlined{
    display: table;
    width:100%;
}

.streamlined > *{ display: table-cell; }

.streamlined > *:first-child{
    padding:9px 20px 0 0;
    min-width:100px;
}

.streamlined_type_2 > *:first-child{
    padding:9px 20px 0 0;
    float:left;
}

.streamlined_type_2 > *:last-child{ overflow: hidden; }

.footer_message{
    font-size: 13px;
    line-height: 18px;
    padding:0 150px;
}

.about_us{ margin-bottom: 25px; }

#footer .list_of_entries li{
    padding:19px 0;
    border-bottom: 1px solid #eaeaea;
}

#footer .list_of_entries .entry{
    background: transparent;
    padding: 0px;
    border: none;
}

#footer .list_of_entries li:last-child{
    padding-bottom: 8px;
    border-bottom: none;
}

#footer .list_of_entries .entry_title{
    margin-top: 2px;
    font-weight: 600;
}

#footer.type_4 {
    background-color: #0000b4;
    color: #fff;
}

#footer.type_4 a, #footer.type_4 h4 { color: #fff;}

#footer.type_4 a:hover { border-bottom: 1px dashed; }

#footer.type_4 .newsletter.subscribe button {border: 1px solid;}