
/* ------------------------------------------------

		2. General classes

------------------------------------------------ */

.align_center { text-align: center; }

.align_left	  { text-align: left; }

.align_right  { text-align: right; }

.alignleft  { float: left; }

.alignright { float: right; }

img.alignleft{ margin:0 20px 15px 0; }

img.alignright{ margin: 0 0 15px 20px; }

img.aligncenter{ margin-bottom: 15px; }

.wrapper{ overflow:hidden; }

.boxed_layout,
.wide_layout{
    overflow-x: hidden;
    background: #fff;
    margin: auto;
}

.boxed_layout{ width: 1200px; }

.wide_layout{ width: 100%; }

.section_offset{ position: relative; }

.section_offset:not(:last-child){ margin-bottom:40px; }

[class*="page_wrapper"]{
    background:#f8f8f8;
}

.page_wrapper{
    padding:40px 0 60px;
}

.secondary_page_wrapper{
    padding: 10px 0 60px;
}

.main_product .title a{ color:#0000b4; }

.main_product .title a:hover{ color:#0000b2; }

.thumbnail{
    display: block;
    overflow: hidden;
}

.thumbnail img{
    -webkit-backface-visibility:hidden;
    -webkit-transition:-webkit-transform .4s ease;
    transition:transform .4s ease;
}

.thumbnail:hover img{
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.theme_box{
    position: relative;
    padding: 20px 19px;
    border: 1px solid #eaeaea;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 3px;
}

.theme_box:not(:last-child){ border-radius: 3px 3px 0 0; }

.theme_box + .theme_box:not(:last-child){
    border-top-width: 0px;
    border-radius: 0px;
}

.theme_box + .theme_box:last-child{
    border-top-width: 0px;
    border-radius: 0 0 3px 3px;
}

.top_box,
.bottom_box{
    padding: 15px 19px;
    background: #fff;
    border: 1px solid #eaeaea;
    border-left: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
}

.bottom_box{
    border-top: none;
    border-radius: 0 0 3px 3px;
}

.top_box{
    border-bottom: none;
    border-radius: 3px 3px 0 0;
}

.dropdown{
    visibility: hidden;
    perspective: 1000px;

    -webkit-transform-style:preserve-3d;
    -ms-transform-style:preserve-3d;
    transform-style:preserve-3d;

    -webkit-transform:perspective(1000px);
    transform:perspective(1000px);
}

/*firefox only*/
@-moz-document url-prefix(){
    .social_feeds .tweet_list{
        perspective: 600px;
        transform-style:preserve-3d;
        transform:perspective(600px);
    }
}

.dropdown.visible{ z-index: 105; }

.dropdown.children > .animated_item,
.dropdown:not(.children) .animated_item{
    -webkit-transform-origin:50% 0 0;
    -ms-transform-origin:50% 0 0;
    transform-origin:50% 0 0;

    -webkit-transform: rotate3d(0, 1, 0, 90deg);
    -ms-transform: rotate3d(0, 1, 0, 90deg);
    transform: rotate3d(0, 1, 0, 90deg);

    -webkit-transition: -webkit-transform .4s ease;
    transition: transform .4s ease;

    -webkit-backface-visibility:hidden;
}

.dropdown.children.active > .animated_item,
.dropdown:not(.children).active .animated_item{
    -webkit-transform: rotate3d(0, 1, 0, 0deg);
    -ms-transform: rotate3d(0, 1, 0, 0deg);
    transform: rotate3d(0, 1, 0, 0deg);
}

.on_the_sides{
    display: table;
    table-layout: fixed;
    width: 100%;
}

.on_the_sides > [class*="_side"]{
    display: table-cell;
    vertical-align: middle;
}

/*.on_the_sides > .left_side{ width: 70%; }*/

.on_the_sides > .right_side{ text-align: right; }

.on_the_sides > .right_side > *{
    display: inline-block;
    text-align: left;
}

.video_wrap,
.proportional_frame{
    position: relative;
    height: 0px;
    padding-bottom: 58%;
}

.video_wrap > iframe,
.proportional_frame > iframe{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.video_wrap.alignleft,
.video_wrap.alignright{
    padding-bottom: 31%;
    width: 48.63%;
    margin-right: 20px;
}

.video_wrap.alignleft{ margin-right: 20px; }

.video_wrap.alignright{ margin-left: 20px; }

.proportional_frame{ padding-bottom: 77%; }

.v_centered > *{
    display: inline-block;
    vertical-align: middle;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.on_the_sides h1,
.on_the_sides h2,
.on_the_sides h3,
.on_the_sides h4,
.on_the_sides h5,
.on_the_sides h6{
    padding-top: 0px;
    margin-bottom: 0px;
}

.v_centered > *:not(:first-child){ margin-left:10px; }

.v_baseline > *{
    display: inline-block;
    vertical-align: baseline;
}

.v_baseline > *:not(:first-child){ margin-left: 8px; }

.relative{ position: relative; }

.hide{ display: none; }

.show{ display: block; }

.transparent{ opacity:0; }

.invisible{
    opacity: 0;
    visibility: hidden;
}

.visible{
    opacity:1;
    visibility: visible;
}