/* ------------------------------------------------

		4. Header

------------------------------------------------ */

#header{ width: inherit; }

.top_part{
    padding-top:8px;
    padding-bottom:8px;
}

.logo{ display: inline-block; margin: -40px 0 -14px 0; }
.logo img { height: 138px; }

#header .topbar,
.top_part p{ font-size:13px; }

#header .topbar li{ z-index: 121; }

#topbar_menu {
    height: 20px;
    border-bottom: 2px solid #65baed;
    background: #F8F8F3;
}

.bottom_part{
    padding-top:29px;
    padding-bottom:32px;
    width: inherit;
}

.bottom_part .label {
    color: rgba(255,255,255,0.6);
    font-weight: 600;
}

.bottom_part .site_settings .current { font-weight: 600; }
.bottom_part .site_settings .current:hover { border-bottom: 1px dashed;}

.call_us{
    margin-top:3px;
    margin-bottom:15px;
}

.call_us > *{ display: inline-block; }

.call_us span{
    font-size:13px;
    vertical-align: bottom;
}

.call_us b{
    font-size: 16px;
    color:#0000b2;
    vertical-align: 0px;
}

.shop_links{
    margin-top:5px;
    margin-bottom:10px;
}

.shop_links .small_link{
    display: inline-block;
    margin-left:9px;
}

.login,.shopping_cart_wrap{
    display: inline-block;
    vertical-align: middle;
}

.login_box{
    color: #b2b2b2;
    font-size: 13px;
    line-height: 16px;
    width: 165px;
    height: 44px;
    padding: 0 10px 0 45px;
    border: 1px solid #eaeaea;
    position: relative;
    border-radius: 3px;
}

.login_box::before{
    content: '\f002';
    color: #0000b4;
    font-size: 24px;
    font-family: 'fontello';
    position: absolute;
    top: 50%;
    left: 17px;
    margin-top: -7px;
}

.login_box::after{
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.login_box_inner{
    margin-top: 16px;
    display: inline-block;
    vertical-align: middle;
}

.login_with > .left_side{ width: 30%; }

.account_bar > li{ float: left; }
.account_bar > li:not(:first-child){ margin-left: 4px; }

.search_category{
    width:185px;
    position: relative;
    z-index:117;
    cursor:pointer;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.open_categories{
    padding:10px 30px 10px 13px;
    color:#333;
}

.open_categories::after{
    position: absolute;
    top:50%;
    margin-top:-9px;
    right:16px;
    font-size:13px;
    color:#b2b2b2;
}


/* --------------------------------------------
			4.4 Header type 2
	-------------------------------------------- */

#header.type_2 .topbar{ margin-bottom:15px; }

#header.type_2 #open_shopping_cart,
#header.type_4 #open_shopping_cart,
#header.type_5 #open_shopping_cart,
#header.type_6 #open_shopping_cart{ margin: 0; }

#header.type_2 .site_settings{ margin-bottom: 8px; }

/* --------------------------------------------
			4.5 Header type 4
	-------------------------------------------- */

#header.type_4 .bottom_part {
    padding: 20px 0;
    background-color: #0000B2;
    color: #fff;
}

#header.type_4 .call_us:only-child{ margin-top: 25px; }

#header.type_4 .call_us h3 {
    color: #fff;
    margin-bottom: 0;
}

#header.type_4 .call_us .header-callback { border-bottom: 1px dashed; }

#header.type_4 .site_settings{
    margin-top: 10px;
    margin-bottom: 8px;
    color: #fff;
}

#header.type_4 .topbar a{ color: #fff;}
#header.type_4 .topbar a:hover { border-bottom: 1px dashed; }

#header.type_4 .topbar > .has_submenu > .submenu{
    left: auto;
    right: 0px;
}

#header.type_4 .topbar > .has_submenu > .submenu .submenu{
    left: auto;
    right: 100%;
    margin:0 -1px 0 0;
}

#header.type_4 .submenu .submenu > li:first-child > a{ border-radius: 3px 0 0 0; }

#header.type_4 #main_navigation_wrap {
    color: #0000b4;
}

/* --------------------------------------------
			4.6 Header type 5
	-------------------------------------------- */

#header.type_5 .site_settings{
    margin-top:5px;
    margin-bottom: 12px;
}

/* --------------------------------------------
			4.7 Header type 6
	-------------------------------------------- */

#header.type_6 .top_part{ background: #f8f8f8; }

#header.type_6 .call_us:only-child{ margin-top: 20px; }

#header.type_6 .main_header_row{
    display: table;
    width: 100%;
}

#header.type_6 .main_header_row > *{
    display: table-cell;
    float: none;
    vertical-align: middle;
}