/* ------------------------------------------------

		8. Main

------------------------------------------------ */

.social_feeds{
    position: fixed;
    top: 190px;
    right: 4px;
    z-index: 121;
}

.social_feeds > li{
    position: relative;
    margin-bottom: 4px;
}

.social_feeds > li > [class*="btn"]:hover{
    -webkit-animation:jump .3s ease;
    animation:jump .3s ease;
}

.social_feeds .dropdown{
    position: absolute;
    top: 0px;
    right: 100%;
    width:263px;
    margin-right:2px;
}

.social_feeds .title{
    font-size: 20px;
    margin-bottom:0px;
}

.social_feeds .animated_item:not(:first-child){ border-top:none; }

.social_feeds .animated_item{
    background:#fff;
    border:1px solid #eaeaea;
    padding:15px 19px;
}

.social_feeds .animated_item:not(.tweet_even):first-child{ border-radius: 3px 3px 0 0; }

.social_feeds .animated_item:not(.tweet_even):last-child{ border-radius: 0 0 3px 3px; }

.social_feeds .proportional_frame{ margin:15px 0 10px; }

.banner{ display: block; }

.banner:not(:last-child){ margin-bottom: 15px; }

.banner img{ border-radius: 3px; }

.banner + .banner{ margin-top:30px; }

/* 404 page */

.container_404{
    width: 555px;
    margin: auto;
    text-align: center;
}

.container_404 p:not(.not_found_404){ margin-bottom: 25px; }

.container_404 [class*="button"]{ margin-bottom: 40px; }

.container_404 form [class*="button"]{ margin-bottom: 0px; }

.not_found_404{
    color: #ff4557;
    font-size: 240px;
    font-weight: 900;
    line-height: .79em;
    padding-top: 35px;
}

.not_found{
    font-size: 30px;
    text-transform: uppercase;
}

/* cookies & old ie alert message */

.cookie_message,
.ie_alert_message{
    padding: 8px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 123;
    color: #fff;
}

.cookie_message [class*="button"],
.ie_alert_message [class*="button"]{
    padding-left: 10px;
    padding-right: 10px;
}

.cookie_message{ background: rgba(51, 51, 51, .8); }
.ie_alert_message{ background: rgba(255, 69, 86, .8); }

.ie_alert_message .left_side,
.cookie_message .left_side{ width: auto; }

.ie_alert_message .right_side{ width: 120px; }
.cookie_message .right_side{ width: 240px; }

.ie_alert_message i[class|="icon"]{
    font-size: 24px;
    color: #333;
    vertical-align: middle;
    position: relative;
    z-index: 1;
}

.ie_alert_message i[class|="icon"]::after{
    content: "";
    width: 8px;
    height: 16px;
    background: #fff;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    margin: -1px 0 0 -4px;
}

.ie_alert_message *{ vertical-align: baseline; }

/* layout */

.table_layout{
    display: table;
    width: 100%;
    table-layout: fixed;
}

.table_row{ display: table-row; }

.table_cell{
    display: table-cell;
    position: relative;
    z-index: 102;
    padding: 19px;
}

.table_cell::after,
.main_product::after{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fff;
    border: 1px solid #eaeaea;
    z-index: -1;
}

/* top left corner */
.table_row:first-child > .table_cell:first-child::after{ border-radius: 3px 0 0 0; }

.table_layout:last-child .table_row:only-child > .table_cell:first-child::after{ border-radius: 3px 0 0 3px; }

/* bottom right corner */
.table_layout:last-child .table_row:last-child > .table_cell:last-child::after{ border-radius: 0 0 3px 0; }

.table_layout:last-child .table_row:only-child > .table_cell:last-child::after{ border-radius: 0 3px 3px 0; }

/* top right corner */
.table_layout:not(:last-child) > .table_row:first-child > .table_cell:last-child::after,
.table_row:first-child:not(:only-child) > .table_cell:last-child::after{ border-radius: 0 3px 0 0; }

/* bottom left corner */
.table_layout:last-child .table_row:last-child:not(:only-child) > .table_cell:first-child::after{ border-radius: 0 0 0 3px; }

.table_row:not(:last-child) > .table_cell::after{ border-bottom-width: 0px; }

.table_cell:not(:first-child)::after{ border-left-width: 0px; }

/* list_view */

.list_view,
.list_view .table_row,
.list_view .table_cell{
    display: block;
}

.list_view .table_cell:empty{ display: none; }

.list_view .table_cell::after{ border-left-width: 1px; }

.list_view .table_row:last-child > .table_cell:not(:last-child)::after{ border-bottom-width: 0px; }

/* top left and right corners */
.table_layout.list_view .table_row:first-child > .table_cell:first-child::after{ border-radius: 3px 3px 0 0; }

/* bottom left and right corners */
.list_view:last-child .table_row:last-child > .table_cell:last-child::after{ border-radius: 0 0 3px 3px; }

.list_view .table_row:not(:only-child):first-child > .table_cell:last-child::after,
.list_view .table_row:not(:only-child):last-child > .table_cell:first-child::after,
.theme_box + .table_layout .table_row:first-child > .table_cell:first-child::after,
.theme_box + .table_layout .table_row:first-child > .table_cell:last-child::after,
.top_box + .table_layout .table_row:first-child > .table_cell:first-child::after,
.top_box + .table_layout .table_row:first-child > .table_cell:last-child::after{ border-radius: 0px; }

.top_box + .table_layout:last-child:not(.list_view) .table_row:only-child > .table_cell:first-child::after{ border-radius: 0 0 0 3px; }

.top_box + .table_layout:last-child:not(.list_view) .table_row:only-child > .table_cell:last-child::after{ border-radius: 0 0 3px 0; }

.theme_box + .table_layout:not(.list_view) .table_row:first-child > .table_cell::after,
.theme_box + .table_layout.list_view .table_row:first-child > .table_cell:first-child::after{ border-top-width: 0px; }

.table_layout .product_item,
.table_layout .entry,
.table_layout blockquote{
    position: static;
    background: transparent;
    border: none;
    padding: 0px;
}

.table_layout blockquote.type_2{
    padding-left: 13px;
}

.arrivals .arrivals_column{ display: table-cell; }

.arrivals .table_layout .table_row:first-child > .table_cell:first-child::after,
.arrivals .table_layout .table_row:last-child > .table_cell:first-child::after{ border-radius: 0px !important; }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .table_layout{ border-collapse: collapse; }

    .table_cell,.main_product{
        border: 1px solid #eaeaea;
        background-color: #fff;
        background-clip: padding-box;
    }

    .main_product{ border-right-width: 0px !important; }

    .table_cell::after,
    .main_product::after{
        display: none !important;
    }

    .table_layout.list_view .table_row > .table_cell{ border-bottom-width: 0px !important; }

    .table_layout.list_view .table_row:last-child > .table_cell:last-child{ border-bottom-width: 1px !important; }

    aside .owl-stage-outer{ width: calc(100% + 1px); }
}