/* ------------------------------------------------

		7. Modal windows

------------------------------------------------ */

.modal_window{
    width:790px;
    background:#fff;
    padding:35px 20px 40px;
    position:relative;
    border-radius: 3px;
}

.arcticmodal-close{
    color: #b2b2b2;
    top: 5px;
    right: 10px;
}

.arcticmodal-close::before{ font-size:22px; }

#login_mw{
    width:370px;
    padding-top:40px;
    padding-bottom: 25px;
}

#login_mw hr{ margin:20px -20px 15px; }

#login_mw header{ margin-bottom: 20px; }

.promo_title{
    font-size: 36px;
    letter-spacing: -1px;
    margin-bottom: 27px;
}

#promo_mw .form_caption{ margin-bottom:25px; }

#promo_mw .do_not_show_checkbox{ margin-top:21px !important; }

.in_stock{ color: #54bd45; }