/* ------------------------------------------------

		11. Product pages

------------------------------------------------ */

.specifications > li:not(:first-child){ border-top: 1px solid #eaeaea; }

.specifications > li > span{
    display: inline-block;
    width: 175px;
}

.specifications > li{ padding: 8px 0; }

.reviews > li:first-child,
.specifications > li:first-child{ padding-top: 0px; }

.specifications > li:last-child{ padding-bottom: 0px; }

.reviews{ margin-bottom: 15px; }

.reviews > li{
    padding: 15px 0;
    border-bottom: 1px solid #eaeaea;
}

.review-rates{
    float: left;
    font-size: 13px;
    padding: 2px 35px 0 0;
}

.review-rates > li{ margin-bottom: 2px; }

.review-rates .name{ width: 42px; }

.review-body{
    overflow: hidden;
    border-left: 1px solid #eaeaea;
    padding: 5px 0 4px 20px;
}

.review-meta{
    font-size: 13px;
    color: #b2b2b2;
    margin-bottom: 10px;
}

.review-meta h5{ margin-bottom: 0px; }

.rate_table,
.manufacturer_nav{ margin-top: 15px; }

.rate_table th{ text-align: center; }

.rate_table th, .rate_table td{
    font-size: 13px;
    height: 36px;
    vertical-align: middle;
    padding: 5px 10px;
}

.rate_table td:not(:first-child){ text-align: center; }