/* ------------------------------------------------

		10. Shop

------------------------------------------------ */

.manufacturer .thumbnail,
.subcategory .thumbnail{ margin-bottom: 15px; }

.subcategories{ margin-top: 25px !important; }

.subcategory figcaption{ line-height: 18px; }

