/* ------------------------------------------------

		13. Sidebar

------------------------------------------------ */

aside h3{ padding-top:8px; }

aside .section_offset:not(:last-child){ margin-bottom:33px; }

.has_mega_menu{ z-index:103; }

aside .middle_btn:not([class*="icon_btn"]){
    padding-left: 17px;
    padding-right: 17px;
}

/* --------------------------------------------
				13.1 Widgets
	-------------------------------------------- */

aside .infoblock:not(:last-child){ margin-bottom: 30px; }



/* --------------------------------------------
					13.1.1 Tags cloud
		-------------------------------------------- */

.tags_container{
    background-color: #fff;
    border: 1px solid #eaeaea;
    padding:19px 19px 16px;
    border-radius: 3px;
}

.tags_cloud{
    overflow: hidden;
    margin-left: -3px;
}

.tags_cloud > li{
    float: left;
    margin: 0 0 4px 4px;
}

.tags_cloud > li [class*="button"]{
    padding-left: 10px;
    padding-right: 10px;
}

/* --------------------------------------------
					13.1.2 Product list
		-------------------------------------------- */

aside .products_list_widget > li{
    border: 1px solid #eaeaea;
    background-color: #fff;
    padding:19px !important;
}

.products_list_widget > li{
    overflow: hidden;
    padding: 19px 0px;
}

.products_list_widget > li:not(:first-child){ border-top-width: 0px; }


.products_list_widget:last-child > li:first-child:last-child{ border-radius: 3px; }

.products_list_widget > li:first-child{ border-radius: 3px 3px 0 0; }

.products_list_widget:last-child > li:last-child{ border-radius: 0 0 3px 3px; }

.products_list_widget > li:not(:last-child){ border-bottom: 1px solid #eaeaea; }

.products_list_widget .product_thumb{
    float: left;
    margin-right: 15px;
}

.products_list_widget .product_title{
    line-height: 18px;
    display: block;
    margin: 2px 0 5px;
}

input[type="checkbox"] + .reorder_checkbox{
    color: #333;
    margin-top: 6px !important;
}

/* --------------------------------------------
					13.1.3 Recent Comments
		-------------------------------------------- */

.recentcomment:first-child{ border-radius: 3px 3px 0 0; }

.recentcomment:last-child{ border-radius: 0 0 3px 3px; }

.recentcomments_list:last-child > .recentcomment:first-child:last-child{ border-radius: 3px; }

.recentcomment{
    line-height: 18px;
    position: relative;
    overflow: hidden;
    padding: 19px;
    background-color: #fff;
    border: 1px solid #eaeaea;
}

.recentcomment:not(:last-child){ border-bottom: none; }

.recentcomment .comment{ margin-top: 6px; }

.recentcomment .comment::after,
.recentcomment .comment::before{ content:'"'; }

.posted_by{
    font-size: 13px;
    color: #b2b2b2;
    margin-bottom: 6px;
}