/* ------------------------------------------------

		12. Sliders

------------------------------------------------ */

[class*="layer_"]{ line-height: 1em; }

.layer_1,
.layer_3{
    font-weight: 900;
    color: #0000b2;
}

.layer_2{
    font-weight: 300;
    letter-spacing: -1px;
    color:#333;
}

.layer_5{
    letter-spacing: -1px;
    font-weight: 300;
    text-transform: uppercase;
    color:#fff;
}

.layer_6,
.layer_8{
    font-weight: 900;
    color: #fff;
}

.layer_9{
    letter-spacing: -1px;
    color:#fff;
    font-weight: 300;
}

.layer_10{
    color:#fff;
    line-height: 20px;
    text-align: right;
    white-space: pre-wrap;
}

.ls-v5 .ls-nav-prev,
.ls-v5 .ls-nav-next,
.tparrows.default,
.rsDefault .rsArrow{
    color:#fff;
    background: rgba(51, 51, 51, .5);
    text-align: center;
    border-radius:3px;

    -webkit-transition:background-color .4s ease, opacity .4s linear !important;
    transition:background-color .4s ease, opacity .4s linear !important;
}

.tparrows.default:hover,
.rsDefault .rsArrow:hover,
.ls-v5 .ls-nav-prev:hover,
.ls-v5 .ls-nav-next:hover{ background:rgba(51,51,51,1); }

.tparrows.default::after,
.ls-v5 .ls-nav-next::after,
.ls-v5 .ls-nav-prev::after,
.rsDefault .rsArrowRight::after,
.rsDefault .rsArrowLeft::after{
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.tparrows.default::before,
.ls-v5 .ls-nav-next::before,
.ls-v5 .ls-nav-prev::before,
.rsDefault .rsArrowRight::before,
.rsDefault .rsArrowLeft::before{
    display: inline-block;
    vertical-align: middle;
    font-family: 'fontello';
    font-size:28px;
    margin-top:-1px;
}

.ls-v5 .ls-nav-next::before,
.tp-rightarrow.default::before,
.rsDefault .rsArrowRight::before{ content: "\efbf"; }

.ls-v5 .ls-nav-prev::before,
.tp-leftarrow.default::before,
.rsDefault .rsArrowLeft::before{ content: "\efbe"; }