/* --------------------------------------------
			5.7 Accordions and Toggles
	-------------------------------------------- */

.toggle, .accordion{
    border: 1px solid #eaeaea;
    background: #fff;
    border-radius: 3px;
}

.toggle > dt,
.accordion > dt{
    position: relative;
    border-bottom: 1px solid #eaeaea;
    color: #333;
    padding: 16px 65px 13px 19px;
    cursor: pointer;
    font-size: 18px;

    -webkit-transition: border-color .7s ease;
    transition: border-color .7s ease;
}

.toggle > dt::after,
.accordion > dt::after{
    content: '\f011';
    text-align: center;
    font-size: 15px;
    font-family: 'fontello';
    line-height: 30px;
    color: #0000b2;
    position: absolute;
    right: 19px;
    top: 50%;
    margin-top: -15px;
    display: block;
    width: 30px;
    height: 30px;
    background: #f8f8f8;
    border-radius: 3px;

    -webkit-transition: background-color .7s ease, color .7s ease;
    transition: background-color .7s ease, color .7s ease;
}

.toggle > dt:hover::after,
.accordion > dt:hover::after{
    color: #fff;
    background: #0000b2;

    -webkit-transition: background-color .1s ease, color .1s ease;
    transition: background-color .1s ease, color .1s ease;
}

.toggle > dt.active::after,
.accordion > dt.active::after{ content: '\ece8'; }

.toggle > dt.active,
.accordion > dt.active{ border-color: transparent; }

.toggle > dd,
.accordion > dd{
    padding:3px 19px 23px 18px;
    border-bottom: 1px solid #eaeaea;
}

.toggle > dt:last-of-type,
.toggle > dd:last-of-type,
.accordion > dt:last-of-type,
.accordion > dd:last-of-type{ border-bottom: none; }