/* --------------------------------------------
			5.6 Alert boxes
	-------------------------------------------- */

[class*="alert_box"]{
    position: relative;
    border-width: 1px;
    border-style: solid;
    background: #fff;
    padding:14px 55px 13px 20px;
    border-radius: 3px;
}

.warning,
.alert_box_warning{ color: #ff7b1a; }

.error,
.out_of_stock,
.alert_box_error{ color: #ff0000; }

.success,
.alert_box_success{ color: #269300; }

.info,
.alert_box_info{ color: #0000b2; }

[class*="alert_box"] .close{
    color: #b2b2b2;
    right: 19px;
    top: 50%;
    margin-top: -11px;
}

[class*="alert_box"] .close::before{ font-size: 22px; }

form [class*="alert_box"]{
    margin-top:10px;
    -webkit-backface-visibility: hidden;
}

.newsletter [class*="alert_box"]{
    clear: left;
    margin-top: 0px;
    margin-bottom: 10px;
    bottom: -10px;
}

[class*="alert_box"] + [class*="alert_box"]{ margin-top: 10px; }