/* --------------------------------------------
			5.3 Countdown
	-------------------------------------------- */

.countdown{ color:#ff4557; }

.countdown .countdown-section{
    display: block;
    float:left;
}

.countdown .countdown-row{ overflow: hidden; }

.countdown:not(.simple){ text-align: center; }

.countdown:not(.simple) .countdown-row{ display: inline-block; }

.countdown:not(.simple) .countdown-section:not(:last-child){ margin-right:2px; }

.countdown:not(.simple) .countdown-section{ width:35px; }

.countdown:not(.simple) .countdown-amount{
    display: block;
    font-weight:700;
    background:#f8f8f8;
    padding:1px 0;
    margin-bottom:1px;
    border-radius:3px 3px 0 0;
}

.countdown:not(.simple) .countdown-period{
    display: block;
    font-size:10px;
    line-height: 16px;
    background: #f8f8f8;
    border-radius:0 0 3px 3px;
}

.countdown.simple{
    display: inline-block;
    font-size: 13px;
}

.countdown.simple .countdown-row{ display: block; }

.countdown.simple .countdown-amount{
    font-weight: 600;
    font-size: 14px;
    display: inline-block;
    margin-right: 2px;
}

.countdown.simple .countdown-section:not(:last-child){ margin-right: 8px; }