/* --------------------------------------------
			5.11 Call to actions
	-------------------------------------------- */

.call_to_action{
    position: relative;
    z-index: 101;
    padding: 26px 20px;
}

.call_to_action > *{ line-height: 20px; }

.call_to_action .title{
    font-size: 30px;
    margin-bottom: 4px;
    line-height: 1em;
    font-weight: 900;
}

.call_to_action p{ font-size: 16px; }

.call_to_action:not(.type_2) .title{ color: #0000b2; }

.call_to_action.type_2{
    background-color: #0000b4;
    border-radius: 3px;
}

.call_to_action.type_2 p,
.call_to_action.type_2 .title{ color: #fff; }

.call_to_action.type_2 [class*="button"]{
    color: #0000b2;
    background: #fff;
}