/* --------------------------------------------
			5.1 Infoblocks
	-------------------------------------------- */

.infoblock.type_1{
    line-height: 18px;
    padding:25px 21px 24px 67px;
}

.infoblock.type_1 i[class|="icon"]{
    display: block;
    position: absolute;
    left:20px;
    top:50%;
    margin-top:-15px;
    font-size:30px;
}

.infoblock.type_2{
    text-align: center;
    padding:30px 10px;
}

.infoblock.type_2 .caption{ padding:0 28px; }

.infoblock.type_2 [class*="button"]{
    margin-top:15px;

    -webkit-transition: color .7s ease, background-color .7s ease;
    transition: color .7s ease, background-color .7s ease;
}

.infoblock.type_2:hover [class*="button"]{
    background:#0000b2;

    -webkit-transition: color .1s ease, background-color .1s ease;
    transition: color .1s ease, background-color .1s ease;
}

.infoblock.type_2 i[class|="icon"]{
    display: block;
    font-size:48px;
    margin:0 0 17px;
}

.infoblock.type_3{ padding: 30px 20px 25px; }

.infoblock.type_3 i[class|="icon"]{
    float: left;
    margin-right: 20px;
    font-size: 48px;
}

.infoblock.type_3 i[class|="icon"]::before{
    margin-left: 0px;
    margin-right: 0px;
}

.infoblock.type_3 .caption{
    overflow: hidden;
    padding-top: 5px;
    margin-bottom: 12px;
    line-height: 20px;
}

.infoblocks_container{
    position: relative;
    z-index: 101;
}

.call_to_action:not(.type_2)::before,
.infoblocks_container::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    z-index: -1;
    height: 100%;
    left: -4000px;
    right: -4000px;
    background: #efefef;
}

.infoblocks_container .infoblock{
    padding-top: 33px;
    padding-bottom: 33px;
    border-radius: 0px;
}

.infoblocks_container .infoblocks_wrap > li{
    width: 33.333%;
    margin: 0;
}

.infoblocks_wrap.section_offset:not(:last-child){ margin-bottom: 35px; }

.infoblocks_wrap > li{
    float:left;
    width:19.64%;
    margin-bottom:5px;
    margin-right:0.43%;
}

.infoblocks_wrap.six_items > li{ width:16.30%; }

.infoblocks_wrap.six_items > li:nth-child(6n),
.infoblocks_wrap.five_items > li:nth-child(5n){ margin-right: 0%; }

.infoblock .caption{
    color:#0000b2;
    text-transform: uppercase;
}

.infoblock a,
.infoblock p,
.infoblock .caption,
.infoblock i[class|="icon"]{
    -webkit-transition:color .7s ease;
    transition:color .7s ease;
}

.infoblock{
    display: block;
    background:#efefef;
    position: relative;
    border-radius:3px;

    -webkit-transition: color .7s ease, background-color .7s ease;
    transition: color .7s ease, background-color .7s ease;
}

.infoblock i[class|="icon"]{ color:#0000b2; }

.infoblock .caption{ font-weight: 600; }

.infoblock:hover{
    background:#0000b4;
    border-bottom: none!important;
    -webkit-transition: background-color .1s ease;
    transition: background-color .1s ease;
}

.infoblock:hover a,
.infoblock:hover p,
.infoblock:hover .caption,
.infoblock:hover i[class|="icon"]{
    color:#fff;

    -webkit-transition: color .1s ease;
    transition: color .1s ease;
}

.infoblocks_wrap.six_items .infoblock{
    padding-left: 50px;
    padding-right: 10px;
}

.infoblocks_wrap.six_items .infoblock i[class|="icon"]{ left: 5px; }

.list_of_infoblocks li:not(:last-child){ border-bottom: 1px solid #eaeaea; }

.list_of_infoblocks li{
    position: relative;
    padding:19px 0 16px 40px;
}

.list_of_infoblocks li i[class|="icon"]{
    color: #333;
    position: absolute;
    top: 19px;
    left: 0;
    font-size: 30px;
}

.list_of_infoblocks li i[class|="icon"]::before{ margin: 0px; }

.list_of_infoblocks h6{
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.list_of_infoblocks p{
    font-size: 13px;
    line-height: 18px;
}