/* Labels */

[class*="label_"]{
    position: absolute;
    top:24px;
    left:24px;
    padding: 6px 7px 5px;
    color:#fff;
    font-weight: 900;
    font-size: 13px;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    border-radius:0 3px 3px 3px;
}

[class*="label_"].percentage{ padding-bottom:4px; }

[class*="label_"].percentage > div{
    font-size: 18px;
    font-weight: 700;
}

.label_offer{ background:#ff4557; }
.label_new{ background:#0000b4; }
.label_hot,.label_popular{ background:#0000b4; }
.label_bestseller{ background: #9b59b6; }
.label_soldout{ background: #b2b2b2; }

/* Rating */

.pags::after,
.payments::after,
.tw_actions::after,
.social_btns::after,
.account_bar::after,
.theme_box::after,
form > ul > li:after,
.lightbox_list::after,
.rating::after,
.buttons_row::after,
.infoblocks_wrap::after,
.comment > article::after,
.pricing_tables_container::after{
    content: "";
    display: block;
    clear: both;
}

.product_info .rating{ margin-top:3px; }

.rating li{
    float:left;
    width:14px;
    height: 14px;
    color:#fccd36;
    cursor: pointer;
    position: relative;
    z-index: 1;
    line-height: 13px
}

.rating li::after,
.rating li::before{
    font-family: 'fontello';
    position: absolute;
    left: 0;
}

.rating li::before{
    content:"\eb0f";
    z-index:101;
    font-size: 13px;
}

.rating li::after{
    content: "\e8a9";
    font-size: 12px;
    opacity: 0;
    z-index: 102;
}

.rating .active::after{ opacity:1; }

/* arrivals main product */

.main_product{
    width:266px;
    padding-top:26px;
    padding-bottom:26px;
    position: relative;
    z-index: 102;
    border: none;
    background: transparent;
}

.main_product::after{
    border-right-width: 0px !important;
    border-radius: 3px 0 0 3px;
}

.main_product .title{
    text-transform: uppercase;
    padding-top: 0px;
    margin-bottom:7px;
}

.main_product img{ margin-bottom:15px; }

.main_product p { margin-bottom:25px; }

.product_tags{
    color:#333;
    margin-bottom:15px;
}

/* product items in table layout */

.table_layout:not(.list_view_products) .product_item .full_description,
.table_layout:not(.list_view_products) .product_item .actions,
.table_layout.list_view_products .product_item .description,
.table_layout.list_view_products .product_item .actions_wrap [class*="button_"]:not(.quick_view){ display: none; }

.table_layout.list_view .product_item{
    display: table;
    table-layout: fixed;
    width: 100%;
}

.table_layout.list_view_products .product_item > *{ display: table-cell; }

.table_layout.list_view_products .product_item .image_wrap{
    width: 246px;
    margin: 0;
    padding: 0;
}

.table_layout.list_view_products .product_item [class*="label_"]{
    top: 14px;
    left: 14px;
}

.table_layout.list_view .product_item .actions{
    padding-top: 5px;
    width: 22%;
}

.col-lg-8 .table_layout.list_view .product_item .actions,
.col-md-8 .table_layout.list_view .product_item .actions,
.col-sm-8 .table_layout.list_view .product_item .actions,
.col-lg-9 .table_layout.list_view .product_item .actions,
.col-md-9 .table_layout.list_view .product_item .actions,
.col-sm-9 .table_layout.list_view .product_item .actions{ width: 150px; }

.table_layout.list_view_products .product_item .product_title{
    font-size: 18px;
    line-height: 22px;
    display: block;
    margin-bottom: 4px;
}

.full_description{ padding:4px 30px 0 20px; width: 100%; }

.actions .product_price{
    font-size: 20px;
    margin-bottom: 10px;
}

.actions .add_to_cart{ margin-bottom: 5px; }

.actions .buttons_col > li:not(:first-child){ margin-top: 9px; }

.learn_more{
    display: inline-block;
    margin-top: 15px;
}