/* --------------------------------------------
			5.10 Lightbox
	-------------------------------------------- */

.lightbox_list{ margin-bottom: 5px; }

.lightbox_list > li{
    float: left;
    margin:0 10px 10px 0;
}

a[class*="fancybox_item"]{
    display: block;
    position: relative;
    overflow: hidden;
}

a[class*="fancybox_item"] > .helper_icon{
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    width: 37px;
    height: 37px;
    opacity: 0;
    margin: -18px 0 0 -18px;
    background: url("/static/images/lightbox_view_icon.png") no-repeat;

    -webkit-transition: opacity .7s ease;
    transition: opacity .7s ease;
}

.helper_icon::after,
.helper_icon::before,
.helper_icon > [class*="helper_"]{
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, .5);
    height:2000%;
}

.helper_icon::after,
.helper_icon::before{
    content: "";
    width:100%;
    left: 0;
}

.helper_icon > .helper_left,
.helper_icon > .helper_right{
    width: 2000%;
    top: -1000%;
}

.helper_icon > .helper_left{ right: 100%; }
.helper_icon > .helper_right{ left: 100%; }

.helper_icon::before{ bottom: 100%; }
.helper_icon::after{ top: 100%; }

a[class*="fancybox_item"]:hover > .helper_icon{
    opacity: 1;

    -webkit-transition: opacity .1s ease;
    transition: opacity .1s ease;
}