/* --------------------------------------------
			5.8 Pagination
	-------------------------------------------- */

.pags > li{ float: left; }

.pags > li:first-child > a{ border-radius: 3px 0 0 3px; }

.pags > li:first-child > a::before,
.pags > li:last-child > a::before{
    display: inline-block;
    position: relative;
    top: -1px;
    font-size: 13px;
    font-family: 'fontello';
}

.pags > li:first-child > a::before{ content: '\eab8'; }
.pags > li:last-child > a::before{ content: '\eab9'; }

.pags > li:last-child > a{ border-radius: 0 3px 3px 0; }

.pags > li:not(:last-child) > a{ border-right: none; }

.pags > li > a{
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 14px;
    line-height: 30px;
    border: 1px solid #eaeaea;
    background: #fff;
}

.pags > li:not(:last-child) > a::after{
    content: "";
    position: absolute;
    z-index: 1;
    right: -1px;
    top: -1px;
    bottom: -1px;
    display: block;
    width: 1px;
    background: #0000b4;
    opacity: 0;

    -webkit-transition: opacity .7s ease;
    transition: opacity .7s ease;
}

.pags > li.active:not(:last-child) > a::after,
.pags > li:not(:last-child) > a:hover::after{
    opacity: 1;

    -webkit-transition: opacity .1s ease;
    transition: opacity .1s ease;
}

.pags > li.active > a,
.pags > li > a:hover{
    color: #fff;
    background: #0000b4;
    border-color: #0000b4;
}
