/* --------------------------------------------
			5.12 Pricing tables
	-------------------------------------------- */

.pricing_table{
    width: 25%;
    background: #fff;
    border: 1px solid #eaeaea;
    text-align: center;
}

.pricing_table header{
    position: relative;
    color: #0000b2;
    padding: 15px 19px 13px;
    font-size: 18px;
    border-bottom: 1px solid #eaeaea;
}

.pricing_table .pt_price{
    color: #0000b2;
    padding: 13px 19px 9px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #eaeaea;
}

.pricing_table .price{
    font-size: 36px;
    font-weight: 600;
    line-height: 1em;
}

.pricing_table .pt_list > li{ padding: 16px 19px 12px; }

.pricing_table .pt_list > li:not(:last-child){ border-bottom: 1px solid #eaeaea; }

.pricing_table footer{
    padding: 14px 19px;
    border-top: 1px solid #eaeaea;
}

.pricing_table [class*="label_"]{
    top: 5px;
    left: 5px;
}

.pricing_table:first-child{ border-radius: 3px 0 0 3px; }

.pricing_table:last-child{ border-radius: 0 3px 3px 0; }

.pricing_table:first-child:last-child{ border-radius: 3px; }

.pricing_table.free header,
.pricing_table.free .pt_price{ color: #269300; }

.pricing_tables_container > .pricing_table{ float: left; }

.pricing_tables_container > .pricing_table:not(:first-child){ border-left-width: 0px; }