/* --------------------------------------------
			5.2 Product items
	-------------------------------------------- */

.seller,
.product_item{
    position: relative;
    padding: 19px;
    background: #fff;
    border: 1px solid #eaeaea;
    background-clip: padding-box;
}

.product_item .image_wrap{
    position: relative;
    display: block;
    margin:-20px -20px 0px;
    padding:20px 20px 10px;
}

s{
    font-weight: 400;
    color:#b2b2b2;
}

.product_item .countdown{ margin-bottom:14px; }

.product_item .description{ line-height: 18px; }

.product_item .product_info{ margin-top: 7px; }

.product_info .product_price:only-child{ float: none; }

.product_item .image_wrap{ text-align: center; }

.product_price{
    font-size:16px;
    color:#0000b2;
}

.product_item .bottombar{
    font-size: 12px;
    margin-top: 10px;
}

.product_item .product_info + [class*="button"]{ margin-top: 17px; }

.product_item .topbar{ font-size: 13px; }

.product_category{
    display: inline-block;
    margin-bottom: 13px;
}

.product_reviews{ margin-bottom: 10px; }

/* Product actions (default type) */

.actions_wrap{ position: absolute; }

.product_item:not(.type_3) .actions_wrap{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;

    -webkit-transition: opacity .7s ease;
    transition: opacity .7s ease;
}

.actions_wrap > .centered_buttons{
    width: 67%;
    margin: auto;
    display: inline-block;
    vertical-align: middle;
}

.actions_wrap > .centered_buttons > [class*="button"]:not(:first-child){ margin-top: 5px; }

.actions_wrap::after{
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.product_item:not(.type_3) .actions_wrap .add_to_compare,
.product_item:not(.type_3) .actions_wrap .add_to_wishlist{
    position:absolute;
    bottom: 21px;
}

.product_item:not(.type_3) .actions_wrap .add_to_wishlist{ left: 23px; }
.product_item:not(.type_3) .actions_wrap .add_to_compare{ right: 23px; }

.product_item:hover .actions_wrap{
    opacity: 1;

    -webkit-transition: opacity .1s ease;
    transition: opacity .1s ease;
}

/* --------------------------------------------
				5.2.1 Product item type 2
		-------------------------------------------- */

.product_item.type_2{ padding-bottom: 75px; }

.product_item.type_2 .buttons_row{
    position: absolute;
    bottom: 20px;
}

.product_item.type_2 .buttons_row .add_to_wishlist,
.product_item.type_2 .buttons_row .add_to_compare{
    opacity: 0;

    -webkit-transition: background-color .7s ease, color .7s ease, opacity .7s ease;
    transition: background-color .7s ease, color .7s ease, opacity .7s ease;
}

.product_item.type_2:hover .buttons_row .add_to_wishlist,
.product_item.type_2:hover .buttons_row .add_to_compare{
    opacity: 1;

    -webkit-transition: background-color .7s ease, color .7s ease, opacity .1s ease;
    transition: background-color .7s ease, color .7s ease, opacity .1s ease;
}

.product_item.type_2:hover .buttons_row .add_to_wishlist:hover,
.product_item.type_2:hover .buttons_row .add_to_compare:hover{
    -webkit-transition: background-color .1s ease, color .1s ease, opacity .1s ease;
    transition: background-color .1s ease, color .1s ease, opacity .1s ease;
}

/* --------------------------------------------
				5.2.2 Product item type 3
		-------------------------------------------- */

.product_item.type_3 .image_wrap{ overflow: hidden; }

.product_item.type_3 .actions_wrap{
    left:1px;
    right:1px;
    bottom: 0;
    background-color: #fff;
    padding:3px 19px 13px;

    -webkit-transition: -webkit-transform .7s ease;
    transition: transform .7s ease;

    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
}

.product_item.type_3 .actions_wrap [class*="button"]{ margin:3px; }

.product_item.type_3:hover .actions_wrap{
    -webkit-transition: -webkit-transform .1s ease;
    transition: transform .1s ease;

    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
}