/* --------------------------------------------
			5.9 Progress bars
	-------------------------------------------- */

.progress_bar{
    padding: 2px;
    border: 1px solid #eaeaea;
    position: relative;
    border-radius:3px;
}

.progress_bar:not(:last-child){ margin-bottom: 14px; }

.progress_bar > .pb_inner{
    height: 6px;
    background: #0000b4;
}

.pb_title{ margin-bottom: 5px !important; }

