/* --------------------------------------------
				5.2.3 Single product
		-------------------------------------------- */

.single_product{
    max-width: 360px;
    float: left;
    margin-right: 30px;
}

.single_product_description{
    position: relative;
    padding-top: 10px;
    overflow: hidden;
}

.image_preview_container{
    margin-bottom: 10px;
    position: relative;

    -webkit-backface-visibility: hidden;
}

.image_preview_container *{ -webkit-backface-visibility: hidden; }

.open_qv{
    position: absolute;
    bottom: 5px;
    right: 5px;
    z-index: 109;
}

.zoomContainer{ z-index: 108; }

.single_product_description .topbar{ font-size: 13px; }

.single_product_description .v_centered > *:not(:first-child){ margin-left:8px; }

.single_product_description h3{ margin-bottom: 5px; }

.single_product_description .page-nav{
    bottom: auto;
    top: 5px;
}

table.product_info{
    width: auto;
    table-layout: auto;;
}

table.product_info td{
    border: none;
    padding: 0 0 3px;
    background: transparent;
}

table.product_info tr:last-child td{ padding-bottom: 0; }

table.product_info td:first-child{ padding-right:10px; }

.description_section{ margin-bottom:14px; }

.description_section_2:not(:last-child){ margin-bottom:10px; }

.single_product_description hr{ margin:0 0 15px; }

.single_product_description .buttons_row{ margin-top:30px; }

.single_product .product_preview{ margin-bottom:20px; }

.single_product_description .product_price{
    font-size: 22px;
    line-height: 22px;
    margin-bottom:15px;
}

[class*="description_section"] .title{ min-width:30px; }

.product_price_table{ border: none; }

.product_price_table td{
    border-color: #f8f8f8;
    border-width: 2px;
    padding-top: 12px;
    padding-bottom: 13px;
}

.product_price_table .price{
    padding-top: 2px;
    font-size: 20px;
    font-weight: 600;
}

.special_price{ color: #0000b2; }
.old_price{ color: #b2b2b2; }
.save{ color: #ff4557; }

.product_price_table tfoot{
    font-size: 13px;
    font-weight: 400;
}

.product_price_table tfoot td{ padding:6px 10px; }

.product_price_table .countdown_title{ margin-right: 7px; }

.hurry_message{
    padding: 5px 0;
    font-size: 13px;
    font-weight: 600;
    color: #333;
}

.hurry_message > span{ color: #ff4557; }

.theme_box .image_preview_container [class*="label_"]{
    top: 5px;
    left: 5px;
}

.theme_box .product_price_table td{
    background: #f8f8f8;
    border-color: #fff;
}

.widgets_carousel .single_product_description .buttons_row{ margin-top: 20px; }