/* --------------------------------------------
			5.4 Tabs & Tour sections
	-------------------------------------------- */

.ts_nav,
.tabs_nav{
    position: relative;
    z-index:101;
}

.tabs_nav{ margin-right:65px; }

.ts_nav{
    width: 196px;
    float: left;
}

.ts_containers_wrap,
.tab_containers_wrap{
    position: relative;
    z-index:100;
}

.tab_containers_wrap{ top:-1px; }

.ts_containers_wrap{
    left: -1px;
    overflow: hidden;
}

.ts_containers_wrap,
.tab_containers_wrap{
    -webkit-transition: height .4s ease;
    transition: height .4s ease;
}

.tabs .tab_container,
.tour_section .ts_container{
    position: absolute;
    top:0;
    left:0;
    width:100%;

    -webkit-transition:opacity .7s ease, visibility .7s ease;
    transition:opacity .7s ease, visibility .7s ease;
}

.tour_section .ts_container,
.tabs:not(.products) .tab_container{
    padding: 19px;
    overflow: hidden;
    background: #fff;
    border: 1px solid #eaeaea;
    border-radius: 0 3px 3px 3px;
}

.tab_container .owl-item.first > *{ border-top-left-radius:0px !important; }

.ts_nav > li > a,
.tabs_nav > li > a{
    padding:14px 17px 15px;
    display: block;
    background:#fff;
    border:1px solid #eaeaea;
}

.tabs_nav.theme_menu > li > a{
    padding: 11px 40px 10px 19px !important;
}

.tabs_nav.theme_menu > li > a::before{
    right: 0px;
}

.ts_nav > li:not(:last-child){ margin-bottom: 5px; }

.ts_nav > li > a{ border-radius: 3px 0 0 3px; }

.tabs:not([class*="type"]) .tabs_nav li:not(:last-child),
.tabs.type_2 .tabs_nav li:not(:last-child){ margin-right:5px; }

.tabs:not([class*="type"]) .tabs_nav li,
.tabs.type_2 .tabs_nav li{ float:left; }

.tabs:not([class*="type"]) .tabs_nav > li > a,
.tour_section:not([class*="type"]) .ts_nav > li > a{ font-size:22px; }

.tabs.type_2 .tabs_nav > li > a,
.tour_section.type_2 .ts_nav > li > a{
    font-size: 16px;
    padding:9px 17px 10px;
}

.tabs.many_tabs .tabs_nav > li > a{
    padding-left: 8px;
    padding-right: 8px;
}

.ts_nav > li.active > a,
.ts_nav > li:hover > a,
.tabs_nav > li.active > a,
.tabs_nav > li:hover > a{
    color:#fff;
    background:#0000b2;
    border-color:#0000b2;
}

.tabs:not(.type_3) .tabs_nav li a{ border-radius:3px 3px 0 0; }

.tabs.type_3{
    display: table;
    table-layout: fixed;
    width: 100%;
}

.tabs.type_3 .tabs_nav{
    width:228px;
    position: relative;
}

.tabs.type_3 .tabs_nav::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-width: 0 0 1px 1px;
    border-style: solid;
    border-color: #eaeaea;
    border-bottom-left-radius: 3px;
}

.tabs.type_3 .tabs_nav,
.tabs.type_3 .tab_containers_wrap{ display: table-cell; }

.tabs.type_3 .tab_containers_wrap{ top: 0px; }

.tabs.type_3 .tabs_nav li a{ border-right-width: 0px; }

.tabs.type_3 .tabs_nav li:first-child a{ border-radius: 3px 0 0 0; }
.tabs.type_3 .tabs_nav li:last-child a{ border-radius: 0; }

.tabs.type_3 .image_wrap{ padding-bottom:13px; }

.tabs.type_3 .tab_containers_wrap .tab_container .owl-item.first > *{ border-bottom-left-radius: 0px; }