/* --------------------------------------------
			5.5 Twitter feed
	-------------------------------------------- */

.tweet_list > li:not(.tweet_odd){
    padding: 20px 0 16px;
    border-bottom: 1px solid #eaeaea;
}

.tweet_inner{ margin-bottom:12px; }

.tweet_text a{ word-break:break-all; }

.tw_actions{ font-size:13px; }

.tweet_list_wrap p:empty{ display: none; }

.tw_actions > li:not(:last-child){
    position: relative;
    margin-right:10px;
}

.tw_actions > li:not(:last-child)::after{
    content: "";
    display: block;
    width:3px;
    height:3px;
    position: absolute;
    right:-7px;
    top:50%;
    margin-top:-1px;
    background:#777;
    border-radius:50%;
}

.social_feeds .tweet_list{ margin-top: 0px; }

.social_feeds .tweet_list > li:not(.tweet_odd){ padding: 15px 19px; }

.tweet_list_wrap + .twitter_follow{ margin-top: 15px; }