<!DOCTYPE html>
<html lang="ru">
<head>
  <title>МегаАптека | Купить лекарства </title>
  <meta charset="utf-8">
  <meta name="author" content="">
  <meta name="description" content="">
  <meta name="keywords" content="">

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <link rel="shortcut icon" type="image/x-icon" href="/static/images/fav_icon.ico">

  <link href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,300,300italic,700,700italic,900,900italic&subset=latin,cyrillic'
        rel='stylesheet' type='text/css'>

  <!--<link rel="stylesheet" href="/static/css/animate.css">-->
  <link rel="stylesheet" href="/static/css/fontello.css">
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">

  <%= yield :stylesheets if content_for? :stylesheets %>

  <link rel="stylesheet" href="/static/js/owlcarousel/owl.carousel.css">
  <link rel="stylesheet" href="/static/js/arcticmodal/jquery.arcticmodal.css">

  <script src="/static/js/modernizr.js"></script>
  <!--[if lte IE 9]>
  <link rel="stylesheet" type="text/css" href="/static/css/oldie.css">
  <![endif]-->

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="front_page">

<div class="wide_layout">
  <header id="header" class="type_4">
    <%= render partial: 'shared/header' %>
  </header>

  <% if content_for? :container %>
       <%= yield :container %>
  <% else %>
      <div class="page_wrapper">
        <div class="container">
        <%= yield %>
        </div>
      </div>
  <% end  %>

  <footer id="footer" class="type_4">
    <div class="container">
      <%= yield :footer %>
    </div>
    <%= render partial: 'shared/footer' %>
  </footer>
</div>

<%= render partial: 'shared/sidebar_buttons' %>

<script src="/static/js/jquery-2.1.1.min.js"></script>
<script src="/static/js/queryloader2.min.js"></script>
<script src="/static/js/owlcarousel/owl.carousel.min.js"></script>
<script src="/static/js/jquery.countdown.plugin.min.js"></script>
<script src="/static/js/jquery.countdown.min.js"></script>
<script src="/static/js/arcticmodal/jquery.arcticmodal.js"></script>
<script src="/static/js/colorpicker/colorpicker.js"></script>

<%= yield :javascripts if content_for? :javascripts %>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

<script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js"></script>

</body>
</html>