<% content_for :container do %>
    <div class="secondary_page_wrapper">
      <div class="container">

        <%= render partial: "shared/breadcrumbs" %>
        <div class="row">

          <aside class="col-md-3 col-sm-4">

            <%= render partial: "sidebar_menu" %>

            <section class="section_offset">
              <h3 class="offset_title">Рассылка акций</h3>
              <%= render partial: "shared/newsletter" %>
            </section>

            <section class="section_offset">
              <h3 class="offset_title">Отзывы</h3>
              <%= render partial: "shared/testimonials" %>
            </section>

          </aside>

          <main class="col-md-9 col-sm-8">
            <%= yield %>
          </main>

        </div><!--/ .row-->

      </div>
    </div>
<% end  %>

<% content_for :stylesheets do %>
    <link rel="stylesheet" href="/static/css/jquery-ui.min.css">
<% end %>

<% content_for :javascripts do %>
    <script src="/static/js/jquery-ui.min.js"></script>
<% end %>

<% content_for :footer do %>
    <%= render partial: 'shared/features_block' %>
<% end %>

<%= render template: "layouts/application" %>